ropoflow_workflows_backup2025/07/0qXfRsYmN3Oog0by.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Sincronizar Ropofy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar Dismerca",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar Aburramotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar CentroMotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar Credimotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar Credimovil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar Movimotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar Motocredito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar Motomovil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar Motos del dariend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar Moto racing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar SabanaMotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar  Evg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar  Moldex",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizar  Autecoblue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T14:53:04.251Z",
  "id": "0qXfRsYmN3Oog0by",
  "isArchived": false,
  "meta": null,
  "name": "Sincronizar customValues API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/config/customValues",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        480
      ],
      "id": "2c689c93-0263-47f1-bea8-ba018e19a1ad",
      "name": "Webhook",
      "webhookId": "6642a090-6f63-457d-88eb-7832e1c15a3b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "3YGgxqve6cABjE0KCjLs",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6b9839ec-00c2-4f00-bd49-bfefc29be510"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17258690-3881-4089-9457-1338bad879de",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "NQS1rz0YlFTvbXDBx74N",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fdf417e9-1942-41fa-b24f-e09204fea05e",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "znUbwYRqEjRvLx8ZqxLQ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3acccece-da62-4f8d-a9b0-1b9af870f1d6",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "8HL3cRXrHdfv3hyAhFEe",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b8af6cb-643a-4bba-bf2c-02369ad72b00",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "roX1ZpTw16PvN6jSQxGY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "005f9d1a-8a3b-4d5f-8ad5-4f66a1de1322",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "Wqi9fyYUjZI216QVbi2c",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94cdd05e-520d-4f11-aec4-d4d43086eaa5",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "6J8wEWyF2zFLR4Q64kCj",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "968beef7-8483-4281-addb-c956a249e7b0",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "qVpMdtE7WD1nK7gwZWEB",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2036f8f0-48a9-444a-a03d-6ea673a4edff",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "AhqSOjIFwuUWs3E1ikX7",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a38cb711-9514-4b7d-812b-9b87bc565e7b",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "nShm5z1fHOEAcUN0n7fS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0235cf05-cc52-41b6-a7a5-cf24e7534173",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "sEDLGnojxQ5ylRAhEtKr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06122622-5b00-468a-8faf-af26bf7aa3c4",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "Ffry84qYbqnjjBqByHvr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee823825-919a-4e6c-8fb6-55a86824a4ee",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "7MILzH0XhlEZiyb1OVYN\t",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "29bce201-feb4-4ed4-8091-5c6a972f2096",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "OLEfHKjZkezljsd63c48\t",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "92bbe49a-90bd-4e1a-90f5-dfc51b30ca4b",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "rJVQMiUdtLFfBO0aToyU\t",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        180,
        320
      ],
      "id": "284568d0-485e-4e40-a764-95486d36568b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lcKgTAtdV1Rm0DkB",
          "mode": "list",
          "cachedResultName": "Sincronizar CustomValues Dismerca"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        800,
        180
      ],
      "id": "b81bc8de-e159-4a59-b9b9-973d850a471e",
      "name": "Sincronizar Dismerca"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "g8nfHsBbBmuUtaGR",
          "mode": "list",
          "cachedResultName": "Sincronizar customValues Ropofy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        440,
        120
      ],
      "id": "da783197-3e34-4214-b478-48a9d75cda44",
      "name": "Sincronizar Ropofy"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LACWA59Mbe5TRebM",
          "mode": "list",
          "cachedResultName": "Sincronizar CustomValues Moldex"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        560,
        1180
      ],
      "id": "24b9130b-6a86-4ee9-b558-7d40a74de466",
      "name": "Sincronizar  Moldex"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MVpbGcopTHefVp4m",
          "mode": "list",
          "cachedResultName": "Sincronizar CustomValues Autecoblue"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        320,
        1160
      ],
      "id": "d47db9fb-cbd0-4a70-ad51-b7c3f6992d4b",
      "name": "Sincronizar  Autecoblue"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0nJLKhGvuUtvh0zr",
          "mode": "list",
          "cachedResultName": "Sincronizar Customvalues EVG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        1220
      ],
      "id": "5af39409-3efb-4ca3-9c10-3e7ab8b8f1c4",
      "name": "Sincronizar  Evg"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PduU3SfYNtNO6cA6",
          "mode": "list",
          "cachedResultName": "Sincronizar Customvalues Haku"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        540,
        900
      ],
      "id": "7da297ac-f00d-4dcd-96d1-ed20faef7539",
      "name": "Sincronizar SabanaMotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PduU3SfYNtNO6cA6",
          "mode": "list",
          "cachedResultName": "Sincronizar Customvalues Haku"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1180,
        1120
      ],
      "id": "c5c82f02-8bfa-4119-8c09-c62dd876377d",
      "name": "Sincronizar Moto racing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PduU3SfYNtNO6cA6",
          "mode": "list",
          "cachedResultName": "Sincronizar Customvalues Haku"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1060,
        920
      ],
      "id": "283f4b9c-f0f0-45b3-aff3-576a1744d69f",
      "name": "Sincronizar Motos del dariend"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PduU3SfYNtNO6cA6",
          "mode": "list",
          "cachedResultName": "Sincronizar Customvalues Haku"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1280,
        840
      ],
      "id": "a91f8705-443e-4e44-b374-b010e49c99aa",
      "name": "Sincronizar Motomovil"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PduU3SfYNtNO6cA6",
          "mode": "list",
          "cachedResultName": "Sincronizar Customvalues Haku"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        980,
        700
      ],
      "id": "73b7b830-173f-4702-ace9-ad9acd0fd2d3",
      "name": "Sincronizar Motocredito"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PduU3SfYNtNO6cA6",
          "mode": "list",
          "cachedResultName": "Sincronizar Customvalues Haku"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1200,
        640
      ],
      "id": "532c9b94-fb45-4e35-9fbf-5a9ddfeaffa1",
      "name": "Sincronizar Movimotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PduU3SfYNtNO6cA6",
          "mode": "list",
          "cachedResultName": "Sincronizar Customvalues Haku"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1440,
        560
      ],
      "id": "8c5cc31a-7bb2-4ee4-9255-4b96de775d8d",
      "name": "Sincronizar Credimovil"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PduU3SfYNtNO6cA6",
          "mode": "list",
          "cachedResultName": "Sincronizar Customvalues Haku"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1640,
        480
      ],
      "id": "fe5060cd-8251-4569-98e7-8bb423e06635",
      "name": "Sincronizar Credimotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PduU3SfYNtNO6cA6",
          "mode": "list",
          "cachedResultName": "Sincronizar Customvalues Haku"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        920,
        380
      ],
      "id": "39ac8724-6184-484f-aec8-cc5f88a2ef74",
      "name": "Sincronizar CentroMotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PduU3SfYNtNO6cA6",
          "mode": "list",
          "cachedResultName": "Sincronizar Customvalues Haku"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1080,
        280
      ],
      "id": "69190a20-de4c-4209-9927-20235c208cc4",
      "name": "Sincronizar Aburramotos"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-28T12:34:13.529Z",
  "versionId": "95e55e37-c1a8-41af-88c0-c4c07d95fe20"
}