ropoflow_workflows_backup2025/07/AyUXFl3jsCU9uNxN.json
{
  "active": false,
  "connections": {
    "Search contacts con filtros avanzados1": {
      "main": [
        [
          {
            "node": "consultar contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar contacto1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear contactos": {
      "main": [
        [
          {
            "node": "Guardar contacto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar conversaciones": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "guardar mensajes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "consultar mensajes": {
      "main": [
        [
          {
            "node": "guardar mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar conversaciones": {
      "main": [
        [
          {
            "node": "consultar mensajes",
            "type": "main",
            "index": 0
          },
          {
            "node": "guardar conversaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar contacto": {
      "main": [
        [
          {
            "node": "consultar conversaciones",
            "type": "main",
            "index": 0
          },
          {
            "node": "formatear contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search contacts con filtros avanzados1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create chat message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-22T12:25:15.041Z",
  "id": "AyUXFl3jsCU9uNxN",
  "isArchived": false,
  "meta": null,
  "name": "Sincronización Contactos Autecoblue",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "returnAll": true,
        "pageLimit": 100,
        "dateFilters": {
          "startDate": "={{ $json.body.date }}",
          "endDate": "={{ $json.body.endDate }}",
          "filterByDateAdded": true,
          "filterByDateUpdated": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -660,
        260
      ],
      "id": "a79988f1-48e2-41dd-a39e-06afcb269171",
      "name": "Search contacts con filtros avanzados1",
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "Xt6tvndwmTlNAjfi",
          "name": "Auteco Blue MEX - app autecoblue bi"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.values }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        0
      ],
      "id": "e4b5a5f8-6a0c-47d8-a8ab-5a6429bf9cad",
      "name": "Guardar contacto1",
      "credentials": {
        "postgres": {
          "id": "dYSRkbNNFYOotBwk",
          "name": "Autecoblue DB bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        440,
        360
      ],
      "id": "0ce595a7-24e2-4503-a1f6-0757215c63d1",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        440,
        160
      ],
      "id": "75fddfcf-7f8f-442c-b652-f51128c4ab10",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst clean = (val) => (val ?? '').toString().replace(/'/g, \"''\");\n\nconst query = {\n  text: `\n  INSERT INTO public.contacts (\n    \"id\", \"location_id\", \"contact_name\", \"first_name\", \"first_name_raw\", \"last_name\", \"last_name_raw\",\n    \"company_name\", \"email\", \"phone\", \"dnd\", \"type\", \"source\", \"assigned_to\", \"city\",\n    \"state\", \"postal_code\", \"address1\", \"date_added\", \"date_updated\", \"date_of_birth\", \"business_id\",\n    \"tags\", \"followers\", \"country\", \"website\", \"additional_emails\", \"attributions\", \"custom_fields\",\n    \"process\", \"dnd_settings\"\n  ) VALUES (\n    $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17, $18, $19, $20, $21, $22,\n    $23::jsonb, $24::jsonb, $25, $26, $27::jsonb, $28::jsonb, $29::jsonb, $30, $31::jsonb\n  )\n  ON CONFLICT (\"id\") DO UPDATE SET\n    \"location_id\" = EXCLUDED.\"location_id\",\n    \"contact_name\" = EXCLUDED.\"contact_name\",\n    \"first_name\" = EXCLUDED.\"first_name\",\n    \"first_name_raw\" = EXCLUDED.\"first_name_raw\",\n    \"last_name\" = EXCLUDED.\"last_name\",\n    \"last_name_raw\" = EXCLUDED.\"last_name_raw\",\n    \"company_name\" = EXCLUDED.\"company_name\",\n    \"email\" = EXCLUDED.\"email\",\n    \"phone\" = EXCLUDED.\"phone\",\n    \"dnd\" = EXCLUDED.\"dnd\",\n    \"type\" = EXCLUDED.\"type\",\n    \"source\" = EXCLUDED.\"source\",\n    \"assigned_to\" = EXCLUDED.\"assigned_to\",\n    \"city\" = EXCLUDED.\"city\",\n    \"state\" = EXCLUDED.\"state\",\n    \"postal_code\" = EXCLUDED.\"postal_code\",\n    \"address1\" = EXCLUDED.\"address1\",\n    \"date_added\" = EXCLUDED.\"date_added\",\n    \"date_updated\" = EXCLUDED.\"date_updated\",\n    \"date_of_birth\" = EXCLUDED.\"date_of_birth\",\n    \"business_id\" = EXCLUDED.\"business_id\",\n    \"tags\" = EXCLUDED.\"tags\",\n    \"followers\" = EXCLUDED.\"followers\",\n    \"country\" = EXCLUDED.\"country\",\n    \"website\" = EXCLUDED.\"website\",\n    \"additional_emails\" = EXCLUDED.\"additional_emails\",\n    \"attributions\" = EXCLUDED.\"attributions\",\n    \"custom_fields\" = EXCLUDED.\"custom_fields\",\n    \"process\" = EXCLUDED.\"process\",\n    \"dnd_settings\" = EXCLUDED.\"dnd_settings\"\n  `,\n  values: [\n    d.id,\n    d.locationId,\n    d.fullNameLowerCase,\n    d.firstName,\n    d.firstNameLowerCase,\n    d.lastName,\n    d.lastNameLowerCase,\n    d.companyName,\n    d.email,\n    d.phone,\n    d.dnd || false,\n    d.type,\n    d.source,\n    d.assignedTo,\n    d.city,\n    d.state || '',\n    d.postalCode || '',\n    d.address1 || '',\n    d.dateAdded,\n    d.dateUpdated,\n    d.dateOfBirth || '',\n    d.businessId,\n    JSON.stringify(d.tags || []),\n    JSON.stringify(d.followers || []),\n    d.country,\n    d.website || '',\n    JSON.stringify(d.additionalEmails || []),\n    JSON.stringify(d.attributions || {}),\n    JSON.stringify(d.customFields || []),\n    'ropoflow',\n    JSON.stringify(d.dndSettings || {})\n  ]\n};\n\nreturn {\n  text: query.text,\n  values: query.values\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1b2d8156-2333-4e03-b1eb-5f4f5aeca147",
      "name": "formatear contactos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.conversations(\n  \"id\",\n  \"locationId\",\n  \"inbox\",\n  \"unreadCount\",\n  \"assignedTo\",\n  \"contactId\",\n  \"type\",\n  \"updated_at\",\n  \"created_at\",\n  \"deleted\",\n  \"starred\",\n  \"sync_with_webhook\",\n  \"process\"\n)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.locationId }}',\n  '{{ $json.inbox ?? '' }}',\n  {{ $json.unreadCount ?? 0 }},\n  '{{ $json.assignedTo ?? '' }}',\n  '{{ $json.contactId ?? '' }}',\n  '{{ $json.type ?? '' }}',\n  to_timestamp({{ $json.dateUpdated ?? 0 }} / 1000.0),\n  to_timestamp({{ $json.dateAdded ?? 0 }} / 1000.0),\n  false,\n  false,\n  false,\n  false\n)\nON CONFLICT (\"id\")\nDO UPDATE SET\n  \"locationId\" = EXCLUDED.\"locationId\",\n  \"inbox\" = EXCLUDED.\"inbox\",\n  \"unreadCount\" = EXCLUDED.\"unreadCount\",\n  \"assignedTo\" = EXCLUDED.\"assignedTo\",\n  \"contactId\" = EXCLUDED.\"contactId\",\n  \"type\" = EXCLUDED.\"type\",\n  \"updated_at\" = EXCLUDED.\"updated_at\",\n  \"created_at\" = EXCLUDED.\"created_at\",\n  \"deleted\" = EXCLUDED.\"deleted\",\n  \"starred\" = EXCLUDED.\"starred\",\n  \"sync_with_webhook\" = EXCLUDED.\"sync_with_webhook\",\n  \"process\" = EXCLUDED.\"process\";\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        260
      ],
      "id": "64162ad5-6564-422b-a501-d46ab61da11a",
      "name": "guardar conversaciones",
      "credentials": {
        "postgres": {
          "id": "dYSRkbNNFYOotBwk",
          "name": "Autecoblue DB bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.messages(\n  \"id\",\n  \"type\",\n  \"messageType\",\n  \"locationId\",\n  \"contactId\",\n  \"conversationId\",\n  \"dateAdded\",\n  \"body\",\n  \"direction\",\n  \"status\",\n  \"contentType\",\n  \"attachments\",\n  \"meta\",\n  \"source\",\n  \"userId\",\n  \"updated_at\",\n  \"created_at\"\n)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.type ?? '' }}',\n  '{{ $json.messageType ?? '' }}',\n  '{{ $json.locationId ?? '' }}',\n  '{{ $json.contactId ?? '' }}',\n  '{{ $json.conversationId ?? '' }}',\n  {{ $json.dateAdded ? `'${$json.dateAdded}'::timestamptz` : 'NULL' }},\n  '{{ ($json.body ?? '').replace(/'/g, \"''\") }}',\n  '{{ $json.direction ?? '' }}',\n  '{{ $json.status ?? '' }}',\n  '{{ $json.contentType ?? '' }}',\n  '{{ JSON.stringify($json.attachments ?? []) }}'::jsonb,\n  '{{ JSON.stringify($json.meta ?? {}) }}'::jsonb,\n  '{{ $json.source ?? '' }}',\n  '{{ $json.userId ?? '' }}',\n  '{{ $json.dateAdded ?? '' }}',\n  '{{ $json.dateAdded ?? '' }}'\n)\nON CONFLICT DO NOTHING;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        500
      ],
      "id": "87dac649-d022-48a4-acba-0168435ee45d",
      "name": "guardar mensajes",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "dYSRkbNNFYOotBwk",
          "name": "Autecoblue DB bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "conversationId": "={{ $json.id }}",
        "locationId": "={{ $json.locationId }}",
        "limit": 100,
        "returnAll": true,
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        0,
        500
      ],
      "id": "8b45af8e-759e-453d-bd7b-c1bff1184a19",
      "name": "consultar mensajes",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "Xt6tvndwmTlNAjfi",
          "name": "Auteco Blue MEX - app autecoblue bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "conversation",
        "contactId": "={{ $json.id }}",
        "locationId": "={{ $json.locationId }}",
        "limit": 100,
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 700
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -220,
        400
      ],
      "id": "65672486-e4ae-4838-96b5-43277d932b85",
      "name": "consultar conversaciones",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "Xt6tvndwmTlNAjfi",
          "name": "Auteco Blue MEX - app autecoblue bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $json.id }}",
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 700
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -440,
        260
      ],
      "id": "29e8bb1e-6079-41aa-8d32-d22ede4af8a6",
      "name": "consultar contacto",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "Xt6tvndwmTlNAjfi",
          "name": "Auteco Blue MEX - app autecoblue bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        260
      ],
      "id": "147491ba-1cf4-4a57-b652-7d4408e093e6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:ec02bea368b3402882b2d90fa1e9ee6a@thread.v2",
          "mode": "list",
          "cachedResultName": "📊🔔 Notificaciones sync data - Power BI (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Aec02bea368b3402882b2d90fa1e9ee6a%40thread.v2/0?tenantId=e67529fc-68be-4f5b-aa27-edbad4a44b14"
        },
        "message": "=Se lanzó una sincronización de contactos para <strong>autecoblue</strong>, rango de fechas: {{ $json.body.date }} -> {{ $json.body.endDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -660,
        20
      ],
      "id": "6255f599-3fa9-471b-bcd8-0dcf79e7a2ae",
      "name": "Create chat message",
      "webhookId": "eadd561f-7289-4b70-8d5d-5cd4dfef3a47",
      "executeOnce": true,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "ZN6rkGlpvuVkKKom",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:ec02bea368b3402882b2d90fa1e9ee6a@thread.v2",
          "mode": "list",
          "cachedResultName": "📊🔔 Notificaciones sync data - Power BI (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Aec02bea368b3402882b2d90fa1e9ee6a%40thread.v2/0?tenantId=e67529fc-68be-4f5b-aa27-edbad4a44b14"
        },
        "message": "=Se sincronizó correctamente la información de contactos para <strong>autecoblue</strong>",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        660,
        360
      ],
      "id": "a6e7dd68-64c7-46ab-bca9-f657908bc164",
      "name": "Create chat message1",
      "webhookId": "eadd561f-7289-4b70-8d5d-5cd4dfef3a47",
      "executeOnce": true,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "ZN6rkGlpvuVkKKom",
          "name": "Microsoft Teams account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "headers": {
            "accept": "*/*",
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.8",
            "max-forwards": "10",
            "origin": "https://victorious-mud-0f646a10f.1.azurestaticapps.net",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"99\", \"Brave\";v=\"139\", \"Chromium\";v=\"139\"",
            "sec-ch-ua-mobile": "?0",
            "sec-gpc": "1",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "x-arr-log-id": "48ba844c-be29-4300-a6fd-08aa116baea5",
            "client-ip": "190.108.78.130:7300",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 04, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "190.108.78.130:7300",
            "x-original-url": "/webhook/config/contacts",
            "x-waws-unencoded-url": "/webhook/config/contacts",
            "x-client-ip": "190.108.78.130",
            "x-client-port": "7300",
            "content-type": "application/json",
            "content-length": "286"
          },
          "params": {},
          "query": {},
          "body": {
            "id_location": "rJVQMiUdtLFfBO0aToyU",
            "date": "2025-09-01T05:00:00.000Z",
            "endDate": "2025-09-30T05:00:00.000Z",
            "created": true,
            "updated": true,
            "proccessConversations": false,
            "isValidated": false,
            "isOverwrite": false,
            "isOverrideConversations": false,
            "isSimulated": false,
            "userPhone": "3182014502"
          },
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/config/contacts",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-01T14:04:49.214Z",
  "versionId": "2c040041-fc4a-40a1-805e-3c8e66ee9125"
}