ropoflow_workflows_backup2025/07/C3wQloRLGZ1NhYaK.json
{
  "active": false,
  "connections": {
    "Search contacts con filtros avanzados1": {
      "main": [
        [
          {
            "node": "consultar contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar contacto1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear contactos": {
      "main": [
        [
          {
            "node": "Guardar contacto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar conversaciones": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "guardar mensajes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "consultar mensajes": {
      "main": [
        [
          {
            "node": "guardar mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar conversaciones": {
      "main": [
        [
          {
            "node": "consultar mensajes",
            "type": "main",
            "index": 0
          },
          {
            "node": "guardar conversaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar contacto": {
      "main": [
        [
          {
            "node": "consultar conversaciones",
            "type": "main",
            "index": 0
          },
          {
            "node": "formatear contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search contacts con filtros avanzados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T20:44:54.645Z",
  "id": "C3wQloRLGZ1NhYaK",
  "isArchived": false,
  "meta": null,
  "name": "Sincronizacion contactos ROPOFY",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "returnAll": true,
        "pageLimit": 100,
        "dateFilters": {
          "startDate": "={{ $json.body.date }}",
          "endDate": "={{ $json.body.endDate }}",
          "filterByDateAdded": true,
          "filterByDateUpdated": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -860,
        280
      ],
      "id": "728fdc31-b507-4be5-9e4c-a4156b437e79",
      "name": "Search contacts con filtros avanzados1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "RJGPyuZvF6dlp4q5",
          "name": "Ropofy - app ropofyBi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.values }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20,
        20
      ],
      "id": "833bcc8f-03fb-45b2-b996-eb923a319daf",
      "name": "Guardar contacto1",
      "credentials": {
        "postgres": {
          "id": "DeGEMvrSz25bAJdD",
          "name": "Ropofy account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        380
      ],
      "id": "4684e1b7-25fa-44e0-9d51-362ef2cc566c",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        180
      ],
      "id": "50ccfde7-d425-4def-8096-73dd975988b0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst query = {\n  text: `\n  INSERT INTO public.contacts (\n    \"id\", \"location_id\", \"contact_name\", \"first_name\", \"first_name_raw\", \"last_name\", \"last_name_raw\",\n    \"company_name\", \"email\", \"phone\", \"dnd\", \"type\", \"source\", \"assigned_to\", \"city\",\n    \"state\", \"postal_code\", \"address1\", \"date_added\", \"date_updated\", \"date_of_birth\", \"business_id\",\n    \"tags\", \"followers\", \"country\", \"website\", \"additional_emails\", \"custom_fields\",\n    \"process\", \"dnd_settings\", \"additional_phones\", \"last_attribution_source\", \"created_by\", \n    \"time_zone\", \"inbound_dnd_settings\", \"skip_email_verification\", \"phone_label\", \"scoring\", \n    \"profile_photo\", \"review\"\n  ) VALUES (\n    $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17, $18, $19, $20, $21, $22,\n    $23::jsonb, $24::jsonb, $25, $26, $27::jsonb, $28::jsonb, $29, $30::jsonb, $31::jsonb, $32, $33, \n    $34, $35::jsonb, $36, $37, $38, $39, $40\n  )\n  ON CONFLICT (\"id\") DO UPDATE SET\n    \"location_id\" = EXCLUDED.\"location_id\",\n    \"contact_name\" = EXCLUDED.\"contact_name\",\n    \"first_name\" = EXCLUDED.\"first_name\",\n    \"first_name_raw\" = EXCLUDED.\"first_name_raw\",\n    \"last_name\" = EXCLUDED.\"last_name\",\n    \"last_name_raw\" = EXCLUDED.\"last_name_raw\",\n    \"company_name\" = EXCLUDED.\"company_name\",\n    \"email\" = EXCLUDED.\"email\",\n    \"phone\" = EXCLUDED.\"phone\",\n    \"dnd\" = EXCLUDED.\"dnd\",\n    \"type\" = EXCLUDED.\"type\",\n    \"source\" = EXCLUDED.\"source\",\n    \"assigned_to\" = EXCLUDED.\"assigned_to\",\n    \"city\" = EXCLUDED.\"city\",\n    \"state\" = EXCLUDED.\"state\",\n    \"postal_code\" = EXCLUDED.\"postal_code\",\n    \"address1\" = EXCLUDED.\"address1\",\n    \"date_added\" = EXCLUDED.\"date_added\",\n    \"date_updated\" = EXCLUDED.\"date_updated\",\n    \"date_of_birth\" = EXCLUDED.\"date_of_birth\",\n    \"business_id\" = EXCLUDED.\"business_id\",\n    \"tags\" = EXCLUDED.\"tags\",\n    \"followers\" = EXCLUDED.\"followers\",\n    \"country\" = EXCLUDED.\"country\",\n    \"website\" = EXCLUDED.\"website\",\n    \"additional_emails\" = EXCLUDED.\"additional_emails\",\n    \"custom_fields\" = EXCLUDED.\"custom_fields\",\n    \"process\" = EXCLUDED.\"process\",\n    \"dnd_settings\" = EXCLUDED.\"dnd_settings\",\n    \"additional_phones\" = EXCLUDED.\"additional_phones\",\n    \"last_attribution_source\" = EXCLUDED.\"last_attribution_source\",\n    \"created_by\" = EXCLUDED.\"created_by\",\n    \"time_zone\" = EXCLUDED.\"time_zone\",\n    \"inbound_dnd_settings\" = EXCLUDED.\"inbound_dnd_settings\",\n    \"skip_email_verification\" = EXCLUDED.\"skip_email_verification\",\n    \"phone_label\" = EXCLUDED.\"phone_label\",\n    \"scoring\" = EXCLUDED.\"scoring\",\n    \"profile_photo\" = EXCLUDED.\"profile_photo\",\n    \"review\" = EXCLUDED.\"review\"\n  `,\n  values: [\n    d.id,                                      // $1\n    d.locationId,                              // $2\n    d.fullNameLowerCase,                       // $3\n    d.firstName,                               // $4\n    d.firstNameLowerCase,                      // $5\n    d.lastName,                                // $6\n    d.lastNameLowerCase,                       // $7\n    d.companyName,                             // $8\n    d.email,                                   // $9\n    d.phone,                                   // $10\n    d.dnd || false,                            // $11\n    d.type,                                    // $12\n    d.source,                                  // $13\n    d.assignedTo,                              // $14\n    d.city,                                    // $15\n    d.state || '',                             // $16\n    d.postalCode || '',                        // $17\n    d.address1 || '',                          // $18\n    d.dateAdded,                               // $19\n    d.dateUpdated,                             // $20\n    d.dateOfBirth || '',                       // $21\n    d.businessId,                              // $22\n    JSON.stringify(d.tags || []),              // $23\n    JSON.stringify(d.followers || []),         // $24\n    d.country,                                 // $25\n    d.website || '',                           // $26\n    JSON.stringify(d.additionalEmails || []),  // $27\n    JSON.stringify(d.customFields || []),      // $28\n    'ropoflow',                                // $29\n    JSON.stringify(d.dndSettings || {}),       // $30\n    JSON.stringify(d.additionalPhones || []),  // $31\n    d.lastAttributionSource || '',             // $32\n    d.createdBy,                               // $33\n    d.timezone,                                // $34\n    JSON.stringify(d.inboundDndSettings || {}),// $35\n    d.skipEmailVerification || false,          // $36\n    d.phoneLabel || '',                        // $37\n    d.scoring || 0,                            // $38\n    d.profilePhoto || '',                      // $39\n    d.review || ''                             // $40\n  ]\n};\n\nreturn {\n  text: query.text,\n  values: query.values\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        20
      ],
      "id": "20c4d9e2-348b-4119-8fb2-bf117f8535f6",
      "name": "formatear contactos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.conversations(\n  \"id\",\n  \"locationId\",\n  \"inbox\",\n  \"unreadCount\",\n  \"assignedTo\",\n  \"contactId\",\n  \"type\",\n  \"updated_at\",\n  \"created_at\",\n  \"deleted\",\n  \"starred\",\n  \"sync_with_webhook\",\n  \"process\"\n)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.locationId }}',\n  '{{ $json.inbox ?? '' }}',\n  {{ $json.unreadCount ?? 0 }},\n  '{{ $json.assignedTo ?? '' }}',\n  '{{ $json.contactId ?? '' }}',\n  '{{ $json.type ?? '' }}',\n  to_timestamp({{ $json.dateUpdated ?? 0 }} / 1000.0),\n  to_timestamp({{ $json.dateAdded ?? 0 }} / 1000.0),\n  false,\n  false,\n  false,\n  false\n)\nON CONFLICT (\"id\")\nDO UPDATE SET\n  \"locationId\" = EXCLUDED.\"locationId\",\n  \"inbox\" = EXCLUDED.\"inbox\",\n  \"unreadCount\" = EXCLUDED.\"unreadCount\",\n  \"assignedTo\" = EXCLUDED.\"assignedTo\",\n  \"contactId\" = EXCLUDED.\"contactId\",\n  \"type\" = EXCLUDED.\"type\",\n  \"updated_at\" = EXCLUDED.\"updated_at\",\n  \"created_at\" = EXCLUDED.\"created_at\",\n  \"deleted\" = EXCLUDED.\"deleted\",\n  \"starred\" = EXCLUDED.\"starred\",\n  \"sync_with_webhook\" = EXCLUDED.\"sync_with_webhook\",\n  \"process\" = EXCLUDED.\"process\";\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20,
        280
      ],
      "id": "1f83a52e-6dbf-4dcf-9856-af61b652d289",
      "name": "guardar conversaciones",
      "credentials": {
        "postgres": {
          "id": "DeGEMvrSz25bAJdD",
          "name": "Ropofy account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.messages(\n  \"id\",\n  \"type\",\n  \"messageType\",\n  \"locationId\",\n  \"contactId\",\n  \"conversationId\",\n  \"dateAdded\",\n  \"body\",\n  \"direction\",\n  \"status\",\n  \"contentType\",\n  \"attachments\",\n  \"meta\",\n  \"source\",\n  \"userId\",\n  \"updated_at\",\n  \"created_at\"\n)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.type ?? '' }}',\n  '{{ $json.messageType ?? '' }}',\n  '{{ $json.locationId ?? '' }}',\n  '{{ $json.contactId ?? '' }}',\n  '{{ $json.conversationId ?? '' }}',\n  {{ $json.dateAdded ? `'${$json.dateAdded}'::timestamptz` : 'NULL' }},\n  '{{ ($json.body ?? '').replace(/'/g, \"''\") }}',\n  '{{ $json.direction ?? '' }}',\n  '{{ $json.status ?? '' }}',\n  '{{ $json.contentType ?? '' }}',\n  '{{ JSON.stringify($json.attachments ?? []) }}'::jsonb,\n  '{{ JSON.stringify($json.meta ?? {}) }}'::jsonb,\n  '{{ $json.source ?? '' }}',\n  '{{ $json.userId ?? '' }}',\n  '{{ $json.dateAdded ?? '' }}',\n  '{{ $json.dateAdded ?? '' }}'\n)\nON CONFLICT DO NOTHING;\n",
        "options": {
          "queryBatching": "independently"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        20,
        520
      ],
      "id": "37ffb394-e053-46df-8dad-dc2ea5d6942c",
      "name": "guardar mensajes",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "DeGEMvrSz25bAJdD",
          "name": "Ropofy account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "conversationId": "={{ $json.id }}",
        "locationId": "={{ $json.locationId }}",
        "limit": 100,
        "returnAll": true,
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -200,
        520
      ],
      "id": "ca4376d0-a4c1-445f-98be-a93738b8c53a",
      "name": "consultar mensajes",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "RJGPyuZvF6dlp4q5",
          "name": "Ropofy - app ropofyBi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "conversation",
        "contactId": "={{ $json.id }}",
        "locationId": "={{ $json.locationId }}",
        "limit": 100,
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -420,
        420
      ],
      "id": "382ea0ab-2e70-4e46-af64-580afd27ff60",
      "name": "consultar conversaciones",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "RJGPyuZvF6dlp4q5",
          "name": "Ropofy - app ropofyBi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $json.id }}",
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -640,
        280
      ],
      "id": "c99e67bf-74a9-47e3-b401-5bfc17765d5d",
      "name": "consultar contacto",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "RJGPyuZvF6dlp4q5",
          "name": "Ropofy - app ropofyBi"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        280
      ],
      "id": "ab37a394-771e-4a3c-b011-ea5a17d4699e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "Este flujo se activa automaticamente, cuando lanzan una sincronizacion de contactos desde el dashboard"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        60
      ],
      "typeVersion": 1,
      "id": "549aae8b-af27-41b5-9f5c-42561ba6f3a3",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "axios/1.8.3",
            "accept-encoding": "gzip, compress, deflate, br",
            "max-forwards": "10",
            "x-arr-log-id": "b04ead1a-d9c2-4d54-9560-4e6e3b98eb7e",
            "client-ip": "130.107.238.212:55589",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 03, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "130.107.238.212:55589",
            "x-original-url": "/webhook/config/cronjob/contacts",
            "x-waws-unencoded-url": "/webhook/config/cronjob/contacts",
            "x-client-ip": "130.107.238.212",
            "x-client-port": "55589",
            "content-type": "application/json",
            "content-length": "109"
          },
          "params": {},
          "query": {},
          "body": {
            "id_location": "3YGgxqve6cABjE0KCjLs",
            "date": "2026-04-18T04:00:00.000Z",
            "endDate": "2026-04-20T04:00:00.000Z"
          },
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/config/cronjob/contacts",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-22T20:00:56.810Z",
  "versionId": "54200c25-4ce9-4fa1-a7a8-2250918fb7f5"
}