ropoflow_workflows_backup2025/07/ckglL4wV5Y0F1SCi.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an opportunity": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Get an opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-28T15:17:50.578Z",
  "id": "ckglL4wV5Y0F1SCi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "webhook opportunity updated",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/opportunity",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -40,
        -40
      ],
      "id": "d2587e7f-c1f9-44a2-88d0-3598bb70dc59",
      "name": "Webhook",
      "webhookId": "54dcf31f-de51-4cdf-93dc-b8bdca18c8d0"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.values }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        840,
        -40
      ],
      "id": "f58895e7-b8ad-43af-89b2-db7c51f70137",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "DeGEMvrSz25bAJdD",
          "name": "Ropofy account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json.opportunity;\n\nconst query = {\n  text: `\n    INSERT INTO public.opportunities (\n      \"external_id\", \"name\", \"monetary_value\", \"pipeline_id\", \"pipeline_stage_id\",\n      \"assigned_to\", \"status\", \"source\", \"last_status_change_at\", \"last_stage_change_at\",\n      \"contact_id\", \"location_id\", \"custom_fields\", \"followers\", \"contact\",\n      \"created_at\", \"updated_at\", \"process\"\n    ) VALUES (\n      $1, $2, $3, $4, $5,\n      $6, $7, $8, $9, $10,\n      $11, $12, $13::jsonb, $14::jsonb, $15::jsonb,\n      $16, $17, $18\n    )\n    ON CONFLICT (\"external_id\") DO UPDATE SET\n      \"name\" = EXCLUDED.\"name\",\n      \"monetary_value\" = EXCLUDED.\"monetary_value\",\n      \"pipeline_id\" = EXCLUDED.\"pipeline_id\",\n      \"pipeline_stage_id\" = EXCLUDED.\"pipeline_stage_id\",\n      \"assigned_to\" = EXCLUDED.\"assigned_to\",\n      \"status\" = EXCLUDED.\"status\",\n      \"source\" = EXCLUDED.\"source\",\n      \"last_status_change_at\" = EXCLUDED.\"last_status_change_at\",\n      \"last_stage_change_at\" = EXCLUDED.\"last_stage_change_at\",\n      \"contact_id\" = EXCLUDED.\"contact_id\",\n      \"location_id\" = EXCLUDED.\"location_id\",\n      \"custom_fields\" = EXCLUDED.\"custom_fields\",\n      \"followers\" = EXCLUDED.\"followers\",\n      \"contact\" = EXCLUDED.\"contact\",\n      \"created_at\" = EXCLUDED.\"created_at\",\n      \"updated_at\" = EXCLUDED.\"updated_at\",\n      \"process\" = EXCLUDED.\"process\"\n  `,\n  values: [\n    d.id,                                // $1  - external_id\n    d.name,                              // $2\n    d.monetaryValue || 0,                // $3\n    d.pipelineId,                        // $4\n    d.pipelineStageId,                   // $5\n    d.assignedTo,                        // $6\n    d.status,                            // $7\n    d.source,                            // $8\n    d.lastStatusChangeAt,                // $9\n    d.lastStageChangeAt,                 // $10\n    d.contactId,                         // $11\n    d.locationId,                        // $12\n    JSON.stringify(d.customFields || []),// $13\n    JSON.stringify(d.followers || []),   // $14\n    JSON.stringify(d.contact || {}),     // $15\n    d.createdAt,                         // $16\n    d.updatedAt,                         // $17\n    false                                // $18 - process\n  ]\n};\n\nreturn {\n  text: query.text,\n  values: query.values\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -40
      ],
      "id": "03296493-3d7b-4e0f-a15f-e2771debfe08",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "get",
        "opportunityId": "={{ $json.body.id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        400,
        -40
      ],
      "id": "e19accec-5209-4fa1-b3e5-c02d662cfa82",
      "name": "Get an opportunity",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "jMr90Bd4S7hbuc4j",
          "name": "Dismerca - App dismercaBi"
        }
      }
    },
    {
      "parameters": {
        "content": "Este endpoint es llamado por GHL cuando se actualiza una oportunidad"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -100,
        -260
      ],
      "typeVersion": 1,
      "id": "086ea8e4-0579-4daf-8a35-baba5604c246",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "idOpportunity",
              "value": "={{ $json.body.id }}"
            },
            {
              "key": "idLocation",
              "value": "={{ $json.body.locationId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        180,
        -40
      ],
      "id": "81698fcd-82d3-49cf-9059-7931362dcd75",
      "name": "Execution Data"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "axios/0.21.4",
            "max-forwards": "10",
            "x-wh-signature": "Erydasi3icW0gSK2bHpY5Y31/7VY44VnpzRw8m869yQzex6t7cu4BMi7fQhMkY6bN17MFAP4FtX5KfU/R82IOy4W+vzsLNHMmVNSSsKFyQSmYf6MB+g8ubPfSm/lYfZUmpIpJg99wjm9cjszUMIa6zPs9nKb32nPVU+/NFnZlbZauX+3kuj+PQBA9dX7qSSYndEpCNQkhniv35Mz0q0BBhhgDDOvbkH2zh/2F7jf9R5XvqL5lWD6VMXuX8Yl+sww0KFYa9XwVQTUqqFL2Q4YteI8YyFNO671IHj9UElykrpD/6AD3GITUWAN3AAj/mo9MQHvAEgdNEIH5S4b5aKKUFw5LqnOeflrlRq/f0UUDf7+IEke/wHN0apLqdFuBy4Vib8AStxkH/HM0VeBM4uPm+H7G2GZegkbBfiZKvRaj3JoUNf/i1GpiQvAzeC1VNBzSmvzN8+dQ5K8EB8Pao/XFC0hVplgENJ0hyxiBiLwesfbevnGrXIFyaSLxGm6u0Kpv59Td2/qZMAQfANIW47+RCj5sFjUu8R4cmM/5LV3PkDm6Yj5zX331uKgo4ugS2JrPRjj42wo6NNasB+0mMlj/wiMxPTtYP6ddlTQQjGOfKA4Zd2mx5YrIf/O51ozZUhbndxSt/UR+y1XUiupAEtiv8ZovhxHhX1CljEKhlV9sQI=",
            "x-arr-log-id": "2e8890c8-e4e2-403a-8e44-d90b7f3343c4",
            "client-ip": "35.222.107.82:37104",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 07, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "35.222.107.82:37104",
            "x-original-url": "/webhook/webhook/opportunity",
            "x-waws-unencoded-url": "/webhook/webhook/opportunity",
            "x-client-ip": "35.222.107.82",
            "x-client-port": "37104",
            "content-type": "application/json",
            "content-length": "524"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "OpportunityUpdate",
            "locationId": "NQS1rz0YlFTvbXDBx74N",
            "versionId": "660b20c7109c564efeff2e75",
            "appId": "660b20c7109c564efeff2e75",
            "id": "lKQnlJhjhdZ9hfnUCj4Q",
            "name": "lisandro henao",
            "source": "MOBILITY LEAD",
            "assignedTo": "LWX17TnC1tOEgujAxjiX",
            "contactId": "85Z01xvg9DDTxdR796kV",
            "pipelineId": "qaR9Z6JsAQBNcbEKHYyn",
            "pipelineStageId": "1fa8375a-8a14-43b3-a6d2-1839ce5ce519",
            "status": "open",
            "dateAdded": "2025-07-25T00:46:33.381Z",
            "timestamp": "2025-07-29T22:16:52.706Z",
            "webhookId": "f37a571d-3424-4159-8d41-4c6943b7c4fe"
          },
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/webhook/opportunity",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-20T13:31:41.989Z",
  "versionId": "6ed48640-12c2-4d93-847b-1a036fef4995"
}