ropoflow_workflows_backup2025/07/GdlkpJOXOGZExVnf.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-28T13:23:20.420Z",
  "id": "GdlkpJOXOGZExVnf",
  "isArchived": false,
  "meta": null,
  "name": "Sincronizar lostReasons Autecoblue",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5699f6aa-6c05-447a-84e4-8fa3c06b6d34",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://backend.leadconnectorhq.com/opportunities/lost-reason?locationId={{ $json.location_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        0
      ],
      "id": "12c8a70a-c2fc-4b21-a713-a3f3f65c7637",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "system_ropofy_locations",
          "mode": "list",
          "cachedResultName": "system_ropofy_locations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "location_id",
              "value": "={{ $json.body.id_location }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        200,
        0
      ],
      "id": "03073eb7-d673-4f83-bb32-a0aef30da275",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "tfjc18K49daMASdp",
          "name": "Base de datos APIS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.lostReasons"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "847b08e6-c8ec-419d-94ca-108107f4fe47",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.values }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1080,
        0
      ],
      "id": "1e15a8a1-4d4f-4b00-80f9-3ac48dab0054",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "dYSRkbNNFYOotBwk",
          "name": "Autecoblue DB bi"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst query = {\n  text: `\n    INSERT INTO public.lost_reasons (\n      \"id\", \"name\", \"locationId\", \"dateAdded\", \"dateUpdated\", \"created_at\", \"updated_at\"\n    ) VALUES (\n      $1, $2, $3, $4, $5, $6, $7\n    )\n    ON CONFLICT (\"id\") DO UPDATE SET\n      \"name\" = EXCLUDED.\"name\",\n      \"locationId\" = EXCLUDED.\"locationId\",\n      \"dateAdded\" = EXCLUDED.\"dateAdded\",\n      \"dateUpdated\" = EXCLUDED.\"dateUpdated\",\n      \"created_at\" = EXCLUDED.\"created_at\",\n      \"updated_at\" = EXCLUDED.\"updated_at\"\n  `,\n  values: [\n    d._id,\n    d.name,\n    d.locationId,\n    d.createdAt,\n    d.updatedAt,\n    d.createdAt,\n    d.updatedAt\n  ]\n};\n\nreturn {\n  text: query.text,\n  values: query.values\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        0
      ],
      "id": "b1367b20-14c3-4274-b143-c0c043c3d7b5",
      "name": "Code3"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "axios/1.8.3",
            "accept-encoding": "gzip, compress, deflate, br",
            "max-forwards": "10",
            "x-arr-log-id": "47338165-cbed-4a15-a1c3-796433d5d58f",
            "client-ip": "130.107.238.212:54738",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 08, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "130.107.238.212:54738",
            "x-original-url": "/webhook/config/lostReasons",
            "x-waws-unencoded-url": "/webhook/config/lostReasons",
            "x-client-ip": "130.107.238.212",
            "x-client-port": "54738",
            "content-type": "application/json",
            "content-length": "109"
          },
          "params": {},
          "query": {},
          "body": {
            "id_location": "rJVQMiUdtLFfBO0aToyU",
            "date": "2025-10-29T04:00:00.000Z",
            "endDate": "2025-10-30T04:00:00.000Z"
          },
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/config/lostReasons",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-30T16:21:57.911Z",
  "versionId": "806eb7d4-49cb-483a-838e-7d0ab4fc8246"
}