ropoflow_workflows_backup2025/07/H8OFUc70DPOsGgF5.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many opportunities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many opportunities": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Create chat message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-22T13:25:03.834Z",
  "id": "H8OFUc70DPOsGgF5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sincronización Opportunities AutecoBlue",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        -40
      ],
      "id": "459cf62a-d2a3-4f35-8a17-7420e76c2adc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.values }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        -40
      ],
      "id": "4ef2f0d4-df95-4b6a-babf-05b2543495a1",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "dYSRkbNNFYOotBwk",
          "name": "Autecoblue DB bi"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst query = {\n  text: `\n    INSERT INTO public.opportunities (\n      \"external_id\", \"name\", \"monetary_value\", \"pipeline_id\", \"pipeline_stage_id\", \"pipeline_stage_uid\",\n      \"assigned_to\", \"status\", \"source\", \"last_status_change_at\", \"last_stage_change_at\",\n      \"contact_id\", \"location_id\", \"custom_fields\", \"lost_reason_id\", \"followers\", \"relations\", \"contact\",\n      \"sort\", \"attributions\", \"created_at\", \"updated_at\", \"sync_with_webhook\", \"deleted\", \"process\"\n    ) VALUES (\n      $1, $2, $3, $4, $5, $6,\n      $7, $8, $9, $10, $11,\n      $12, $13, $14::jsonb, $15, $16::jsonb, $17::jsonb, $18::jsonb,\n      $19::jsonb, $20::jsonb, $21, $22, $23, $24, $25\n    )\n    ON CONFLICT (\"external_id\") DO UPDATE SET\n      \"name\" = EXCLUDED.\"name\",\n      \"monetary_value\" = EXCLUDED.\"monetary_value\",\n      \"pipeline_id\" = EXCLUDED.\"pipeline_id\",\n      \"pipeline_stage_id\" = EXCLUDED.\"pipeline_stage_id\",\n      \"pipeline_stage_uid\" = EXCLUDED.\"pipeline_stage_uid\",\n      \"assigned_to\" = EXCLUDED.\"assigned_to\",\n      \"status\" = EXCLUDED.\"status\",\n      \"source\" = EXCLUDED.\"source\",\n      \"last_status_change_at\" = EXCLUDED.\"last_status_change_at\",\n      \"last_stage_change_at\" = EXCLUDED.\"last_stage_change_at\",\n      \"contact_id\" = EXCLUDED.\"contact_id\",\n      \"location_id\" = EXCLUDED.\"location_id\",\n      \"custom_fields\" = EXCLUDED.\"custom_fields\",\n      \"lost_reason_id\" = EXCLUDED.\"lost_reason_id\",\n      \"followers\" = EXCLUDED.\"followers\",\n      \"relations\" = EXCLUDED.\"relations\",\n      \"contact\" = EXCLUDED.\"contact\",\n      \"sort\" = EXCLUDED.\"sort\",\n      \"attributions\" = EXCLUDED.\"attributions\",\n      \"created_at\" = EXCLUDED.\"created_at\",\n      \"updated_at\" = EXCLUDED.\"updated_at\",\n      \"sync_with_webhook\" = EXCLUDED.\"sync_with_webhook\",\n      \"deleted\" = EXCLUDED.\"deleted\",\n      \"process\" = EXCLUDED.\"process\"\n  `,\n  values: [\n    d.id,                               // mapped as external_id\n    d.name,\n    d.monetaryValue || 0,\n    d.pipelineId,\n    d.pipelineStageId,\n    d.pipelineStageUId,\n    d.assignedTo,\n    d.status,\n    d.source,\n    d.lastStatusChangeAt,\n    d.lastStageChangeAt,\n    d.contactId,\n    d.locationId,\n    JSON.stringify(d.customFields || []),\n    d.lostReasonId || '',\n    JSON.stringify(d.followers || []),\n    JSON.stringify(d.relations || {}),\n    JSON.stringify(d.contact || {}),\n    JSON.stringify(d.sort || {}),\n    JSON.stringify(d.attributions || {}),\n    d.createdAt,\n    d.updatedAt,\n    d.syncWithWebhook || false,\n    d.deleted || false,\n    false\n  ]\n};\n\nreturn {\n  text: query.text,\n  values: query.values\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -40
      ],
      "id": "e7e8c639-2bef-4957-aa60-d74721000c1e",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "getAll",
        "returnAll": true,
        "delayPagination": 500,
        "filters": {
          "endDate": "={{ $json.body.endDate }}",
          "startDate": "={{ $json.body.date }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        60,
        -40
      ],
      "id": "075d8ff6-e440-48dc-8583-e005323e44b3",
      "name": "Get many opportunities",
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "Xt6tvndwmTlNAjfi",
          "name": "Auteco Blue MEX - app autecoblue bi"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:ec02bea368b3402882b2d90fa1e9ee6a@thread.v2",
          "mode": "list",
          "cachedResultName": "📊🔔 Notificaciones sync data - Power BI (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Aec02bea368b3402882b2d90fa1e9ee6a%40thread.v2/0?tenantId=e67529fc-68be-4f5b-aa27-edbad4a44b14"
        },
        "message": "=Se lanzó una sincronización de oportunidades para <strong>autecoblue</strong>, rango de fechas: {{ $json.body.date }} -> {{ $json.body.endDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        60,
        -220
      ],
      "id": "f3165e17-71a2-4fe6-9b83-215e8398fba6",
      "name": "Create chat message",
      "webhookId": "eadd561f-7289-4b70-8d5d-5cd4dfef3a47",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "ZN6rkGlpvuVkKKom",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:ec02bea368b3402882b2d90fa1e9ee6a@thread.v2",
          "mode": "list",
          "cachedResultName": "📊🔔 Notificaciones sync data - Power BI (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Aec02bea368b3402882b2d90fa1e9ee6a%40thread.v2/0?tenantId=e67529fc-68be-4f5b-aa27-edbad4a44b14"
        },
        "message": "=Se sincronizó correctamente la información de oportunidades para <strong>autecoblue</strong>, cantidad: {{ $input.all().length }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        720,
        -40
      ],
      "id": "805e2ca5-32ad-4dcf-ba29-2701d2db5025",
      "name": "Create chat message1",
      "webhookId": "eadd561f-7289-4b70-8d5d-5cd4dfef3a47",
      "retryOnFail": false,
      "executeOnce": true,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "ZN6rkGlpvuVkKKom",
          "name": "Microsoft Teams account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-01T13:49:22.030Z",
  "versionId": "ca63feb6-7bda-4c9b-82f7-5657c3e50631"
}