ropoflow_workflows_backup2025/07/H8OFUc70DPOsGgF5.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many opportunities": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-22T13:25:03.834Z",
  "id": "H8OFUc70DPOsGgF5",
  "isArchived": false,
  "meta": null,
  "name": "Sincronización Opportunities AutecoBlue",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        -40
      ],
      "id": "459cf62a-d2a3-4f35-8a17-7420e76c2adc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.values }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        -40
      ],
      "id": "4ef2f0d4-df95-4b6a-babf-05b2543495a1",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "dYSRkbNNFYOotBwk",
          "name": "Autecoblue DB bi"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst query = {\n  text: `\n    INSERT INTO public.opportunities (\n      \"external_id\", \"name\", \"monetary_value\", \"pipeline_id\", \"pipeline_stage_id\", \"pipeline_stage_uid\",\n      \"assigned_to\", \"status\", \"source\", \"last_status_change_at\", \"last_stage_change_at\",\n      \"contact_id\", \"location_id\", \"custom_fields\", \"lost_reason_id\", \"followers\", \"relations\", \"contact\",\n      \"sort\", \"attributions\", \"created_at\", \"updated_at\", \"sync_with_webhook\", \"deleted\", \"process\"\n    ) VALUES (\n      $1, $2, $3, $4, $5, $6,\n      $7, $8, $9, $10, $11,\n      $12, $13, $14::jsonb, $15, $16::jsonb, $17::jsonb, $18::jsonb,\n      $19::jsonb, $20::jsonb, $21, $22, $23, $24, $25\n    )\n    ON CONFLICT (\"external_id\") DO UPDATE SET\n      \"name\" = EXCLUDED.\"name\",\n      \"monetary_value\" = EXCLUDED.\"monetary_value\",\n      \"pipeline_id\" = EXCLUDED.\"pipeline_id\",\n      \"pipeline_stage_id\" = EXCLUDED.\"pipeline_stage_id\",\n      \"pipeline_stage_uid\" = EXCLUDED.\"pipeline_stage_uid\",\n      \"assigned_to\" = EXCLUDED.\"assigned_to\",\n      \"status\" = EXCLUDED.\"status\",\n      \"source\" = EXCLUDED.\"source\",\n      \"last_status_change_at\" = EXCLUDED.\"last_status_change_at\",\n      \"last_stage_change_at\" = EXCLUDED.\"last_stage_change_at\",\n      \"contact_id\" = EXCLUDED.\"contact_id\",\n      \"location_id\" = EXCLUDED.\"location_id\",\n      \"custom_fields\" = EXCLUDED.\"custom_fields\",\n      \"lost_reason_id\" = EXCLUDED.\"lost_reason_id\",\n      \"followers\" = EXCLUDED.\"followers\",\n      \"relations\" = EXCLUDED.\"relations\",\n      \"contact\" = EXCLUDED.\"contact\",\n      \"sort\" = EXCLUDED.\"sort\",\n      \"attributions\" = EXCLUDED.\"attributions\",\n      \"created_at\" = EXCLUDED.\"created_at\",\n      \"updated_at\" = EXCLUDED.\"updated_at\",\n      \"sync_with_webhook\" = EXCLUDED.\"sync_with_webhook\",\n      \"deleted\" = EXCLUDED.\"deleted\",\n      \"process\" = EXCLUDED.\"process\"\n  `,\n  values: [\n    d.id,                               // mapped as external_id\n    d.name,\n    d.monetaryValue || 0,\n    d.pipelineId,\n    d.pipelineStageId,\n    d.pipelineStageUId,\n    d.assignedTo,\n    d.status,\n    d.source,\n    d.lastStatusChangeAt,\n    d.lastStageChangeAt,\n    d.contactId,\n    d.locationId,\n    JSON.stringify(d.customFields || []),\n    d.lostReasonId || '',\n    JSON.stringify(d.followers || []),\n    JSON.stringify(d.relations || {}),\n    JSON.stringify(d.contact || {}),\n    JSON.stringify(d.sort || {}),\n    JSON.stringify(d.attributions || {}),\n    d.createdAt,\n    d.updatedAt,\n    d.syncWithWebhook || false,\n    d.deleted || false,\n    false\n  ]\n};\n\nreturn {\n  text: query.text,\n  values: query.values\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -40
      ],
      "id": "e7e8c639-2bef-4957-aa60-d74721000c1e",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "getAll",
        "returnAll": true,
        "delayPagination": 500,
        "filters": {
          "endDate": "={{ $json.body.endDate }}",
          "startDate": "={{ $json.body.date }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        60,
        -40
      ],
      "id": "075d8ff6-e440-48dc-8583-e005323e44b3",
      "name": "Get many opportunities",
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "Xt6tvndwmTlNAjfi",
          "name": "Auteco Blue MEX - app autecoblue bi"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "headers": {
            "accept": "*/*",
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.8",
            "max-forwards": "10",
            "origin": "https://victorious-mud-0f646a10f.1.azurestaticapps.net",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"99\", \"Brave\";v=\"139\", \"Chromium\";v=\"139\"",
            "sec-ch-ua-mobile": "?0",
            "sec-gpc": "1",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "x-arr-log-id": "3d850583-2f5a-4142-8d12-4569b30f69f9",
            "client-ip": "190.108.78.130:4790",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 04, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "190.108.78.130:4790",
            "x-original-url": "/webhook/config/opportunities",
            "x-waws-unencoded-url": "/webhook/config/opportunities",
            "x-client-ip": "190.108.78.130",
            "x-client-port": "4790",
            "content-type": "application/json",
            "content-length": "101"
          },
          "params": {},
          "query": {},
          "body": {
            "id_location": "rJVQMiUdtLFfBO0aToyU",
            "date": "01-01-2023",
            "endDate": "09-24-2025",
            "isSimulated": false
          },
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/config/opportunities",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-24T13:34:54.290Z",
  "versionId": "84465bcb-feff-4d4c-bf21-5e3bbdc2d29e"
}