ropoflow_workflows_backup2025/07/JGP4qUKqEfNGPm3G.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Sincronización Ropofy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Dismerca",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Aburramotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización CentroMotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Credimotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Credimovil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Movimotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Motocredito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Motomovil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Motos del dariend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Moto racing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización SabanaMotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Evg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Moldex",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronización Autecoblue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T15:01:10.052Z",
  "id": "JGP4qUKqEfNGPm3G",
  "isArchived": false,
  "meta": null,
  "name": "Sincronizar customFields API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/config/customFields",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        500
      ],
      "id": "4ce64697-dd6f-4275-868b-cff4d58f992a",
      "name": "Webhook",
      "webhookId": "6642a090-6f63-457d-88eb-7832e1c15a3b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "3YGgxqve6cABjE0KCjLs",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6b9839ec-00c2-4f00-bd49-bfefc29be510"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17258690-3881-4089-9457-1338bad879de",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "NQS1rz0YlFTvbXDBx74N",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fdf417e9-1942-41fa-b24f-e09204fea05e",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "znUbwYRqEjRvLx8ZqxLQ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3acccece-da62-4f8d-a9b0-1b9af870f1d6",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "8HL3cRXrHdfv3hyAhFEe",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b8af6cb-643a-4bba-bf2c-02369ad72b00",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "roX1ZpTw16PvN6jSQxGY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "005f9d1a-8a3b-4d5f-8ad5-4f66a1de1322",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "Wqi9fyYUjZI216QVbi2c",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94cdd05e-520d-4f11-aec4-d4d43086eaa5",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "6J8wEWyF2zFLR4Q64kCj",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "968beef7-8483-4281-addb-c956a249e7b0",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "qVpMdtE7WD1nK7gwZWEB",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2036f8f0-48a9-444a-a03d-6ea673a4edff",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "AhqSOjIFwuUWs3E1ikX7",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a38cb711-9514-4b7d-812b-9b87bc565e7b",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "nShm5z1fHOEAcUN0n7fS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0235cf05-cc52-41b6-a7a5-cf24e7534173",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "sEDLGnojxQ5ylRAhEtKr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06122622-5b00-468a-8faf-af26bf7aa3c4",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "Ffry84qYbqnjjBqByHvr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "11f4951d-beed-4ae8-a883-e602e3f0ee5d",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "7MILzH0XhlEZiyb1OVYN",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d5b1499a-f472-4da6-8089-cf8da3923748",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "OLEfHKjZkezljsd63c48",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ded8a9cb-f0b0-4ebb-8b7e-2fb68b5bc426",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "rJVQMiUdtLFfBO0aToyU",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        140,
        320
      ],
      "id": "4b3b5f7b-9745-480f-8155-f4ed7917d7ae",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "f0lfqNOYJDVzkb1W",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields Ropofy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        260,
        -80
      ],
      "id": "2c2b9ea9-0087-46d5-b473-eb1b51c5010a",
      "name": "Sincronización Ropofy"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jXqUm1XskXAVY6oN",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields Dismerca"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        540,
        -100
      ],
      "id": "1655915f-b692-4062-8a24-88d68843b106",
      "name": "Sincronización Dismerca"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GJlrIfBtTf0V9AtT",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields Aburramotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        540,
        100
      ],
      "id": "297aa933-17e5-4aac-b194-b9df80491444",
      "name": "Sincronización Aburramotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wggXfG5UC3GfdZpy",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields Centromotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        760,
        220
      ],
      "id": "98e4b609-9748-4da7-89aa-54adf6849a97",
      "name": "Sincronización CentroMotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vQ8AaqweOe4mmhH8",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields credimotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        620,
        340
      ],
      "id": "5f2cd8c6-cec9-4c9d-95e5-8c29ffefae90",
      "name": "Sincronización Credimotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "F3WyRST94A2rVe8V",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields credimovil"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        820,
        440
      ],
      "id": "7630d2db-fdbb-442d-a3de-a6d6c60509cc",
      "name": "Sincronización Credimovil"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "32nX9c1bKecJkNa4",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields Movimotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        680,
        560
      ],
      "id": "4964a653-1fe1-4a8c-a474-0c4ce10007b1",
      "name": "Sincronización Movimotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "drDFePtWA3kbJcPW",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields Motocredito"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        860,
        660
      ],
      "id": "75a5f2fc-9325-4b0a-b35b-54c693ec5933",
      "name": "Sincronización Motocredito"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SGYoL4GRCjaCdoFQ",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields Motomovil"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        660
      ],
      "id": "83e85954-0131-4264-8889-348ebf486e65",
      "name": "Sincronización Motomovil"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Gv51O4VgY0Zrbgxn",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields Motos del daried"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        680,
        780
      ],
      "id": "f4ed8680-9079-41e1-baa1-295febdb0469",
      "name": "Sincronización Motos del dariend"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZW7HXznBqRwGS0us",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields Moto Racing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        860,
        960
      ],
      "id": "cf975432-bea5-4d0b-9ed0-8b77cda9ab5f",
      "name": "Sincronización Moto racing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "h3a52WpabziCuZh5",
          "mode": "list",
          "cachedResultName": "Sincronización CustomFields SabanaMotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        460,
        900
      ],
      "id": "dd7ec5be-3aad-47de-86b6-655b0f77d847",
      "name": "Sincronización SabanaMotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DHeh523407BVGdoQ",
          "mode": "list",
          "cachedResultName": "Sincronización customfields Evg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        1100
      ],
      "id": "7698fca7-5e30-4bef-9eb4-e8b90f5c64cc",
      "name": "Sincronización Evg"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zRyYwc9gnVcN4dw7",
          "mode": "list",
          "cachedResultName": "Sincronización Customfields Moldex"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        300,
        1220
      ],
      "id": "d4eb0ba3-ff01-499e-b0e7-70a3a0118569",
      "name": "Sincronización Moldex"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RuHSOCo6NPBVCTuW",
          "mode": "list",
          "cachedResultName": "Sincronización Customfields Autecoblue"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        140,
        1380
      ],
      "id": "90df6a21-b5c2-4e9b-b3b5-60c4691ee193",
      "name": "Sincronización Autecoblue"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-28T12:02:04.283Z",
  "versionId": "fc338797-be1e-42bb-952a-ec924a32101d"
}