ropoflow_workflows_backup2025/07/K7GPtY0aQ7DF1RdF.json
{
  "active": true,
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Aburramotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow CentroMotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": " Workflow Credimotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Credimovil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Movimotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Motocredito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Motomovil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Motos del dariend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Moto racing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow SabanaMotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Evg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Moldex",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Autecoblue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow proyecto inmobiliaria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow proyecto inmobiliaria1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow marcali",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Llamar workflow de ropofy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Workflow Dismerca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Workflow proyecto dosR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-08T14:11:38.024Z",
  "id": "K7GPtY0aQ7DF1RdF",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sincronizar contactos API - CRONJOB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/config/cronjob/contacts",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1860,
        1420
      ],
      "id": "f1cdea39-f76a-4aa2-8a71-5e295a56c7ff",
      "name": "Webhook1",
      "webhookId": "a848e619-e729-47ab-be28-11982836e36b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "3YGgxqve6cABjE0KCjLs",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6b9839ec-00c2-4f00-bd49-bfefc29be510"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17258690-3881-4089-9457-1338bad879de",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "NQS1rz0YlFTvbXDBx74N",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fdf417e9-1942-41fa-b24f-e09204fea05e",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "znUbwYRqEjRvLx8ZqxLQ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3acccece-da62-4f8d-a9b0-1b9af870f1d6",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "8HL3cRXrHdfv3hyAhFEe",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b8af6cb-643a-4bba-bf2c-02369ad72b00",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "roX1ZpTw16PvN6jSQxGY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "005f9d1a-8a3b-4d5f-8ad5-4f66a1de1322",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "Wqi9fyYUjZI216QVbi2c",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94cdd05e-520d-4f11-aec4-d4d43086eaa5",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "6J8wEWyF2zFLR4Q64kCj",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "968beef7-8483-4281-addb-c956a249e7b0",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "qVpMdtE7WD1nK7gwZWEB",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2036f8f0-48a9-444a-a03d-6ea673a4edff",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "AhqSOjIFwuUWs3E1ikX7",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a38cb711-9514-4b7d-812b-9b87bc565e7b",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "nShm5z1fHOEAcUN0n7fS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0235cf05-cc52-41b6-a7a5-cf24e7534173",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "sEDLGnojxQ5ylRAhEtKr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06122622-5b00-468a-8faf-af26bf7aa3c4",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "Ffry84qYbqnjjBqByHvr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c81b5bf-8af2-415a-8f32-1589e70c8d62",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "7MILzH0XhlEZiyb1OVYN",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d0a00bf-2c6f-4336-93be-27ab1ac2c7bf",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "OLEfHKjZkezljsd63c48",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a28fab53-efd9-4e8c-81b2-16da3ae870ad",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "rJVQMiUdtLFfBO0aToyU",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9466c9e1-b606-4f63-ba96-95e4f8b2d859",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "=ygmZqFWWtWT2NrIe3Rtf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "edd536a3-143e-46c9-b148-af58eecf858b",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "y4xcJQV4laYTBejxivBn",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c06cc117-2be4-40e0-90da-25c49d19abd0",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "y4xcJQV4laYTBejxivBn",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "14ead122-4a1f-40f3-b268-1f073358ba33",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "ID50GJ39dGHTTlrk77Hx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Marcali"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1500,
        1100
      ],
      "id": "01ed32bd-45cf-4497-bd56-d2070ad4f12e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "C3wQloRLGZ1NhYaK",
          "mode": "list",
          "cachedResultName": "Sincronizacion contactos ROPOFY"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -400,
        -300
      ],
      "id": "b36519ed-1e6c-4180-a980-d6c63a2fc371",
      "name": "Llamar workflow de ropofy"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zhMgG5BCtDLsnrJm",
          "mode": "list",
          "cachedResultName": "Cincronización Contactos Dismerca"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -400,
        -100
      ],
      "id": "b2170813-2cbd-47b7-9f3d-812aeeb383e7",
      "name": "Workflow Dismerca"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PqKOiyPYslNiEY3f",
          "mode": "list",
          "cachedResultName": "Aburramotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        700
      ],
      "id": "eb63388b-7bcf-4b2a-98d1-e649580fa4a4",
      "name": "Workflow Aburramotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GVlo8vf5XBYEttoZ",
          "mode": "list",
          "cachedResultName": "Sincronización Contactos CentroMontos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        100
      ],
      "id": "8d3373c7-bdc1-449f-a1ec-759d1aec7dd1",
      "name": "Workflow CentroMotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "McFBrQXn137uWcQw",
          "mode": "list",
          "cachedResultName": "Credimotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        300
      ],
      "id": "4a589ef3-0d50-47ab-a6e3-aa36efe01322",
      "name": " Workflow Credimotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IO2rv8hhnmhsBZCC",
          "mode": "list",
          "cachedResultName": "Credimovil"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        500
      ],
      "id": "01627f58-2dbd-4aeb-afde-f92f15d7cff9",
      "name": "Workflow Credimovil"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "u6qN2uFpTHadiEmj",
          "mode": "list",
          "cachedResultName": "Movimotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        900
      ],
      "id": "9f72c096-d48e-498c-be0f-2dbf5c93e62f",
      "name": "Workflow Movimotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OaTwKjSa0IjcxTnC",
          "mode": "list",
          "cachedResultName": "Motocredito"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        1100
      ],
      "id": "37479411-cde6-405e-bad8-b6ec4c1285bb",
      "name": "Workflow Motocredito"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7rVFKstYvxS2FZG3",
          "mode": "list",
          "cachedResultName": "Motomovil"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        1300
      ],
      "id": "8961a157-e45c-4e59-927b-494a64946b23",
      "name": "Workflow Motomovil"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "k6Y7JgvsWqqZRoMO",
          "mode": "list",
          "cachedResultName": "Motos del dariend"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        1500
      ],
      "id": "9047d18a-6d4f-4fd3-8ea9-1b9a664c9f0b",
      "name": "Workflow Motos del dariend"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AnroUJd5VncaC55A",
          "mode": "list",
          "cachedResultName": "Moto racing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        1700
      ],
      "id": "73bcebb8-36db-485a-82eb-09263096cc56",
      "name": "Workflow Moto racing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Kdhq7iDsKEkJK9Zn",
          "mode": "list",
          "cachedResultName": "SabanaMotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        1900
      ],
      "id": "f85d309a-f4d2-4594-a6c8-ec0732e3e0ae",
      "name": "Workflow SabanaMotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KNNTK4ggeGoDkOPI",
          "mode": "list",
          "cachedResultName": "Sincronización Contactos Evg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        2300
      ],
      "id": "9ce9439f-b289-473d-bbac-dc23469c49e7",
      "name": "Workflow Evg"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rn447Sgyak428KyX",
          "mode": "list",
          "cachedResultName": "Sincronización Contactos Moldex"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        2700
      ],
      "id": "6980f9e0-b33b-4d78-ae9d-f8f88bfa7d49",
      "name": "Workflow Moldex"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AyUXFl3jsCU9uNxN",
          "mode": "list",
          "cachedResultName": "Sincronización Contactos Autecoblue"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        2500
      ],
      "id": "9a14878b-1a6f-4811-9131-7e88e5394a31",
      "name": "Workflow Autecoblue"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OhQMZ7VoD6HVInmv",
          "mode": "list",
          "cachedResultName": "Sincronizacion contactos Proyecto inmobiliaria"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        2900
      ],
      "id": "dec15011-d436-42f5-833c-7fd086b5d403",
      "name": "Workflow proyecto inmobiliaria"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S7AYCh8pq6R9Di4L",
          "mode": "list",
          "cachedResultName": "sync contacts dosR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        3100
      ],
      "id": "48521d11-5b30-408c-bc4f-7b59f3c390c9",
      "name": "Workflow proyecto inmobiliaria1"
    },
    {
      "parameters": {
        "amount": 0,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -620,
        -300
      ],
      "id": "bbab043d-7179-4be8-ae4a-eae0788ae5c2",
      "name": "Wait",
      "webhookId": "0e2d004d-8cb2-48b6-aee0-078bca5df465"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -620,
        -100
      ],
      "id": "642e60a2-83a0-4ac5-b737-f2d5e616d153",
      "name": "Wait1",
      "webhookId": "d4f3f52c-e119-4c8b-b0bb-9ccd94240399"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S7AYCh8pq6R9Di4L",
          "mode": "list",
          "cachedResultName": "sync contacts dosR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -400,
        2100
      ],
      "id": "3279aa98-ffd6-43e6-9315-1a5184d41067",
      "name": "Workflow proyecto dosR"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -620,
        2100
      ],
      "id": "cfec4a54-50d2-4380-965a-a2fedf7169d5",
      "name": "Wait2",
      "webhookId": "46f19b2f-de24-44a8-8e2e-f3444c926d15"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xyOvIc7As7Tzr53z",
          "mode": "list",
          "cachedResultName": "Cincronización Contactos Marcali"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        3320
      ],
      "id": "ea25642f-050f-40df-a91d-2b4e8c075b60",
      "name": "Workflow marcali"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "accept": "*/*",
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.7",
            "max-forwards": "10",
            "origin": "https://victorious-mud-0f646a10f.1.azurestaticapps.net",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-ch-ua": "\"Chromium\";v=\"136\", \"Brave\";v=\"136\", \"Not.A/Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-gpc": "1",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "x-arr-log-id": "db11f7e6-e063-4149-98fd-1707f896ec6e",
            "client-ip": "190.108.78.145:23698",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 07, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "190.108.78.145:23698",
            "x-original-url": "/webhook/config/contacts",
            "x-waws-unencoded-url": "/webhook/config/contacts",
            "x-client-ip": "190.108.78.145",
            "x-client-port": "23698",
            "content-type": "application/json",
            "content-length": "286"
          },
          "params": {},
          "query": {},
          "body": {
            "id_location": "ygmZqFWWtWT2NrIe3Rtf",
            "date": "2025-01-01T05:00:00.000Z",
            "endDate": "2025-07-31T05:00:00.000Z",
            "created": true,
            "updated": true,
            "proccessConversations": false,
            "isValidated": false,
            "isOverwrite": false,
            "isOverrideConversations": false,
            "isSimulated": false,
            "userPhone": "3182014502"
          },
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/config/contacts",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-17T14:59:06.985Z",
  "versionId": "a20f803d-147d-49bd-9a55-4038c1cb3264"
}