ropoflow_workflows_backup2025/07/KNNTK4ggeGoDkOPI.json
{
  "active": false,
  "connections": {
    "Search contacts con filtros avanzados1": {
      "main": [
        [
          {
            "node": "consultar contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar contacto1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear contactos": {
      "main": [
        [
          {
            "node": "Guardar contacto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar conversaciones": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "guardar mensajes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "consultar mensajes": {
      "main": [
        [
          {
            "node": "guardar mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar conversaciones": {
      "main": [
        [
          {
            "node": "consultar mensajes",
            "type": "main",
            "index": 0
          },
          {
            "node": "guardar conversaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar contacto": {
      "main": [
        [
          {
            "node": "consultar conversaciones",
            "type": "main",
            "index": 0
          },
          {
            "node": "formatear contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search contacts con filtros avanzados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-22T12:20:05.217Z",
  "id": "KNNTK4ggeGoDkOPI",
  "isArchived": false,
  "meta": null,
  "name": "Sincronización Contactos Evg",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "returnAll": true,
        "pageLimit": 100,
        "dateFilters": {
          "startDate": "={{ $json.body.date }}",
          "endDate": "={{ $json.body.endDate }}",
          "filterByDateAdded": true,
          "filterByDateUpdated": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -600,
        340
      ],
      "id": "da802e1a-aa51-4e9e-8ed6-e614f201079e",
      "name": "Search contacts con filtros avanzados1",
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "ilvP9udKRouUjoA7",
          "name": "EVG"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.values }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        280,
        80
      ],
      "id": "517031e0-ca89-4a65-94e6-9844fb3af738",
      "name": "Guardar contacto1",
      "credentials": {
        "postgres": {
          "id": "7gEky8Pvr3oAzvJy",
          "name": "EVG DB bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        500,
        440
      ],
      "id": "c1df7d39-7924-4602-a7f7-ef93bf274abb",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        500,
        240
      ],
      "id": "018d60c2-7b56-4338-b63c-d49b5ef421af",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst clean = (val) => (val ?? '').toString().replace(/'/g, \"''\");\n\nconst query = {\n  text: `\n  INSERT INTO public.contacts (\n    \"id\", \"location_id\", \"contact_name\", \"first_name\", \"first_name_raw\", \"last_name\", \"last_name_raw\",\n    \"company_name\", \"email\", \"phone\", \"dnd\", \"type\", \"source\", \"assigned_to\", \"city\",\n    \"state\", \"postal_code\", \"address1\", \"date_added\", \"date_updated\", \"date_of_birth\", \"business_id\",\n    \"tags\", \"followers\", \"country\", \"website\", \"additional_emails\", \"attributions\", \"custom_fields\",\n    \"process\", \"dnd_settings\"\n  ) VALUES (\n    $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17, $18, $19, $20, $21, $22,\n    $23::jsonb, $24::jsonb, $25, $26, $27::jsonb, $28::jsonb, $29::jsonb, $30, $31::jsonb\n  )\n  ON CONFLICT (\"id\") DO UPDATE SET\n    \"location_id\" = EXCLUDED.\"location_id\",\n    \"contact_name\" = EXCLUDED.\"contact_name\",\n    \"first_name\" = EXCLUDED.\"first_name\",\n    \"first_name_raw\" = EXCLUDED.\"first_name_raw\",\n    \"last_name\" = EXCLUDED.\"last_name\",\n    \"last_name_raw\" = EXCLUDED.\"last_name_raw\",\n    \"company_name\" = EXCLUDED.\"company_name\",\n    \"email\" = EXCLUDED.\"email\",\n    \"phone\" = EXCLUDED.\"phone\",\n    \"dnd\" = EXCLUDED.\"dnd\",\n    \"type\" = EXCLUDED.\"type\",\n    \"source\" = EXCLUDED.\"source\",\n    \"assigned_to\" = EXCLUDED.\"assigned_to\",\n    \"city\" = EXCLUDED.\"city\",\n    \"state\" = EXCLUDED.\"state\",\n    \"postal_code\" = EXCLUDED.\"postal_code\",\n    \"address1\" = EXCLUDED.\"address1\",\n    \"date_added\" = EXCLUDED.\"date_added\",\n    \"date_updated\" = EXCLUDED.\"date_updated\",\n    \"date_of_birth\" = EXCLUDED.\"date_of_birth\",\n    \"business_id\" = EXCLUDED.\"business_id\",\n    \"tags\" = EXCLUDED.\"tags\",\n    \"followers\" = EXCLUDED.\"followers\",\n    \"country\" = EXCLUDED.\"country\",\n    \"website\" = EXCLUDED.\"website\",\n    \"additional_emails\" = EXCLUDED.\"additional_emails\",\n    \"attributions\" = EXCLUDED.\"attributions\",\n    \"custom_fields\" = EXCLUDED.\"custom_fields\",\n    \"process\" = EXCLUDED.\"process\",\n    \"dnd_settings\" = EXCLUDED.\"dnd_settings\"\n  `,\n  values: [\n    d.id,\n    d.locationId,\n    d.fullNameLowerCase,\n    d.firstName,\n    d.firstNameLowerCase,\n    d.lastName,\n    d.lastNameLowerCase,\n    d.companyName,\n    d.email,\n    d.phone,\n    d.dnd || false,\n    d.type,\n    d.source,\n    d.assignedTo,\n    d.city,\n    d.state || '',\n    d.postalCode || '',\n    d.address1 || '',\n    d.dateAdded,\n    d.dateUpdated,\n    d.dateOfBirth || '',\n    d.businessId,\n    JSON.stringify(d.tags || []),\n    JSON.stringify(d.followers || []),\n    d.country,\n    d.website || '',\n    JSON.stringify(d.additionalEmails || []),\n    JSON.stringify(d.attributions || {}),\n    JSON.stringify(d.customFields || []),\n    'ropoflow',\n    JSON.stringify(d.dndSettings || {})\n  ]\n};\n\nreturn {\n  text: query.text,\n  values: query.values\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        80
      ],
      "id": "e6d8bcd9-c9cf-4e86-b861-fe5814a8bdfe",
      "name": "formatear contactos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.conversations(\n  \"id\",\n  \"locationId\",\n  \"inbox\",\n  \"unreadCount\",\n  \"assignedTo\",\n  \"contactId\",\n  \"type\",\n  \"updated_at\",\n  \"created_at\",\n  \"deleted\",\n  \"starred\",\n  \"sync_with_webhook\",\n  \"process\"\n)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.locationId }}',\n  '{{ $json.inbox ?? '' }}',\n  {{ $json.unreadCount ?? 0 }},\n  '{{ $json.assignedTo ?? '' }}',\n  '{{ $json.contactId ?? '' }}',\n  '{{ $json.type ?? '' }}',\n  to_timestamp({{ $json.dateUpdated ?? 0 }} / 1000.0),\n  to_timestamp({{ $json.dateAdded ?? 0 }} / 1000.0),\n  false,\n  false,\n  false,\n  false\n)\nON CONFLICT (\"id\")\nDO UPDATE SET\n  \"locationId\" = EXCLUDED.\"locationId\",\n  \"inbox\" = EXCLUDED.\"inbox\",\n  \"unreadCount\" = EXCLUDED.\"unreadCount\",\n  \"assignedTo\" = EXCLUDED.\"assignedTo\",\n  \"contactId\" = EXCLUDED.\"contactId\",\n  \"type\" = EXCLUDED.\"type\",\n  \"updated_at\" = EXCLUDED.\"updated_at\",\n  \"created_at\" = EXCLUDED.\"created_at\",\n  \"deleted\" = EXCLUDED.\"deleted\",\n  \"starred\" = EXCLUDED.\"starred\",\n  \"sync_with_webhook\" = EXCLUDED.\"sync_with_webhook\",\n  \"process\" = EXCLUDED.\"process\";\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        280,
        340
      ],
      "id": "bf491eb1-79e3-4db7-8c56-02996ea6a87a",
      "name": "guardar conversaciones",
      "credentials": {
        "postgres": {
          "id": "7gEky8Pvr3oAzvJy",
          "name": "EVG DB bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.messages(\n  \"id\",\n  \"type\",\n  \"messageType\",\n  \"locationId\",\n  \"contactId\",\n  \"conversationId\",\n  \"dateAdded\",\n  \"body\",\n  \"direction\",\n  \"status\",\n  \"contentType\",\n  \"attachments\",\n  \"meta\",\n  \"source\",\n  \"userId\",\n  \"updated_at\",\n  \"created_at\"\n)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.type ?? '' }}',\n  '{{ $json.messageType ?? '' }}',\n  '{{ $json.locationId ?? '' }}',\n  '{{ $json.contactId ?? '' }}',\n  '{{ $json.conversationId ?? '' }}',\n  {{ $json.dateAdded ? `'${$json.dateAdded}'::timestamptz` : 'NULL' }},\n  '{{ ($json.body ?? '').replace(/'/g, \"''\") }}',\n  '{{ $json.direction ?? '' }}',\n  '{{ $json.status ?? '' }}',\n  '{{ $json.contentType ?? '' }}',\n  '{{ JSON.stringify($json.attachments ?? []) }}'::jsonb,\n  '{{ JSON.stringify($json.meta ?? {}) }}'::jsonb,\n  '{{ $json.source ?? '' }}',\n  '{{ $json.userId ?? '' }}',\n  '{{ $json.dateAdded ?? '' }}',\n  '{{ $json.dateAdded ?? '' }}'\n)\nON CONFLICT DO NOTHING;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        280,
        580
      ],
      "id": "15e67bf6-b10f-4e4b-aa15-e26dc5b3311e",
      "name": "guardar mensajes",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "7gEky8Pvr3oAzvJy",
          "name": "EVG DB bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "conversationId": "={{ $json.id }}",
        "locationId": "={{ $json.locationId }}",
        "limit": 100,
        "returnAll": true,
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        60,
        580
      ],
      "id": "6edd8247-79cb-45f0-9962-1c72d8b9e56d",
      "name": "consultar mensajes",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "ilvP9udKRouUjoA7",
          "name": "EVG"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "conversation",
        "contactId": "={{ $json.id }}",
        "locationId": "={{ $json.locationId }}",
        "limit": 100,
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 700
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -160,
        480
      ],
      "id": "c5d21945-91fe-46ae-b0ea-764dfd27c55b",
      "name": "consultar conversaciones",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "ilvP9udKRouUjoA7",
          "name": "EVG"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $json.id }}",
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 700
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -380,
        340
      ],
      "id": "40385451-8680-4e09-b312-f0d4a330b136",
      "name": "consultar contacto",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "ilvP9udKRouUjoA7",
          "name": "EVG"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        340
      ],
      "id": "fe37fd2a-ed12-416d-bd29-2b02f591e591",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-22T13:02:48.165Z",
  "versionId": "ae904eaf-6edd-470b-b35f-14df7107716f"
}