ropoflow_workflows_backup2025/07/O0VBYGKuxbuX2606.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar contacto1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear contactos": {
      "main": [
        [
          {
            "node": "Guardar contacto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar conversaciones": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "guardar mensajes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "consultar mensajes": {
      "main": [
        [
          {
            "node": "guardar mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar conversaciones": {
      "main": [
        [
          {
            "node": "consultar mensajes",
            "type": "main",
            "index": 0
          },
          {
            "node": "guardar conversaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar contacto": {
      "main": [
        [
          {
            "node": "consultar conversaciones",
            "type": "main",
            "index": 0
          },
          {
            "node": "formatear contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "consultar contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-18T13:28:33.072Z",
  "id": "O0VBYGKuxbuX2606",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Custom filter db sync contacts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "60377920-0e07-4db0-b62a-85cc7b79e25f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "date_added"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        0
      ],
      "id": "ecf68c81-6929-408d-aa43-69971cb8c818",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "DeGEMvrSz25bAJdD",
          "name": "Ropofy account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.values }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1080,
        -280
      ],
      "id": "cd583e86-9ab4-42b7-aea6-3c0373f3b59d",
      "name": "Guardar contacto1",
      "credentials": {
        "postgres": {
          "id": "DeGEMvrSz25bAJdD",
          "name": "Ropofy account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1300,
        70
      ],
      "id": "441c8c8e-7bc9-49e8-9d4e-d5a62bd8bfe2",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1300,
        -130
      ],
      "id": "71b24a35-6547-4d4b-ad52-6ba9e2007fe5",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst clean = (val) => (val ?? '').toString().replace(/'/g, \"''\");\n\nconst query = {\n  text: `\n  INSERT INTO public.contacts (\n    \"id\", \"location_id\", \"contact_name\", \"first_name\", \"first_name_raw\", \"last_name\", \"last_name_raw\",\n    \"company_name\", \"email\", \"phone\", \"dnd\", \"type\", \"source\", \"assigned_to\", \"city\",\n    \"state\", \"postal_code\", \"address1\", \"date_added\", \"date_updated\", \"date_of_birth\", \"business_id\",\n    \"tags\", \"followers\", \"country\", \"website\", \"additional_emails\", \"attributions\", \"custom_fields\",\n    \"process\", \"dnd_settings\"\n  ) VALUES (\n    $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17, $18, $19, $20, $21, $22,\n    $23::jsonb, $24::jsonb, $25, $26, $27::jsonb, $28::jsonb, $29::jsonb, $30, $31::jsonb\n  )\n  ON CONFLICT (\"id\") DO UPDATE SET\n    \"location_id\" = EXCLUDED.\"location_id\",\n    \"contact_name\" = EXCLUDED.\"contact_name\",\n    \"first_name\" = EXCLUDED.\"first_name\",\n    \"first_name_raw\" = EXCLUDED.\"first_name_raw\",\n    \"last_name\" = EXCLUDED.\"last_name\",\n    \"last_name_raw\" = EXCLUDED.\"last_name_raw\",\n    \"company_name\" = EXCLUDED.\"company_name\",\n    \"email\" = EXCLUDED.\"email\",\n    \"phone\" = EXCLUDED.\"phone\",\n    \"dnd\" = EXCLUDED.\"dnd\",\n    \"type\" = EXCLUDED.\"type\",\n    \"source\" = EXCLUDED.\"source\",\n    \"assigned_to\" = EXCLUDED.\"assigned_to\",\n    \"city\" = EXCLUDED.\"city\",\n    \"state\" = EXCLUDED.\"state\",\n    \"postal_code\" = EXCLUDED.\"postal_code\",\n    \"address1\" = EXCLUDED.\"address1\",\n    \"date_added\" = EXCLUDED.\"date_added\",\n    \"date_updated\" = EXCLUDED.\"date_updated\",\n    \"date_of_birth\" = EXCLUDED.\"date_of_birth\",\n    \"business_id\" = EXCLUDED.\"business_id\",\n    \"tags\" = EXCLUDED.\"tags\",\n    \"followers\" = EXCLUDED.\"followers\",\n    \"country\" = EXCLUDED.\"country\",\n    \"website\" = EXCLUDED.\"website\",\n    \"additional_emails\" = EXCLUDED.\"additional_emails\",\n    \"attributions\" = EXCLUDED.\"attributions\",\n    \"custom_fields\" = EXCLUDED.\"custom_fields\",\n    \"process\" = EXCLUDED.\"process\",\n    \"dnd_settings\" = EXCLUDED.\"dnd_settings\"\n  `,\n  values: [\n    d.id,\n    d.locationId,\n    d.fullNameLowerCase,\n    d.firstName,\n    d.firstNameLowerCase,\n    d.lastName,\n    d.lastNameLowerCase,\n    d.companyName,\n    d.email,\n    d.phone,\n    d.dnd || false,\n    d.type,\n    d.source,\n    d.assignedTo,\n    d.city,\n    d.state || '',\n    d.postalCode || '',\n    d.address1 || '',\n    d.dateAdded,\n    d.dateUpdated,\n    d.dateOfBirth || '',\n    d.businessId,\n    JSON.stringify(d.tags || []),\n    JSON.stringify(d.followers || []),\n    d.country,\n    d.website || '',\n    JSON.stringify(d.additionalEmails || []),\n    JSON.stringify(d.attributions || {}),\n    JSON.stringify(d.customFields || []),\n    'ropoflow',\n    JSON.stringify(d.dndSettings || {})\n  ]\n};\n\nreturn {\n  text: query.text,\n  values: query.values\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        -280
      ],
      "id": "0e89f127-f225-4cc2-a7cf-f198448cfca4",
      "name": "formatear contactos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.conversations(\n  \"id\",\n  \"locationId\",\n  \"inbox\",\n  \"unreadCount\",\n  \"assignedTo\",\n  \"contactId\",\n  \"type\",\n  \"updated_at\",\n  \"created_at\",\n  \"deleted\",\n  \"starred\",\n  \"sync_with_webhook\",\n  \"process\"\n)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.locationId }}',\n  '{{ $json.inbox ?? '' }}',\n  {{ $json.unreadCount ?? 0 }},\n  '{{ $json.assignedTo ?? '' }}',\n  '{{ $json.contactId ?? '' }}',\n  '{{ $json.type ?? '' }}',\n  to_timestamp({{ $json.dateUpdated ?? 0 }} / 1000.0),\n  to_timestamp({{ $json.dateAdded ?? 0 }} / 1000.0),\n  false,\n  false,\n  false,\n  false\n)\nON CONFLICT (\"id\")\nDO UPDATE SET\n  \"locationId\" = EXCLUDED.\"locationId\",\n  \"inbox\" = EXCLUDED.\"inbox\",\n  \"unreadCount\" = EXCLUDED.\"unreadCount\",\n  \"assignedTo\" = EXCLUDED.\"assignedTo\",\n  \"contactId\" = EXCLUDED.\"contactId\",\n  \"type\" = EXCLUDED.\"type\",\n  \"updated_at\" = EXCLUDED.\"updated_at\",\n  \"created_at\" = EXCLUDED.\"created_at\",\n  \"deleted\" = EXCLUDED.\"deleted\",\n  \"starred\" = EXCLUDED.\"starred\",\n  \"sync_with_webhook\" = EXCLUDED.\"sync_with_webhook\",\n  \"process\" = EXCLUDED.\"process\";\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1080,
        -30
      ],
      "id": "5db28703-0192-4ca6-af00-ad95140b6527",
      "name": "guardar conversaciones",
      "credentials": {
        "postgres": {
          "id": "DeGEMvrSz25bAJdD",
          "name": "Ropofy account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.messages(\n  \"id\",\n  \"type\",\n  \"messageType\",\n  \"locationId\",\n  \"contactId\",\n  \"conversationId\",\n  \"dateAdded\",\n  \"body\",\n  \"direction\",\n  \"status\",\n  \"contentType\",\n  \"attachments\",\n  \"meta\",\n  \"source\",\n  \"userId\",\n  \"updated_at\",\n  \"created_at\"\n)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.type ?? '' }}',\n  '{{ $json.messageType ?? '' }}',\n  '{{ $json.locationId ?? '' }}',\n  '{{ $json.contactId ?? '' }}',\n  '{{ $json.conversationId ?? '' }}',\n  {{ $json.dateAdded ? `'${$json.dateAdded}'::timestamptz` : 'NULL' }},\n  '{{ ($json.body ?? '').replace(/'/g, \"''\") }}',\n  '{{ $json.direction ?? '' }}',\n  '{{ $json.status ?? '' }}',\n  '{{ $json.contentType ?? '' }}',\n  '{{ JSON.stringify($json.attachments ?? []) }}'::jsonb,\n  '{{ JSON.stringify($json.meta ?? {}) }}'::jsonb,\n  '{{ $json.source ?? '' }}',\n  '{{ $json.userId ?? '' }}',\n  '{{ $json.dateAdded ?? '' }}',\n  '{{ $json.dateAdded ?? '' }}'\n)\nON CONFLICT DO NOTHING;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1080,
        220
      ],
      "id": "8175f527-28df-4ff0-bd9e-c2469f265a09",
      "name": "guardar mensajes",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "DeGEMvrSz25bAJdD",
          "name": "Ropofy account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "conversationId": "={{ $json.id }}",
        "locationId": "={{ $json.locationId }}",
        "limit": 100,
        "returnAll": true,
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        860,
        220
      ],
      "id": "6b51bc5a-0819-4796-947f-0eb4e9863794",
      "name": "consultar mensajes",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "xMw4PMvRcsXNeOLo",
          "name": "Ropofy account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "conversation",
        "contactId": "={{ $json.id }}",
        "locationId": "={{ $json.locationId }}",
        "limit": 100,
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 700
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        640,
        120
      ],
      "id": "1e6d0182-8b03-45cd-935e-ca533b1c2068",
      "name": "consultar conversaciones",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "xMw4PMvRcsXNeOLo",
          "name": "Ropofy account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $json.id }}",
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 700
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        420,
        -30
      ],
      "id": "dbf2f5bf-1f13-4f14-91ff-6027143158bd",
      "name": "consultar contacto",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "xMw4PMvRcsXNeOLo",
          "name": "Ropofy account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-19T17:15:27.464Z",
  "versionId": "5eaa7f51-9909-4fe2-9cc0-f146f198cd26"
}