ropoflow_workflows_backup2025/07/Rn447Sgyak428KyX.json
{
  "active": false,
  "connections": {
    "Search contacts con filtros avanzados1": {
      "main": [
        [
          {
            "node": "consultar contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar contacto1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear contactos": {
      "main": [
        [
          {
            "node": "Guardar contacto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar conversaciones": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "guardar mensajes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "consultar mensajes": {
      "main": [
        [
          {
            "node": "guardar mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar conversaciones": {
      "main": [
        [
          {
            "node": "consultar mensajes",
            "type": "main",
            "index": 0
          },
          {
            "node": "guardar conversaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar contacto": {
      "main": [
        [
          {
            "node": "consultar conversaciones",
            "type": "main",
            "index": 0
          },
          {
            "node": "formatear contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search contacts con filtros avanzados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-22T12:23:12.143Z",
  "id": "Rn447Sgyak428KyX",
  "isArchived": false,
  "meta": null,
  "name": "Sincronización Contactos Moldex",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "returnAll": true,
        "pageLimit": 100,
        "dateFilters": {
          "startDate": "={{ $json.body.date }}",
          "endDate": "={{ $json.body.endDate }}",
          "filterByDateAdded": true,
          "filterByDateUpdated": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -660,
        260
      ],
      "id": "55ac09bc-9728-44f8-b8e8-05b5add7f41a",
      "name": "Search contacts con filtros avanzados1",
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "wk8ze4KKA4NIG9UQ",
          "name": "Moldex"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.values }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        0
      ],
      "id": "021d37eb-7ec3-42cc-805a-1de5280f0189",
      "name": "Guardar contacto1",
      "credentials": {
        "postgres": {
          "id": "ttqvVbC78buoDb38",
          "name": "Moldex DB bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        440,
        360
      ],
      "id": "023ac44c-c3d7-44cf-8b98-f7ad9513aa56",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        440,
        160
      ],
      "id": "dbb8f550-01d4-43af-99ee-49ea6ca67069",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst clean = (val) => (val ?? '').toString().replace(/'/g, \"''\");\n\nconst query = {\n  text: `\n  INSERT INTO public.contacts (\n    \"id\", \"location_id\", \"contact_name\", \"first_name\", \"first_name_raw\", \"last_name\", \"last_name_raw\",\n    \"company_name\", \"email\", \"phone\", \"dnd\", \"type\", \"source\", \"assigned_to\", \"city\",\n    \"state\", \"postal_code\", \"address1\", \"date_added\", \"date_updated\", \"date_of_birth\", \"business_id\",\n    \"tags\", \"followers\", \"country\", \"website\", \"additional_emails\", \"attributions\", \"custom_fields\",\n    \"process\", \"dnd_settings\"\n  ) VALUES (\n    $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17, $18, $19, $20, $21, $22,\n    $23::jsonb, $24::jsonb, $25, $26, $27::jsonb, $28::jsonb, $29::jsonb, $30, $31::jsonb\n  )\n  ON CONFLICT (\"id\") DO UPDATE SET\n    \"location_id\" = EXCLUDED.\"location_id\",\n    \"contact_name\" = EXCLUDED.\"contact_name\",\n    \"first_name\" = EXCLUDED.\"first_name\",\n    \"first_name_raw\" = EXCLUDED.\"first_name_raw\",\n    \"last_name\" = EXCLUDED.\"last_name\",\n    \"last_name_raw\" = EXCLUDED.\"last_name_raw\",\n    \"company_name\" = EXCLUDED.\"company_name\",\n    \"email\" = EXCLUDED.\"email\",\n    \"phone\" = EXCLUDED.\"phone\",\n    \"dnd\" = EXCLUDED.\"dnd\",\n    \"type\" = EXCLUDED.\"type\",\n    \"source\" = EXCLUDED.\"source\",\n    \"assigned_to\" = EXCLUDED.\"assigned_to\",\n    \"city\" = EXCLUDED.\"city\",\n    \"state\" = EXCLUDED.\"state\",\n    \"postal_code\" = EXCLUDED.\"postal_code\",\n    \"address1\" = EXCLUDED.\"address1\",\n    \"date_added\" = EXCLUDED.\"date_added\",\n    \"date_updated\" = EXCLUDED.\"date_updated\",\n    \"date_of_birth\" = EXCLUDED.\"date_of_birth\",\n    \"business_id\" = EXCLUDED.\"business_id\",\n    \"tags\" = EXCLUDED.\"tags\",\n    \"followers\" = EXCLUDED.\"followers\",\n    \"country\" = EXCLUDED.\"country\",\n    \"website\" = EXCLUDED.\"website\",\n    \"additional_emails\" = EXCLUDED.\"additional_emails\",\n    \"attributions\" = EXCLUDED.\"attributions\",\n    \"custom_fields\" = EXCLUDED.\"custom_fields\",\n    \"process\" = EXCLUDED.\"process\",\n    \"dnd_settings\" = EXCLUDED.\"dnd_settings\"\n  `,\n  values: [\n    d.id,\n    d.locationId,\n    d.fullNameLowerCase,\n    d.firstName,\n    d.firstNameLowerCase,\n    d.lastName,\n    d.lastNameLowerCase,\n    d.companyName,\n    d.email,\n    d.phone,\n    d.dnd || false,\n    d.type,\n    d.source,\n    d.assignedTo,\n    d.city,\n    d.state || '',\n    d.postalCode || '',\n    d.address1 || '',\n    d.dateAdded,\n    d.dateUpdated,\n    d.dateOfBirth || '',\n    d.businessId,\n    JSON.stringify(d.tags || []),\n    JSON.stringify(d.followers || []),\n    d.country,\n    d.website || '',\n    JSON.stringify(d.additionalEmails || []),\n    JSON.stringify(d.attributions || {}),\n    JSON.stringify(d.customFields || []),\n    'ropoflow',\n    JSON.stringify(d.dndSettings || {})\n  ]\n};\n\nreturn {\n  text: query.text,\n  values: query.values\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "63b3cb19-91b9-4702-9383-3b75d96c6362",
      "name": "formatear contactos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.conversations(\n  \"id\",\n  \"locationId\",\n  \"inbox\",\n  \"unreadCount\",\n  \"assignedTo\",\n  \"contactId\",\n  \"type\",\n  \"updated_at\",\n  \"created_at\",\n  \"deleted\",\n  \"starred\",\n  \"sync_with_webhook\",\n  \"process\"\n)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.locationId }}',\n  '{{ $json.inbox ?? '' }}',\n  {{ $json.unreadCount ?? 0 }},\n  '{{ $json.assignedTo ?? '' }}',\n  '{{ $json.contactId ?? '' }}',\n  '{{ $json.type ?? '' }}',\n  to_timestamp({{ $json.dateUpdated ?? 0 }} / 1000.0),\n  to_timestamp({{ $json.dateAdded ?? 0 }} / 1000.0),\n  false,\n  false,\n  false,\n  false\n)\nON CONFLICT (\"id\")\nDO UPDATE SET\n  \"locationId\" = EXCLUDED.\"locationId\",\n  \"inbox\" = EXCLUDED.\"inbox\",\n  \"unreadCount\" = EXCLUDED.\"unreadCount\",\n  \"assignedTo\" = EXCLUDED.\"assignedTo\",\n  \"contactId\" = EXCLUDED.\"contactId\",\n  \"type\" = EXCLUDED.\"type\",\n  \"updated_at\" = EXCLUDED.\"updated_at\",\n  \"created_at\" = EXCLUDED.\"created_at\",\n  \"deleted\" = EXCLUDED.\"deleted\",\n  \"starred\" = EXCLUDED.\"starred\",\n  \"sync_with_webhook\" = EXCLUDED.\"sync_with_webhook\",\n  \"process\" = EXCLUDED.\"process\";\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        260
      ],
      "id": "f83e97de-8a22-475b-a562-fdd1e45f0047",
      "name": "guardar conversaciones",
      "credentials": {
        "postgres": {
          "id": "ttqvVbC78buoDb38",
          "name": "Moldex DB bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.messages(\n  \"id\",\n  \"type\",\n  \"messageType\",\n  \"locationId\",\n  \"contactId\",\n  \"conversationId\",\n  \"dateAdded\",\n  \"body\",\n  \"direction\",\n  \"status\",\n  \"contentType\",\n  \"attachments\",\n  \"meta\",\n  \"source\",\n  \"userId\",\n  \"updated_at\",\n  \"created_at\"\n)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.type ?? '' }}',\n  '{{ $json.messageType ?? '' }}',\n  '{{ $json.locationId ?? '' }}',\n  '{{ $json.contactId ?? '' }}',\n  '{{ $json.conversationId ?? '' }}',\n  {{ $json.dateAdded ? `'${$json.dateAdded}'::timestamptz` : 'NULL' }},\n  '{{ ($json.body ?? '').replace(/'/g, \"''\") }}',\n  '{{ $json.direction ?? '' }}',\n  '{{ $json.status ?? '' }}',\n  '{{ $json.contentType ?? '' }}',\n  '{{ JSON.stringify($json.attachments ?? []) }}'::jsonb,\n  '{{ JSON.stringify($json.meta ?? {}) }}'::jsonb,\n  '{{ $json.source ?? '' }}',\n  '{{ $json.userId ?? '' }}',\n  '{{ $json.dateAdded ?? '' }}',\n  '{{ $json.dateAdded ?? '' }}'\n)\nON CONFLICT DO NOTHING;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        500
      ],
      "id": "8506c9f0-4279-4c2c-80a7-720208a5488d",
      "name": "guardar mensajes",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "ttqvVbC78buoDb38",
          "name": "Moldex DB bi"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "conversationId": "={{ $json.id }}",
        "locationId": "={{ $json.locationId }}",
        "limit": 100,
        "returnAll": true,
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        0,
        500
      ],
      "id": "7383c25d-b3ef-424e-a1a3-3bd2fa5c3cc7",
      "name": "consultar mensajes",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "wk8ze4KKA4NIG9UQ",
          "name": "Moldex"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "conversation",
        "contactId": "={{ $json.id }}",
        "locationId": "={{ $json.locationId }}",
        "limit": 100,
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 700
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -220,
        400
      ],
      "id": "b428e64d-1496-446f-a0be-b1b1cf77ac84",
      "name": "consultar conversaciones",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "wk8ze4KKA4NIG9UQ",
          "name": "Moldex"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $json.id }}",
        "requestOptions": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 700
            }
          }
        }
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        -440,
        260
      ],
      "id": "c5babb47-e416-4d20-904f-ff7ead5bb89f",
      "name": "consultar contacto",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "wk8ze4KKA4NIG9UQ",
          "name": "Moldex"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -900,
        260
      ],
      "id": "adfb2b61-ff09-4f60-993c-93d1c196943c",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-22T12:38:15.790Z",
  "versionId": "d1e63f6a-06bc-4574-a9d9-13a5e02751e5"
}