ropoflow_workflows_backup2025/07/SUV0Ry8LIDrUbJ5m.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-10T21:52:18.717Z",
  "id": "SUV0Ry8LIDrUbJ5m",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "get contacts simulated API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/simulate/contacts",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        -40
      ],
      "id": "dc403cf8-7967-4b10-9067-ab1400970cd2",
      "name": "Webhook",
      "webhookId": "b27cf85b-dabc-4f2e-8950-daf442b7b7c0"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "system_ropofy_locations",
          "mode": "list",
          "cachedResultName": "system_ropofy_locations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "location_id",
              "value": "={{ $json.body.id_location }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        780,
        -40
      ],
      "id": "61d75842-1158-4ef0-b647-5155a91f4ab7",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "tfjc18K49daMASdp",
          "name": "Base de datos APIS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Select rows from a table').item.json.token }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        -40
      ],
      "id": "4a9a7e7a-52b3-420d-9f0e-bce31dafc951",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconsole.log(body);\n\nconst filters = [];\n\nif (body.created) {\n  filters.push({\n    field: \"dateAdded\",\n    operator: \"range\",\n    value: {\n      gt: body.date,\n      lt: body.endDate\n    }\n  });\n}\n\nif (body.updated) {\n  filters.push({\n    field: \"dateUpdated\",\n    operator: \"range\",\n    value: {\n      gt: body.date,\n      lt: body.endDate\n    }\n  });\n}\n\nconst finalFilters = filters.length === 1\n  ? filters // solo uno, no necesita OR\n  : [{\n      group: \"OR\",\n      filters: filters\n    }];\n\nreturn [\n  {\n    json: {\n      locationId: body.id_location,\n      page: 1,\n      pageLimit: 1,\n      filters: finalFilters\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -40
      ],
      "id": "2b561b53-f2e4-4309-8869-21976dc85a4d",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  \"total\": $json.total\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -40
      ],
      "id": "4fbc7db3-3095-47a4-8451-68fecff1901c",
      "name": "Code1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "*/*",
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.7",
            "max-forwards": "10",
            "origin": "https://victorious-mud-0f646a10f.1.azurestaticapps.net",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-ch-ua": "\"Chromium\";v=\"136\", \"Brave\";v=\"136\", \"Not.A/Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-gpc": "1",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "x-arr-log-id": "a4230e76-35e8-4656-9199-9487250a5d5b",
            "client-ip": "190.108.78.145:8299",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 07, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "190.108.78.145:8299",
            "x-original-url": "/webhook/simulate/contacts",
            "x-waws-unencoded-url": "/webhook/simulate/contacts",
            "x-client-ip": "190.108.78.145",
            "x-client-port": "8299",
            "content-type": "application/json",
            "content-length": "286"
          },
          "params": {},
          "query": {},
          "body": {
            "id_location": "ygmZqFWWtWT2NrIe3Rtf",
            "date": "2025-07-01T05:00:00.000Z",
            "endDate": "2025-08-02T05:00:00.000Z",
            "created": true,
            "updated": false,
            "proccessConversations": false,
            "isValidated": false,
            "isOverwrite": false,
            "isOverrideConversations": false,
            "isSimulated": true,
            "userPhone": "3182014502"
          },
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/simulate/contacts",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-01T20:16:33.204Z",
  "versionId": "6c70360a-45b6-47a3-b00b-9593e03dccee"
}