ropoflow_workflows_backup2025/10/DxaCrIk7wuwjsmys.json
{
  "active": true,
  "connections": {
    "obtener token": {
      "main": [
        [
          {
            "node": "obtener usuarios",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "obtener token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener usuarios": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-16T21:04:06.349Z",
  "id": "DxaCrIk7wuwjsmys",
  "isArchived": false,
  "meta": null,
  "name": "identificarse",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f02939af-fd65-4ba7-b79b-79d20dfd36da",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1245317c-7cb6-471f-aba2-f22724d3b64d",
      "name": "Webhook",
      "webhookId": "f02939af-fd65-4ba7-b79b-79d20dfd36da"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "system_ropofy_agencies",
          "mode": "list",
          "cachedResultName": "system_ropofy_agencies"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "f5164e55-1b66-4639-b073-7e360193124a"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        180,
        0
      ],
      "id": "eed2bc1c-ba9c-4212-a851-62b5fbf75a2a",
      "name": "obtener token",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "tfjc18K49daMASdp",
          "name": "Base de datos APIS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://backend.leadconnectorhq.com/users/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "companyId",
              "value": "={{ $json.company_id }}"
            },
            {
              "name": "limit",
              "value": "10000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        0
      ],
      "id": "36fa88a3-e595-4ce6-8512-7d62da0bbd82",
      "name": "obtener usuarios",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos la lista de usuarios desde el nodo anterior\nconst users = $('obtener usuarios').first().json.users || [];\n\n// Obtenemos el email que viene desde el webhook y lo pasamos a minúsculas\nconst emailToFind = ($('Webhook').first().json.query?.email || '').toLowerCase();\n\n// Validamos si existe (convirtiendo también cada email de los usuarios a minúsculas)\nconst exists = users.some(user => (user?.email || '').toLowerCase() === emailToFind);\n\n// Retornamos true o false\nreturn [{ exists }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        0
      ],
      "id": "9d7a5029-d39b-4458-a085-801f7b3bc62c",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:ec02bea368b3402882b2d90fa1e9ee6a@thread.v2",
          "mode": "list",
          "cachedResultName": "📊🔔 Notificaciones Integraciones (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Aec02bea368b3402882b2d90fa1e9ee6a%40thread.v2/0?tenantId=e67529fc-68be-4f5b-aa27-edbad4a44b14"
        },
        "message": "=🚨 Ocurrió un error en el flujo de identificación de correo de zendesk.",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        580,
        180
      ],
      "id": "33011566-31c8-4625-aa9e-0e71bb6dcba2",
      "name": "Create chat message",
      "webhookId": "eadd561f-7289-4b70-8d5d-5cd4dfef3a47",
      "executeOnce": true,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "ZN6rkGlpvuVkKKom",
          "name": "Microsoft Teams account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json",
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "ZIS-Engine/1.0",
            "accept-encoding": "gzip",
            "max-forwards": "10",
            "traceparent": "00-00000000000000005f8d8524e6c97abf-50c1af9c81dbaf1b-00",
            "tracestate": "dd=s:0;p:50c1af9c81dbaf1b",
            "x-request-id": "e5ff29d7-d4e6-4dec-9d30-1f513247c058",
            "x-zis-authorization": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJ6aXMiLCJleHAiOjE3NjI3ODc0NzAsImlhdCI6MTc2Mjc4NzE3MH0.q6FtgSyRyOib-YfAViIyJGCJury4EquuGuchi-jR9rZImrAjUw_eNMws6n03L53wXPhzwEgltOifA8eut2h8ldc2_gdoWHmfymuBL1miOeMdcZ1NQmFJA6_12SLfwZw6SifN4P-fHyEfkxqCzYewT2l8NNDz_5jPCAvcWVuX8IZn782e75kjw00f78_ZXIvB-ytrkmbZ1lIkb5jmZFe753d6tDJeM5B0JXoOx3Klxo1sSVdIvjaKzeP7j85Zl54-U5sjKHB1kbicm0-kTgWxY_Gn7dhsRxZ7N_Uutdwd0gbVmYxFRiKndT-wLla19j9ryYFIbaQBnTISKt8Mv0oCIg",
            "x-arr-log-id": "7791d4d5-afc5-420f-9fc2-b1fb147e98c2",
            "client-ip": "216.198.2.195:59123",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 08, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "216.198.2.195:59123",
            "x-original-url": "/webhook/f02939af-fd65-4ba7-b79b-79d20dfd36da?email=felipe.arangog%40gmail.com",
            "x-waws-unencoded-url": "/webhook/f02939af-fd65-4ba7-b79b-79d20dfd36da?email=felipe.arangog%40gmail.com",
            "x-client-ip": "216.198.2.195",
            "x-client-port": "59123",
            "content-type": "application/json",
            "content-length": "5"
          },
          "params": {},
          "query": {
            "email": "felipe.arangog@gmail.com"
          },
          "body": {},
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/f02939af-fd65-4ba7-b79b-79d20dfd36da",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-10T15:28:33.289Z",
  "versionId": "a0ebc78d-d6bd-4da9-9d5a-6aff828bc8ea"
}