ropoflow_workflows_backup2025/10/gCxuBKRKk3UcrAAO.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a database page": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-24T21:02:40.022Z",
  "id": "gCxuBKRKk3UcrAAO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Documentación - Set Cliente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4db5f24d-423a-4e69-9769-62fbec5e97bf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "22b7a26c-1729-45f5-bed1-694d599a9976",
      "name": "Webhook",
      "webhookId": "4db5f24d-423a-4e69-9769-62fbec5e97bf"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.data.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "👥 Cliente|relation",
              "relationValue": [
                "={{ $json.property_cliente[0] }}"
              ]
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "aea7a125-c077-4065-80a2-f6136c38103a",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.body.data.properties['📅 Solicitudes'].relation[0].id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "85990b2a-4945-4826-81a2-98c10424955c",
      "name": "Get a database page",
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "NotionAutomation",
            "baggage": "sentry-environment=production,sentry-release=20251024.1856-ab02488,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=70f7ee7d8cd44af0919545fa204cadb1",
            "max-forwards": "10",
            "traceparent": "00-812d455a3d44e16bbe4a12044ea7b59b-7d2b4995f47023ad-00",
            "sentry-trace": "70f7ee7d8cd44af0919545fa204cadb1-8cecdd67570c0a65",
            "x-arr-log-id": "3ae5f472-a3e2-489c-9ab6-246dbe797dfb",
            "client-ip": "54.191.35.95:43350",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 08, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "54.191.35.95:43350",
            "x-original-url": "/webhook/4db5f24d-423a-4e69-9769-62fbec5e97bf",
            "x-waws-unencoded-url": "/webhook/4db5f24d-423a-4e69-9769-62fbec5e97bf",
            "x-client-ip": "54.191.35.95",
            "x-client-port": "43350",
            "content-type": "application/json",
            "content-length": "1092"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "2968ba98-4c4c-8025-b4ee-004d21e5b490",
              "action_id": "2968ba98-4c4c-80ba-a43e-005a3eca86ed",
              "event_id": "cd92167c-798c-4eb9-b65a-737272c2a478",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "2968ba98-4c4c-80cf-85f5-d3117a578256",
              "created_time": "2025-10-24T21:54:00.000Z",
              "last_edited_time": "2025-10-24T21:54:00.000Z",
              "created_by": {
                "object": "user",
                "id": "6cb448bb-c4cd-4e3b-a45b-82d27fffc790"
              },
              "last_edited_by": {
                "object": "user",
                "id": "6cb448bb-c4cd-4e3b-a45b-82d27fffc790"
              },
              "cover": null,
              "icon": null,
              "parent": {
                "type": "data_source_id",
                "data_source_id": "2968ba98-4c4c-80dd-8af1-000bb9371f1e",
                "database_id": "2968ba98-4c4c-80e0-a584-c0afc8e4eecd"
              },
              "archived": false,
              "in_trash": false,
              "is_locked": false,
              "properties": {
                "👥 Cliente": {
                  "id": "h%7BmW",
                  "type": "relation",
                  "relation": [],
                  "has_more": false
                },
                "📅 Solicitudes": {
                  "id": "rNTy",
                  "type": "relation",
                  "relation": [
                    {
                      "id": "28c8ba98-4c4c-815b-a87d-fb81e49ef935"
                    }
                  ],
                  "has_more": false
                }
              },
              "url": "https://www.notion.so/HOLA-2968ba984c4c80cf85f5d3117a578256",
              "public_url": null,
              "request_id": "8bbe9460-0423-4c04-a366-693cf6b6ad51"
            }
          },
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/4db5f24d-423a-4e69-9769-62fbec5e97bf",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-24T22:10:34.352Z",
  "versionId": "d2039fc8-19c7-46e4-b4d1-da30531f3324"
}