ropoflow_workflows_backup2025/10/gOrPNY1gNoSxCMuA.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear orden": {
      "main": [
        [
          {
            "node": "Update a contact2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crear nota de creacion desde ropofy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pedido": {
      "main": [
        [
          {
            "node": "generar json woocommerce",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generar json woocommerce": {
      "main": [
        [
          {
            "node": "crear orden",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Update a contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-09T15:20:32.548Z",
  "id": "gOrPNY1gNoSxCMuA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "integracion woocommerce v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/v2/integracionWoo/",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -140
      ],
      "id": "e91369bd-6a09-4db2-ae7d-d7e60af74303",
      "name": "Webhook",
      "webhookId": "68ce8261-443c-44c1-b8dd-d12bd30f6cf3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://matemundo.com.ar/wp-json/wc/v3/orders",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "consumer_key",
              "value": "ck_8d4f2ee62c1545f962e71274df4ba8561a1f8589"
            },
            {
              "name": "consumer_secret",
              "value": "cs_3cc397dd2791b9a8f2c68a5e50a8a0be56eca64c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.pedido }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -40
      ],
      "id": "563582ad-2a94-4eb5-b3c4-0b83f19b81b8",
      "name": "crear orden",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "let jsonProducts = JSON.parse($('Webhook').first().json.body.customData.pedido ?? \"{}\");\n\nreturn jsonProducts;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -140
      ],
      "id": "5b289ab9-1463-4a45-b727-8368f5a22211",
      "name": "pedido",
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos el JSON de entrada\nconst data = items[0].json;\n\n// Arrays para los resultados\nconst line_items = [];\nconst omitidos = [];\n\n// Recorremos los productos del pedido\nfor (const p of data.pedido) {\n  if (p.type === \"variable\") {\n    // Producto variable\n    if (p.id_variacion) {\n      // Tiene variación -> se incluye en el pedido\n      line_items.push({\n        product_id: p.codigo_producto,\n        variation_id: p.id_variacion,\n        quantity: p.cantidad,\n        price: p.precio_unitario\n      });\n    } else {\n      // No tiene variación -> se omite y se registra el motivo\n      omitidos.push({\n        id_producto: p.codigo_producto,\n        id_variation: p.id_variacion,\n        nombre_producto: p.producto,\n        motivo: \"Producto de tipo variable sin id_variacion\"\n      });\n    }\n  } else {\n    // Producto simple -> se incluye normalmente\n    line_items.push({\n      product_id: p.codigo_producto,\n      quantity: p.cantidad,\n      price: p.precio_unitario\n    });\n  }\n}\n\n// Construimos la orden\nconst order = {\n  payment_method: \"bacs\",\n  payment_method_title: \"Transferencia bancaria\",\n  customer_note: \"Pedido generado desde Ropofy\",\n  set_paid: false,\n  billing: {\n    first_name: $('Webhook').first().json.body.first_name,\n    last_name: \"\",\n    address_1: $input.first().json.direccion,\n    city: $input.first().json.ciudad,\n    country: \"AR\",\n    email: $('Webhook').first().json.body.email,\n    phone: $('Webhook').first().json.body.phone\n  },\n  shipping: {\n    first_name: $('Webhook').first().json.body.first_name,\n    last_name: \"\",\n    address_1: $input.first().json.direccion,\n    city: $input.first().json.ciudad,\n    country: \"AR\"\n  },\n  line_items\n};\n\n// Retornamos el resultado para n8n\nreturn [\n  {\n    json: {\n      pedido: order,\n      omitidos\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -240
      ],
      "id": "25017614-16df-44bc-8f9b-a0e8cdf8cbfd",
      "name": "generar json woocommerce",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "key": "phone",
              "value": "={{ $json.body.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        220,
        -140
      ],
      "id": "00ab2828-e801-4397-af67-64988fe477f0",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://matemundo.com.ar/wp-json/wc/v3/orders/{{ $json.id }}/notes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "consumer_key",
              "value": "ck_8d4f2ee62c1545f962e71274df4ba8561a1f8589"
            },
            {
              "name": "consumer_secret",
              "value": "cs_3cc397dd2791b9a8f2c68a5e50a8a0be56eca64c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "note",
              "value": "Generado desde ropofy"
            },
            {
              "name": "customer_note",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -40
      ],
      "id": "4aa87264-a600-405f-9ad7-9e55addc8650",
      "name": "Crear nota de creacion desde ropofy"
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('Webhook').item.json.body.contact_id }}",
        "updateFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "H3WMBP3zrfoRZc6jVABy",
                  "mode": "list",
                  "cachedResultName": "Notificacion"
                },
                "fieldValue": "Error"
              }
            ]
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        1100,
        160
      ],
      "id": "3a198973-af52-48fc-a25a-318e7b64c18f",
      "name": "Update a contact",
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "k333jA62tFGbp7Fa",
          "name": "matemundo - ropoflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('Webhook').item.json.body.contact_id }}",
        "updateFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "npEJyTik2kNZrZxiaHAY",
                  "mode": "list",
                  "cachedResultName": "Pedidos Omitidos"
                },
                "fieldValue": "={{ $json.item }}"
              }
            ]
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        1540,
        -820
      ],
      "id": "1ac52b6b-fde8-475f-83af-c91fb1566590",
      "name": "Update a contact1",
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "k333jA62tFGbp7Fa",
          "name": "matemundo - ropoflow"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33ff1db0-79f7-4148-846f-f09445c89b7b",
              "leftValue": "={{ $json.omitidos }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -440
      ],
      "id": "a47cdc38-7f68-42a2-9ce5-8e6624bd43d4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('Webhook').item.json.body.contact_id }}",
        "updateFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "mGM3D2fyzipZmyIUvfuN",
                  "mode": "list",
                  "cachedResultName": "Url pedido"
                },
                "fieldValue": "=https://matemundo.com.ar/wp-admin/post.php?post={{ $json.id }}&action=edit"
              }
            ]
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        1100,
        -240
      ],
      "id": "aaa31e00-d5ba-474a-95b9-e2c187446704",
      "name": "Update a contact2",
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "k333jA62tFGbp7Fa",
          "name": "matemundo - ropoflow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"message\": \"error en el formateo del json.\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -40
      ],
      "id": "daf9cc28-72fc-4143-939e-4a57a36448d4",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"message\": \"error en el formateo del json.\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -220
      ],
      "id": "71746310-93cb-49af-a26c-b84a2163d3e4",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "let mensaje = \"A Los siguientes productos no se les especificó color/material: \"\nfor (const omitido of $input.first().json.omitidos) {\n  mensaje += omitido.nombre_producto + \", \";\n}\n\nreturn {\n  \"item\" : mensaje\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        -600
      ],
      "id": "3603983f-e7be-4721-a67c-b68ac8131377",
      "name": "Code2"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "axios/1.7.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "max-forwards": "10",
            "traceparent": "00-fc67b43f054305c50f277fecf65105f8-a1a4c0b3a26a6935-00",
            "x-arr-log-id": "3c95aff5-7a90-44ef-852a-e4977c024f62",
            "client-ip": "34.10.22.218:32966",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 08, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "34.10.22.218:32966",
            "x-original-url": "/webhook/v2/integracionWoo/",
            "x-waws-unencoded-url": "/webhook/v2/integracionWoo/",
            "x-client-ip": "34.10.22.218",
            "x-client-port": "32966",
            "content-type": "application/json",
            "content-length": "10186"
          },
          "params": {},
          "query": {},
          "body": {
            "CUIT o DNI": "",
            "Transporte": "",
            "N° Cliente ENEXPRO": "",
            "Link al pedido": "",
            "Tipo de cliente": "Cliente Mayorista",
            "Tipo de Solicitud": "Hacer un pedido",
            "Tipo de envío": "A domicilio",
            "Pedido": "40 de mate térmico acero 236ml",
            "Sys single line": " ",
            "Final pedido": "",
            "Dirección cliente": "",
            "Ciudad Domilicio": "",
            "Correo - BOT": "",
            "Telefono - BOT": "",
            "Tipo de reclamo": "",
            "Nombre - BOT": "",
            "Variable": "",
            "Conversacion": "[{\"body\":\"Av. Córdoba 550, C1054 Cdad. Autónoma de Buenos Aires, Argentina\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:50:21.540Z\"},{\"body\":\"¡Gracias, Jaime Andrés! Ahora necesito la dirección completa del domicilio (con ciudad) para coordinar el envío. Por favor, escribila aquí.\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:48:03.000Z\"},{\"body\":\"Jaime Andrés\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:47:47.655Z\"},{\"body\":\"¡Perfecto! Para avanzar con el envío, decime por favor:\\n¿A nombre de quién quedará el pedido?\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:47:32.000Z\"},{\"body\":\"Domicilio\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:47:17.854Z\"},{\"body\":\"¡Genial! 😊 Ahora necesito saber cómo preferís recibir tu pedido:\\n👉 ¿Preferís que te enviemos el pedido a domicilio 📦 o lo querés retirar en el local 🏬?\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:47:05.000Z\"},{\"body\":\"Si\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:46:53.943Z\"},{\"body\":\"¡Perfecto! 😊 Te paso el resumen de tu orden:\\n🛍️ Productos seleccionados:\\n\\n40 × Mate Térmico Acero 236ml (Negro) → $424.000\\n20 × Mate Térmico Acero 236ml (Rosa) → $212.000\\n4 × Luz Matera Adaptable → $12.800\\n\\n\\nValor total = $648.800 + IVA\\n¿Aceptás esta orden de compra? Si está todo bien, seguimos con los datos para la entrega.\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:46:40.000Z\"},{\"body\":\"Ya terminamos\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:46:19.814Z\"},{\"body\":\"¡Gracias por tu consulta! En este momento no contamos con rompecabezas en nuestro catálogo. Si querés, puedo ayudarte con otros productos relacionados al mate o accesorios. ¿Te gustaría ver otra categoría o pasamos al resumen de tu pedido?\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:44:33.000Z\"},{\"body\":\"Tienes rompecabezas?\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:44:12.209Z\"},{\"body\":\"¡Perfecto! Agrego a tu pedido:\\n\\n40 × Mate Térmico Acero 236ml (Negro) → $424.000\\n20 × Mate Térmico Acero 236ml (Rosa) → $212.000\\n4 × Luz Matera Adaptable → $12.800\\n\\n\\n¿Querés agregar algún otro producto o variación? Si no, avisame y te paso el resumen final de tu orden.\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:43:24.000Z\"},{\"body\":\"Dame 4\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:43:05.862Z\"},{\"body\":\"¡Sí! Tenemos luces materas ideales para acompañar tus productos. Te paso la opción disponible:\\nLuz Matera Adaptable – $3.200\\nColor: No especifica, modelo adaptable\\nVer más: https://matemundo.com.ar/producto/luz_matera_adaptable_/   \\n¿Querés agregar alguna Luz Matera Adaptable a tu pedido? Si es así, decime la cantidad.\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:42:48.000Z\"},{\"body\":\"Tienes luces?\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:42:15.644Z\"},{\"body\":\"¡Listo! Agrego a tu pedido:\\n\\n40 × Mate Térmico Acero 236ml (Negro) → $424.000\\n20 × Mate Térmico Acero 236ml (Rosa) → $212.000\\n\\n\\n¿Querés agregar algún otro producto o variación? Si no, avisame y te paso el resumen de tu orden.\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:42:01.000Z\"},{\"body\":\"Y dame de esas mismas 20 rosadas\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:41:45.449Z\"},{\"body\":\"¡Anotado! 😊\\n40 × Mate Térmico Acero 236ml (Color: Negro) → $424.000\\n¿Querés agregar algún otro producto o variación a tu pedido? Si no, avisame y te paso el resumen de la orden.\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:41:21.000Z\"},{\"body\":\"Negros\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:41:01.876Z\"},{\"body\":\"¡Perfecto! Anoto en tu pedido:\\n\\n40 × Mate Térmico Acero 236ml\\n\\n\\n¿En qué color o colores específicos los querés? Disponibles: Azul, Blanco, Negro y Rosa. Por favor, indicame la cantidad de cada color.\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:40:19.000Z\"},{\"body\":\"Dame 40 de mate térmico acero 236ml\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:40:03.368Z\"},{\"body\":\"¡Perfecto! Te paso algunas opciones de mates de acero que tenemos disponibles para mayoristas:\\n\\nMate Térmico Acero con Tapa Antiderrame y Bombilla – $12.300\\nColores: Azul, Blanco, Negro, Rosa\\nVer más: https://matemundo.com.ar/producto/mate-termico-acero-con-tapa-antiderrame-y-bombilla/ \\n\\nMate Térmico Acero 236ml – $10.600\\nColores: Azul, Blanco, Negro, Rosa\\nVer más: https://matemundo.com.ar/producto/mate-termico-acero-236ml/ \\n\\nMate Acero Térmico - OVAL BOCA PLANA – $6.550\\nColor: Acero\\nVer más: https://matemundo.com.ar/producto/mate-acero-termico-oval-boca-plana/ \\n\\nMate Acero Térmico - OVAL – $4.360\\nColores: Blanco, Bordó, Negro, Rojo, Rosa, Verde\\nVer más: https://matemundo.com.ar/producto/mate-acero-termico-oval-negro/ \\n\\nMate Acero Térmico - RECTO – $3.770\\nColores: Blanco, Bordó, Negro, Rojo, Rosa, Verde Oscuro, Verde\\nVer más: https://matemundo.com.ar/producto/mate-termico-recto-acero/ \\n\\nMate Acero Térmico - VASITO – $3.770\\nColores: Verde, Negro, Verde Oscuro, Blanco, Rosa, Bordó\\nVer más: https://matemundo.com.ar/producto/mate-termico-vasito-acero/ \\n\\n\\n\\n¿Te interesa alguno de estos modelos? Si sí, decime el nombre, color y cantidad que querés agregar a tu pedido. Si querés ver más opciones, avisame.\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:38:40.000Z\"},{\"body\":\"De acero\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:37:36.854Z\"},{\"body\":\"¡Sí! En MateMundo tenemos una gran variedad de mates para mayoristas. 😊\\n¿Te gustaría ver mates de algún material en particular? Por ejemplo: acero, calabaza, algarrobo, cerámica, alto impacto, veganos, etc. Si ya sabés el tipo, decime cuál te interesa y te paso los modelos y precios.\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:37:09.000Z\"},{\"body\":\"Tienes Mates?\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:36:48.991Z\"},{\"body\":\"Perfecto, ¡muchas gracias por la info! 😊\\n👉 ¿Ya tenés los productos que deseas pedir o te ayudo con la selección? Recordá que el monto mínimo de compra es de $100.000 + IVA.\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:36:27.000Z\"},{\"body\":\"Mayorista\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:36:04.058Z\"},{\"body\":\"¡Genial! Gracias por elegir MateMundo para tu compra. 😊\\nPara poder ayudarte mejor, decime por favor:\\n👉 ¿Sos cliente mayorista o cliente minorista?\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:35:54.000Z\"},{\"body\":\"Quiero hacer un pedido\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:35:30.488Z\"},{\"body\":\"¡Bienvenido a MateMundo! 😊 ¿En qué puedo ayudarte hoy? ¿Querés consultar un pedido en curso, hacer un pedido nuevo, realizar un reclamo o solo necesitás información sobre productos y precios?\",\"direction\":\"outbound\",\"dateAdded\":\"2025-10-20T19:34:51.000Z\"},{\"body\":\"Hola\",\"direction\":\"inbound\",\"dateAdded\":\"2025-10-20T19:34:14.019Z\"}]",
            "Notificacion": "",
            "Pedidos Omitidos": "",
            "Url pedido": "",
            "contact_id": "dlUwAcC4IAG6p0YO4LFd",
            "first_name": "Andres",
            "last_name": "Ropofy",
            "full_name": "Andres Ropofy",
            "email": "andres@ropofy.com",
            "phone": "+573135684490",
            "tags": "test,atendido por bot ai",
            "city": "Buenos Aires",
            "country": "AR",
            "date_created": "2025-06-09T16:24:13.339Z",
            "full_address": "Buenos Aires ",
            "contact_type": "lead",
            "location": {
              "name": "Mate mundo",
              "address": "Junin 449 ",
              "city": "CABA",
              "state": "Buenos Aires",
              "country": "AR",
              "postalCode": "1026",
              "fullAddress": "Junin 449 , CABA Buenos Aires 1026",
              "id": "ERJBpPNxe4pOmp7CkwAv"
            },
            "user": {
              "firstName": "Natalia",
              "lastName": "Castelli",
              "email": "natalia.castelli.1987@gmail.com",
              "phone": "+541140685713"
            },
            "workflow": {
              "id": "f51f876f-2c71-4514-91e3-2d6a47e82de6",
              "name": "Integración woocomerce V3 - Pruebas"
            },
            "triggerData": {},
            "contact": {
              "attributionSource": {
                "sessionSource": "CRM UI",
                "medium": "manual",
                "mediumId": null
              },
              "lastAttributionSource": {
                "photoUrl": null,
                "sessionSource": "Social media",
                "adId": null,
                "productId": null,
                "videoUrl": null,
                "igSid": "2251636475283047",
                "mediumId": "2251636475283047",
                "utmContent": null,
                "medium": "instagram",
                "postId": null,
                "flowId": null
              }
            },
            "attributionSource": {},
            "customData": {
              "pedido": "{   \"pedido\": [     {       \"producto\": \"Mate Térmico Acero 236ml\",       \"codigo_producto\": 26490,       \"variacion\": \"\",       \"id_variacion\": null,       \"cantidad\": 40,       \"precio_unitario\": 10600,       \"type\": \"variable\"     },     {       \"producto\": \"Mate Térmico Acero 236ml\",       \"codigo_producto\": 26490,       \"variacion\": \"Rosa\",       \"id_variacion\": 26494,       \"cantidad\": 20,       \"precio_unitario\": 10600,       \"type\": \"variable\"     },     {       \"producto\": \"Luz Matera Adaptable\",       \"codigo_producto\": 26750,       \"variacion\": \"No especifica\",       \"id_variacion\": null,       \"cantidad\": 4,       \"precio_unitario\": 3200,       \"type\": \"simple\"     }, {       \"producto\": \"Vaso Plástico Premium - TOM Y JERRY\",       \"codigo_producto\": 24088,       \"variacion\": \"No especifica\",       \"id_variacion\": null,       \"cantidad\": 4,       \"precio_unitario\": 17830,       \"type\": \"simple\"     }    ],   \"ciudad\": \"Ciudad Autónoma de Buenos Aires\",   \"direccion\": \"Av. Córdoba 550, C1054 Cdad. Autónoma de Buenos Aires, Argentina\" }"
            }
          },
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/v2/integracionWoo/",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-22T21:19:22.979Z",
  "versionId": "43a6c4f0-5937-4cb8-a635-1ca2621033f6"
}