ropoflow_workflows_backup2025/09/7tnhbcebTGc7SYHk.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-17T21:13:28.921Z",
  "id": "7tnhbcebTGc7SYHk",
  "isArchived": false,
  "meta": null,
  "name": "Sincronizar custom fields marcali",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        -380
      ],
      "id": "9c1d9323-af4d-4327-ba10-7642f4694ab3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://backend.leadconnectorhq.com/locations/{{ $json.location_id }}/customFields/?model=all",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        -380
      ],
      "id": "78db9d3a-d3cd-4d67-bd0b-8b5349e3a778",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "system_ropofy_locations",
          "mode": "list",
          "cachedResultName": "system_ropofy_locations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "location_id",
              "value": "=ID50GJ39dGHTTlrk77Hx"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -380,
        -380
      ],
      "id": "71599c7c-8256-4351-aecb-cae7c3cf6f04",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "tfjc18K49daMASdp",
          "name": "Base de datos APIS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.customFields"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        -380
      ],
      "id": "5955b2fc-7483-4549-a732-dcded6481f7b",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.values }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        -380
      ],
      "id": "d4946c6d-1e13-4cd1-beb5-eb57118ba21e",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "qE3f9BjUgDSZpVZM",
          "name": "Marcali bi"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst query = {\n  text: `\n    INSERT INTO public.\"customFields\" (\n      \"id\", \"name\", \"fieldKey\", \"placeholder\", \"dataType\", \"position\", \"picklistOptions\",\n      \"isAllowedCustomOption\", \"isMultiFileAllowed\", \"maxFileLimit\", \"locationId\",\n      \"model\", \"picklistImageOptions\", \"created_at\", \"updated_at\"\n    ) VALUES (\n      $1, $2, $3, $4, $5, $6, $7::jsonb, $8, $9, $10, $11, $12, $13::jsonb, NOW(), NOW()\n    )\n    ON CONFLICT (\"id\") DO UPDATE SET\n      \"name\" = EXCLUDED.\"name\",\n      \"fieldKey\" = EXCLUDED.\"fieldKey\",\n      \"placeholder\" = EXCLUDED.\"placeholder\",\n      \"dataType\" = EXCLUDED.\"dataType\",\n      \"position\" = EXCLUDED.\"position\",\n      \"picklistOptions\" = EXCLUDED.\"picklistOptions\",\n      \"isAllowedCustomOption\" = EXCLUDED.\"isAllowedCustomOption\",\n      \"isMultiFileAllowed\" = EXCLUDED.\"isMultiFileAllowed\",\n      \"maxFileLimit\" = EXCLUDED.\"maxFileLimit\",\n      \"locationId\" = EXCLUDED.\"locationId\",\n      \"model\" = EXCLUDED.\"model\",\n      \"picklistImageOptions\" = EXCLUDED.\"picklistImageOptions\",\n      \"updated_at\" = NOW()\n  `,\n  values: [\n    d.id,\n    d.name,\n    d.fieldKey,\n    d.placeholder || '',\n    d.dataType,\n    d.position || 0,\n    JSON.stringify(d.picklistOptions || []),  // jsonb\n    d.isAllowedCustomOption || false,\n    d.isMultiFileAllowed || false,\n    d.maxFileLimit || 0,\n    d.locationId,\n    d.model,\n    JSON.stringify(d.picklistImageOptions || {})  // jsonb\n  ]\n};\n\nreturn {\n  text: query.text,\n  values: query.values\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -380
      ],
      "id": "a9f4244e-57a7-4970-807a-13024297c969",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-18T14:19:55.341Z",
  "versionId": "7d9ddb5a-5b8f-4685-b9c6-a22147f4819c"
}