ropoflow_workflows_backup2025/09/HDNTg6ck9WpXPGNi.json
{
  "active": true,
  "connections": {
    "Info": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-17T16:50:08.405Z",
  "id": "HDNTg6ck9WpXPGNi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "IMAP - info",
  "nodes": [
    {
      "parameters": {
        "downloadAttachments": true,
        "options": {
          "forceReconnect": 60
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "d382c291-1220-4e2d-9493-f2b1d0269a91",
      "name": "Info",
      "credentials": {
        "imap": {
          "id": "hxeeSKEGpRXMhj0V",
          "name": "Necod - info"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.email }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "TajBiUeKKStgslX443a2",
                  "mode": "list",
                  "cachedResultName": "Asunto - Correo"
                },
                "fieldValue": "={{ $('Info').item.json.subject }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "EuK87oJuytdoMWsRDHcO",
                  "mode": "list",
                  "cachedResultName": "Contenido - Correo"
                },
                "fieldValue": "={{ $('Info').item.json.textHtml }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "TkanidvTPygkXykmq35A",
                  "mode": "list",
                  "cachedResultName": "Adjunto - Correo"
                },
                "fieldValue": "={{ $('Info').item.binary.attachment_0 }}"
              }
            ]
          },
          "name": "={{ $json.name }}",
          "tags": "llego_correo"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.ropofy",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "c3bc0eca-d258-4e6c-b82e-151b8c0fb501",
      "name": "Create or update a contact",
      "credentials": {
        "ropofyOAuth2Api": {
          "id": "urLYkFvGw1t1BAKF",
          "name": "Necod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos el valor desde el item de entrada\nconst input = $('Info').first().json.from; \n// Ejemplo: \"Ezequiel Chaloum <echaloum@ospesalud.com.ar>\"\n\n// Usamos regex para separar nombre y correo\nconst match = input.match(/^(.*?)\\s*<(.+?)>$/);\n\nlet name = null;\nlet email = null;\n\nif (match) {\n  name = match[1].trim();\n  email = match[2].trim();\n}\n\n// Retornamos en formato n8n\nreturn [\n  {\n    json: {\n      name,\n      email\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "e4e3c68c-96f3-4c3a-9502-9c77f29d244a",
      "name": "Code"
    }
  ],
  "pinData": {
    "Info": [
      {
        "json": {
          "textHtml": "<html>\r\n<head>\r\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\">\r\n<style type=\"text/css\" style=\"display:none;\"> P {margin-top:0;margin-bottom:0;} </style>\r\n</head>\r\n<body dir=\"ltr\">\r\n<div style=\"font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri, Helvetica, sans-serif; font-size: 12pt; color: rgb(0, 0, 0);\" class=\"elementToProof\">\r\nNecesito 2 pr贸tesis de rodilla y brazo</div>\r\n<div class=\"elementToProof\" id=\"Signature\">\r\n<div style=\"font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri, Helvetica, sans-serif; font-size: 12pt; color: rgb(0, 0, 0);\" class=\"elementToProof\">\r\n<br>\r\n</div>\r\n<div style=\"background-color: rgb(255, 255, 255); font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 12pt; color: rgb(0, 0, 0);\" class=\"elementToProof\">\r\n---</div>\r\n<div style=\"background-color: rgb(255, 255, 255); font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 12pt; color: rgb(0, 0, 0);\" class=\"elementToProof\">\r\n<br>\r\n</div>\r\n<div style=\"background-color: rgb(255, 255, 255); font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 12pt; color: rgb(0, 0, 0);\" class=\"elementToProof\">\r\n<img style=\"width: 532.5px; height: 213px; max-width: 780px;\" height=\"213\" width=\"532\" id=\"image_0\" data-outlook-trace=\"F:1|T:1\" src=\"cid:ee64d02b-b870-428d-999a-8f6533dbf0c0\"></div>\r\n</div>\r\n</body>\r\n</html>\r\n",
          "textPlain": "Necesito 2 pr贸tesis de rodilla y brazo\r\n\r\n---\r\n\r\n[cid:ee64d02b-b870-428d-999a-8f6533dbf0c0]\r\n",
          "metadata": {
            "return-path": "<felipe@bike2web.com>",
            "envelope-to": "info@necod.com.ar",
            "delivery-date": "Fri, 26 Sep 2025 13:45:01 -0300",
            "received": "from [52.101.201.124] (helo=PH7PR06CU001.outbound.protection.outlook.com)\tby c264.dattaweb.com with esmtps   (TLS1.2) tls TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384\t(Exim)\t (envelope-from <felipe@bike2web.com>)\tid 1v2BZ4-0000t5-Hp\tfor info@necod.com.ar; Fri, 26 Sep 2025 13:45:00 -0300",
            "arc-seal": "i=1; a=rsa-sha256; s=arcselector10001; d=microsoft.com; cv=none; b=lm1r9I5JdEt2/g5ArSLi03bP5Rh1ZYVIRzLm5/hQclk72vfDxr26JQxqfAAjnYUoWKLoQxus+4HnrwHJF/6vnUU7VyvSAkdyatl61hNxGMiJZOT4HnhEYRw/fxVp9oLCmmRPEflAFTQWKcb8ZW/V5VRIsoE7+0dm16u9zHCT1USd/MhM7J5zLnC8dpo14IKEhFaUzCzP7IgVTIRNl+cZfmGCwodG0J1HRTjQc9akqWhMsfnVRptKbmyAUKDDaX9ad25eX1qb/Uiv7pnN4SX7C8vJ2Ed+RIPGxK0jyXqJmznYHLFVN9BzjCgW7urisXBFKcw1pR6itE0naxRC2fheKA==",
            "arc-message-signature": "i=1; a=rsa-sha256; c=relaxed/relaxed; d=microsoft.com; s=arcselector10001; h=From:Date:Subject:Message-ID:Content-Type:MIME-Version:X-MS-Exchange-AntiSpam-MessageData-ChunkCount:X-MS-Exchange-AntiSpam-MessageData-0:X-MS-Exchange-AntiSpam-MessageData-1; bh=To1N96abwXmSjZQwtrxGIgcXwJjNtrJ3YigWxkBM/rU=; b=Dg/nrusUj/VJr4tD9hM4D31GOTXLTbmutTdI7HE3ZcGCECmtcA0pqU+5IWRWge6x3cM5F+ZZeQczoyeMaZ70Mq3KMH45A7rw0nMQ3NnYRJlpRNZBIJvCunKTnaWh0JGJ85IlN3JZMvqDshvbdUmyJjQW2Vd8Su4Iy6gLGNYsKSnPf/mjhwYUhockZyNrLhRuNLIlBeXBsFubJY4X7po6Py1lop9mgbJGqdvoOAg2oAmZH7JZJ7pS4bE6nVGX+SAa3qyzmCpZAk3MKvVTCDugjnVvepNg2GjXeafaQ8TdOHWuDXj0XCxfAxuMFWbSMQMEvEUc+ltmK59RLWzfnj9ffg==",
            "arc-authentication-results": "i=1; mx.microsoft.com 1; spf=pass smtp.mailfrom=bike2web.com; dmarc=pass action=none header.from=bike2web.com; dkim=pass header.d=bike2web.com; arc=none",
            "thread-topic": "Solicitud de cotizaci贸n",
            "thread-index": "AQHcLwS4uQZ2/yLQlEe7RfH9b0fp8w==",
            "message-id": " <SA1PR17MB54769863E69F0D909C851FFBE11EA@SA1PR17MB5476.namprd17.prod.outlook.com>",
            "accept-language": "es-ES, en-US",
            "content-language": "es-ES",
            "x-ms-has-attach": "yes",
            "x-ms-tnef-correlator": "",
            "msip_labels": "",
            "authentication-results": "dkim=none (message not signed) header.d=none;dmarc=none action=none header.from=bike2web.com;",
            "x-ms-publictraffictype": "Email",
            "x-ms-traffictypediagnostic": "SA1PR17MB5476:EE_|DM6PR17MB3884:EE_",
            "x-ms-office365-filtering-correlation-id": "27b394b2-a2f6-45e2-2027-08ddfd1c014a",
            "x-ms-exchange-senderadcheck": "1",
            "x-ms-exchange-antispam-relay": "0",
            "x-microsoft-antispam": " BCL:0;ARA:13230040|366016|1800799024|376014|38070700021|4053099003|8096899003;",
            "x-microsoft-antispam-message-info": " MqLhR4bxneXrm9Sn/Erq1vtG4Kw1msg9ESySeyGCM5tfSQoCUqgt8lo1yONjuXjUmH5cIp9F0EbnOy+VaPr3JNLguPaTHt07411UC1uiNwoawZHWbQ4afy/WGFYfjxkc/OL34WDvJZxvbolVAUtq11w6BA6ru9uG0HH4zMNy7KMkd3ZtAlfBHlD56LUbdGJf+0ONoxoUtPVUz2bbkA9pvekrffjyI0ohfFDYBHo3i9FQngG5etKAau51ovYLVFZ6QYN3HYshPLBbXB/4GBqnRTmqqkcUOCeyW/ObXhIDuP06d0ta5ZkWtwWBW6sfMFH8Iqaw2m1RrDI0Xjwtvo5IAhJIvxp5u5x391F/a6gORlfvyQEZyxx4MR8ZzjGUPFFhQGg9iI30ZP5hjhVHWAdBG5G0wahUw0IPAzDvO2lF3TfFYJFy0CeOzko/wG99JquOLpthwjLizXTBtJDccmFJtUdeHAuSUIar7dK4nX1xoJcu9uNE295npyUQbXuy7BkzTIBu+j4A/52Ro6pVqKwDPtg2VEAD2P+znHAzWJ1iP46t6ASlYRK1TkgJuApyZMKochH26XKk33fDyKIIMOHvsRssQ/Dgi4bxPFj7oIfhCEiX0FAVnNuKEMC3XxovIsJqZKD5D933H5bQadgLwHWseynSiqLcdb48zhiNIZ74ZHdLXlfLFCc5Vf2eQVRRlrDRWKsEVi7XF3EMzkfxQIMVdEZim057+bVRkQrDplGv54E2LM7Agh94ZyTUruUm6WRgQnjvzX3/qgGyQO4/xEHjITmjQoXJkMLZBYkPlNvceCEHcAi/B+6V2UkaK+PtigAay07e5++/cVSojjE3h7QbkdQTpXFtdAxRn1QsRGueL6dyQgaNxtQrbbrA8yY6ZEdrZsgNEvD+gkQbZQgOKHH9ukjH6RdztpSbxyP5akBS12rrt7vlM6CwW6ZDYCXqaRxQqKfTKLTvsFuBTvGvUoRCgu5WLbxHTkGRzsDChJiJOEoZTqWzpH3xq2HRFNOO1jrPsFk8j6TcgOg6j4hc0Ble1BwqlXm+ED3ffr6eJIulrMbyx99wQvHvWM5Pw793Wdp643LdFxIfiPbhRDI2c9iygCiLmo3ePOsrfk7TgbH0I9VBRnOVI0omH4vsNpv/PrfOggb8Q0jEaDBkB5gnG23NFHzT8o1v/r2BgGfkhY6PF5USRZfGrgekYagcWcaho63UcVqiYLQ3+X8+VAabAdHwWB5gXCLjwk9Ksc3QK6auWxa4+jWKlzfi+mqQMELPx2o+NdXXcwX1GvlaikXVlUWak1jIqxKmGfSI4WQnOTl6ju1W+Rv7Q1mBz29/bXQRif9SRDYE+50HFWRQiUKAzQ+k+i4emWNaH/UcgU4j+vmw2eqk8LWIyr+OWj/p1Zv0mNXTYQx9T3AWvEBnM3UeP4Bkp0MjBwc5PQsuM9KveCp2K8NEadxyuEdXVd+jCYqxPABblxTQAO7U32WnMBCDn3M9LD1XeKtUOfByiA3rLJy384wOa2DjajPm0J+Hy7S15SuU",
            "x-forefront-antispam-report": " CIP:255.255.255.255;CTRY:;LANG:es;SCL:1;SRV:;IPV:NLI;SFV:NSPM;H:SA1PR17MB5476.namprd17.prod.outlook.com;PTR:;CAT:NONE;SFS:(13230040)(366016)(1800799024)(376014)(38070700021)(4053099003)(8096899003);DIR:OUT;SFP:1102;",
            "x-ms-exchange-antispam-messagedata-chunkcount": "1",
            "x-ms-exchange-antispam-messagedata-0": " ZGmYcsmTfXoRvZy5QxSb16WLry2j5p8iqETpfEmm+9sDzgoku/nm1WSSSMN0osjbcVHkiTmsBByJgm1GN0DO8EdNloHnbPM3wP2bmEQckOZNaVu7Vym9NKfGq5FYL6Yr/xBZLuLbFGOZQh875Uy1H7F4C5wNkgVIL7pIhFi8g+NjNK9CcbgiQwsq3UJgicCk9WaCm4ZmPJeJwsgHRQnWEUIdpBUSs0e2xfmIRM7sBLk9NbMWiWVxvi/mt80B5dMqvdrjZ+JbZzWBFIIuJTYykqtF4QghxPvC8fPkmOGvkbs5FdXqx9wg/2QaYxbXrqq3gTS+BGXCZu09MPv35mdq30Qc95x1o8sAdoLGJu1rbPcH5IQ4A8ZWny6mjvJNMMzRdIQnMdccSeZ7F1m3X9gG51os+WMQF7qq7jeIci+JbkdBkSiBc+1kES6ZT2Yd6pVJvL3I3rByyaN2UnkVYoCQgBz9z0CvJRc9Ws6WK2wFt4a/xe2SBmzAR2oeJneVNmbKfHsBFTmSKgR8wmw+gWrw0Kbjog+Cs9hQ0n/2y7bzBr4xM8nQz8rr6Ayi/LmCYLcQG0qUAyM17tnwKpiKvHTUAT6h4t1Hva4vFCu6F4ZRz+tf66BdteQYOi0OVndlisXJPlwMkBXdcD6zd+Lwzb99tmla+tdvXWo7rUegV5KT0Xv08qYKOBpeqlogse2Rm/gDciqzS4M9qO7K0gj+lgUhwFEe/YBmjIXWwUtuipGfGnAOjKCwfJ6VBtyoKqcH1AZ7HA06mm2JCXbrp0wOqldLQxKF7TWpqwhXA7rGjzfwiLJinV5S/VgwCWeHMGsBn3pU7p5XHX2R5o1T55AQY93JcCJ9sgKwd/RsBSY38oWPiVQAePdgLsQ1a6Szrdicj5jFWZq9o+I5ZvBCfDpY5dE1yzYXQfMjazE7unSjYtzuNsfhHtNOItdz7RYfrSZRXN0bVAlpIPXJE/T1QJjqdF0BZwogwVgQcRJ9/VcI+M/4REbQ74Op0lCsUS6gSqsCj2RzZbT0WSN3My8ErjppU4Sk6LFQu8dAwv9b3dGGHe5lHM5R1FyXMvdZ6FG+DB8rK0OYG3Tpgj7IFLHA5Tp7Lvrl27zybdzp1KeCL6zk9hNSjLgWXSeeT/nWUcD4tz+xtK4r6bVsmX1y73Ti5+5kLlD1Ubn5LD5vGHqOhlk0wq5projgEw8znYb5LqgzZHL5kqSmJwz4SIjpqPE3ae+B5srfjV734P3J8T0BK8liwvBTphjKYTFUgqOpgEYDnP4B11bf2KQieBUw4Kij5hEqV/uG8Y87BpFTwyLIJ5PPYrEJet/aDjEFtD7v7n1Fze3RmdLT0XrFfuk75S8zIp3kxyLMxwT1BWYLc8eo4UQ13VjomnNXgvUATbheetFs1iVbuHSerP/JMS8QBpXtDu01YGzQwfCiEAC0of9d5zsnwFj71K4mST3lGe1cnGTCKWgIh3x+NQ6y1LFcCojOj8wjGBQXDrJPSrIJjIVN2zD88cS2XnlYIWewKhhWuledkC3pooGtI2qzRn5DtMpjx+KsNiINx9V2+UV0oGcXJt58geJGy/FFb6O1Hos8LCJqrIQqleqe",
            "content-type": "multipart/mixed;\tboundary=\"_006_SA1PR17MB54769863E69F0D909C851FFBE11EASA1PR17MB5476namp_\"",
            "mime-version": "1.0",
            "x-originatororg": "bike2web.com",
            "x-ms-exchange-crosstenant-authas": "Internal",
            "x-ms-exchange-crosstenant-authsource": "SA1PR17MB5476.namprd17.prod.outlook.com",
            "x-ms-exchange-crosstenant-network-message-id": "27b394b2-a2f6-45e2-2027-08ddfd1c014a",
            "x-ms-exchange-crosstenant-originalarrivaltime": "26 Sep 2025 16:44:47.8900 (UTC)",
            "x-ms-exchange-crosstenant-fromentityheader": "Hosted",
            "x-ms-exchange-crosstenant-id": "e67529fc-68be-4f5b-aa27-edbad4a44b14",
            "x-ms-exchange-crosstenant-mailboxtype": "HOSTED",
            "x-ms-exchange-crosstenant-userprincipalname": "8cBAjpJP++J7Odds7MhufFbF+PFbFU3Yw4gZsltNvZRAX7SIUu2XsCWKpDOA71Sa4HU/jRSgLbukHQ0N5O3jhQ==",
            "x-ms-exchange-transport-crosstenantheadersstamped": "DM6PR17MB3884",
            "x-viruschecked": "Checked",
            "x-spam-score": "-0.1",
            "x-spam-score-int": "-1",
            "x-spam-bar": "/",
            "x-spam-report": "Action: no action Symbol: FROM_HAS_DN(0.00) Symbol: FROM_EQ_ENVFROM(0.00) Symbol: R_MIXED_CHARSET(0.71) Symbol: MIME_GOOD(-0.10) Symbol: R_DKIM_NA(0.00) Symbol: RWL_MAILSPIKE_POSSIBLE(0.00) Symbol: R_SPF_ALLOW(0.00) Symbol: ARC_ALLOW(0.00) Symbol: ASN(0.00) Symbol: MISSING_XM_UA(0.77) Symbol: BAD_REP_POLICIES(1.00) Symbol: HAS_ATTACHMENT(0.00) Symbol: DMARC_POLICY_ALLOW(0.00) Symbol: TO_DN_EQ_ADDR_ALL(0.00) Symbol: BAYES_HAM(-4.97) Symbol: TO_MATCH_ENVRCPT_ALL(0.00) Symbol: RCVD_TLS_LAST(0.00) Symbol: URIBL_BLOCKED(0.15) Symbol: MX_GOOD(0.00) Symbol: RCVD_COUNT_THREE(0.00) Symbol: FUZZY_RATELIMITED(0.00) Symbol: URIBL_HOSTKARMA_YELLOW(0.30) Symbol: RCPT_COUNT_ONE(0.00) Symbol: MIME_TRACE(0.00) Symbol: R_EMPTY_IMAGE(2.00) Symbol: RBL_SENDERSCORE_REPUT_BLOCKED(0.00) Message-ID: SA1PR17MB54769863E69F0D909C851FFBE11EA@SA1PR17MB5476.namprd17.prod.outlook.com",
            "x-spam-flag": "NO",
            "x-spam-status": "NO",
            "x-spam-threshold": "100"
          },
          "attributes": {
            "uid": 124164434
          },
          "from": "Felipe Arango Gaviria <felipe@bike2web.com>",
          "to": "\"info@necod.com.ar\" <info@necod.com.ar>",
          "subject": "Solicitud de cotizaci贸n",
          "date": "Fri, 26 Sep 2025 16:44:47 +0000"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Email Trigger (IMAP)": {
      "lastMessageUid": 124164351
    },
    "node:Info": {
      "lastMessageUid": 124164453
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-26T20:00:42.191Z",
  "versionId": "a271765a-83f5-4edf-b495-99ca0c9e0482"
}