ropoflow_workflows_backup2025/09/MQzM9m0XWZoKlHOk.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many users": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-09-01T19:04:51.753Z",
  "id": "MQzM9m0XWZoKlHOk",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "API - Consultar usuarios Notion",
  "nodes": [
    {
      "parameters": {
        "path": "cdd7a1cd-6cbf-4440-a1a7-f55cb15811c3",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "14971654-a2df-4153-9cc7-c374e5ad46ad",
      "name": "Webhook",
      "webhookId": "cdd7a1cd-6cbf-4440-a1a7-f55cb15811c3"
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getAll",
        "returnAll": true
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "45ff2523-53ab-41ea-b124-bcc1440d1f73",
      "name": "Get many users",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Trae todos los items de entrada\nconst allItems = $input.all();\n \n// Extrae el JSON de cada item\nconst allData = allItems.map(item => item.json);\n \n// Devuelve un solo item con un array adentro\nreturn [\n  {\n    json: {\n      merged: allData\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "685661c7-5bfe-43f0-9d17-d31e4627aad7",
      "name": "Code"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-06T22:34:26.974Z",
  "versionId": "692cdec6-e649-45e5-82ba-62137a24cfca"
}