ropoflow_workflows_backup2025/09/P7Pf3Lv5Sb5TDV8z.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-18T14:05:08.794Z",
  "id": "P7Pf3Lv5Sb5TDV8z",
  "isArchived": false,
  "meta": null,
  "name": "pipelines marcali",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        0
      ],
      "id": "418d397b-375c-40f1-b4d1-be1e60640ed6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://backend.leadconnectorhq.com/opportunities/pipelines/?locationId={{ $json.location_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        0
      ],
      "id": "75988278-7f95-4fc2-9c34-e01a18881afe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "system_ropofy_locations",
          "mode": "list",
          "cachedResultName": "system_ropofy_locations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "location_id",
              "value": "=ID50GJ39dGHTTlrk77Hx"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        0
      ],
      "id": "a5e70db0-e5c9-4dc7-ba32-047361475e82",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "tfjc18K49daMASdp",
          "name": "Base de datos APIS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.pipelines;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        0
      ],
      "id": "60ac8d2f-47de-435f-a307-adc67ca4f16d",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.values }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        0
      ],
      "id": "9112a723-0904-4fd9-9939-c001dbfe0d10",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "qE3f9BjUgDSZpVZM",
          "name": "Marcali bi"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\n\nconst query = {\n  text: `\n    INSERT INTO public.\"pipelines\" (\n      \"id\", \"name\", \"stages\", \"showInFunnel\", \"showInPieChart\", \"locationId\", \"created_at\", \"updated_at\"\n    ) VALUES (\n      $1, $2, $3::jsonb, $4, $5, $6, NOW(), NOW()\n    )\n    ON CONFLICT (\"id\") DO UPDATE SET\n      \"name\" = EXCLUDED.\"name\",\n      \"stages\" = EXCLUDED.\"stages\",\n      \"showInFunnel\" = EXCLUDED.\"showInFunnel\",\n      \"showInPieChart\" = EXCLUDED.\"showInPieChart\",\n      \"locationId\" = EXCLUDED.\"locationId\",\n      \"updated_at\" = NOW()\n  `,\n  values: [\n    d.id,\n    d.name,\n    JSON.stringify(d.stages || []),  // stages como JSONB\n    d.showInFunnel || false,\n    d.showInPieChart || false,\n    d.locationId\n  ]\n};\n\nreturn {\n  text: query.text,\n  values: query.values\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        0
      ],
      "id": "542b9aab-a979-4826-b141-aedf425ef9f2",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-18T14:18:16.560Z",
  "versionId": "5769bd68-f022-4f48-92f3-77c1abf76753"
}