ropoflow_workflows_backup2025/09/SElg6oM7nT9E60ep.json
{
  "active": true,
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-17T16:58:21.020Z",
  "id": "SElg6oM7nT9E60ep",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Info común",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "19ezezaCnEDvXV-lLdwpH6U5v-JFHopSoUNR9s2rFkOg",
          "mode": "list",
          "cachedResultName": "E bikes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19ezezaCnEDvXV-lLdwpH6U5v-JFHopSoUNR9s2rFkOg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2119750109,
          "mode": "list",
          "cachedResultName": "info comun",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19ezezaCnEDvXV-lLdwpH6U5v-JFHopSoUNR9s2rFkOg/edit#gid=2119750109"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        180,
        0
      ],
      "id": "886241d2-a55c-4e9f-ac6b-0f385c334661",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "DoRMeXZ2ksvnZPtB",
          "name": "E-Bikes"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19ezezaCnEDvXV-lLdwpH6U5v-JFHopSoUNR9s2rFkOg",
          "mode": "list",
          "cachedResultName": "E bikes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19ezezaCnEDvXV-lLdwpH6U5v-JFHopSoUNR9s2rFkOg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2119750109,
          "mode": "list",
          "cachedResultName": "info comun",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19ezezaCnEDvXV-lLdwpH6U5v-JFHopSoUNR9s2rFkOg/edit#gid=2119750109"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        0
      ],
      "id": "3112ed5c-79a3-42a0-98f6-8b59cbee9205",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mUyNU2w33r5Da7qe",
          "name": "E - Bikes 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Trae todos los items de entrada\nconst allItems = $input.all();\n// Extrae el JSON de cada item\nconst allData = allItems.map(item => item.json);\n// Devuelve un solo item con un array adentro\nreturn [\n  {\n    json: {\n      merged: allData\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "79e10c6d-817d-4fb2-841c-87dea171a581",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/api/setCustomValue",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_location",
              "value": "Z4u5UDrfx4PBfmXNBpOo"
            },
            {
              "name": "name",
              "value": "info_comun"
            },
            {
              "name": "value",
              "value": "={{ JSON.stringify($json.merged) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "7772648b-4126-4fce-ba72-10a329ca219b",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "19ezezaCnEDvXV-lLdwpH6U5v-JFHopSoUNR9s2rFkOg",
      "sheetId": 2119750109,
      "lastRevision": 11,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=19ezezaCnEDvXV-lLdwpH6U5v-JFHopSoUNR9s2rFkOg&revision=11&exportFormat=xlsx"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-17T16:59:17.907Z",
  "versionId": "feb63f5b-e9a8-423a-81e2-20f030e4e2a6"
}