ropoflow_workflows_backup2025/09/SjfoGh6Tud06O6nk.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "traer oportunidades clientify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "traer oportunidades clientify": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "obtener oportunidades individuales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener oportunidades individuales": {
      "main": [
        [
          {
            "node": "eliminar oportunidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eliminar oportunidad": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-27T19:04:05.346Z",
  "id": "SjfoGh6Tud06O6nk",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "borrar oportunidades malas",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ],
      "id": "2dff8710-f0ac-4163-b60a-31c92ed5e78d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "system_ropofy_locations",
          "mode": "list",
          "cachedResultName": "system_ropofy_locations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "location_id",
              "value": "ygtUsqeG906cD9c4piwT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "8b8afe04-d0c8-4b6d-af03-a85e9ef360cf",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "tfjc18K49daMASdp",
          "name": "Base de datos APIS"
        }
      }
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/opportunities/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location_id",
              "value": "ygtUsqeG906cD9c4piwT"
            },
            {
              "name": "q",
              "value": "CLIENTIFY"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.token }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "startAfterId",
                    "value": "={{ $response.body.meta.startAfterId }}"
                  },
                  {
                    "name": "startAfter",
                    "value": "={{ $response.body.meta.startAfter }}"
                  },
                  {
                    "type": "headers",
                    "name": "Authorization",
                    "value": "={{ $json.token }}"
                  },
                  {
                    "type": "headers",
                    "name": "version",
                    "value": "2021-07-28"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.opportunities.isEmpty() }}\n",
              "limitPagesFetched": true,
              "maxRequests": 15,
              "requestInterval": 250
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "7e8a6f8c-d16e-460a-a853-723bb61021d6",
      "name": "traer oportunidades clientify"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        520,
        0
      ],
      "id": "70eebdfd-9b77-4562-9938-5cfd63ff9da6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1440,
        20
      ],
      "id": "0a536b5e-fac7-41fd-b7cc-db8dc427c8b8"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.opportunities;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        20
      ],
      "id": "308bce5a-29ba-40e6-8086-7a2012f0a84c",
      "name": "obtener oportunidades individuales"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://services.leadconnectorhq.com/opportunities/{{ $json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Select rows from a table').item.json.token }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 250
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        20
      ],
      "id": "d92db91c-c37e-4469-9171-553a8ecf1822",
      "name": "eliminar oportunidad",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        -100
      ],
      "id": "3ec6875f-8deb-48d4-a16c-da69b29eec0d",
      "name": "Code"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-27T23:51:28.820Z",
  "versionId": "8b66c19f-3cb8-4a30-b50c-8960e85c92cd"
}