ropoflow_workflows_backup2025/08/dzPJUbziuJQj8Vf6.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "obtener credenciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener credenciales": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "enviar contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-28T21:45:30.034Z",
  "id": "dzPJUbziuJQj8Vf6",
  "isArchived": false,
  "meta": null,
  "name": "dolibar auteco",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/dolibar",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7d0f135d-3b45-4d45-acb2-2759e0accd3e",
      "name": "Webhook",
      "webhookId": "75c1b406-5732-4c15-95ce-33ebec9d86e6"
    },
    {
      "parameters": {
        "url": "https://blue.ayconcolombia.com/api/index.php/login?login=Apibile2web&password=b9pZBsWZUqVJ&reset=0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "74e2526c-c05b-4157-a4b9-c3c1abf38656",
      "name": "obtener credenciales"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "747a7d5e-7085-4785-8095-d695dfff2998",
              "leftValue": "={{ $json.success.code }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "2b809a7d-83e8-4cf2-b29c-60e5286e9a4b",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://blue.ayconcolombia.com/api/index.php/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "DOLAPIKEY",
              "value": "={{ $json.success.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity\": \"1\",\n  \"lastname\": \"\",\n  \"firstname\": \"{{ $('Webhook').item.json.body.name }}\",\n  \"email\": \"{{ $('Webhook').item.json.body.email }}\",\n  \"phone_mobile\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"address\": \"Lead from {{ $('Webhook').item.json.body.source }}\",\n  \"note_private\": \"Producto: {{ $('Webhook').item.json.body.product ?? \"\"}} \\n Marca: {{ $('Webhook').item.json.body.brand ?? \"\"}} \\n Cédula: {{ $('Webhook').item.json.body.cedula ?? \"\"}} \\n Cuándo compra: {{ $('Webhook').item.json.body.cuando_compra ?? \"\"}} \\n Tipo de pago: {{ $('Webhook').item.json.body.tipo_pago ?? \"\"}} \\n Uso: {{ $('Webhook').item.json.body.uso ?? \"\"}}\",\n  \"socid\": \"5\",\n  \"array_options\": {\n    \"options_campain\": \"{{ $('Webhook').item.json.body.campaign}}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        -140
      ],
      "id": "49e89f53-d9ae-47ed-94c5-99392f1cc604",
      "name": "enviar contacto"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-08T20:44:21.176Z",
  "versionId": "6acf57e2-f5d3-40fe-9a05-f547ddfbdb2a"
}