ropoflow_workflows_backup2025/08/MbRJYIhpybf6hoFK.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-11T14:24:22.525Z",
  "id": "MbRJYIhpybf6hoFK",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "cron job token",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "5347aa1f-02ac-476a-b8ee-326cd5832919",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/oauth/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "684b3961bcad642c77df51ce-mdomzp0a"
            },
            {
              "name": "client_secret",
              "value": "c151b08c-fc46-4e13-be79-95045ed700f8"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "user_type",
              "value": "Location"
            },
            {
              "name": "redirect_uri",
              "value": "https://orange-coast-0f0df070f.2.azurestaticapps.net/"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.refresh_token }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "30cbb907-2c31-4a3f-9fd2-e7522c01aefa",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "locations",
          "mode": "list",
          "cachedResultName": "locations"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id_location",
              "value": "LsUqOtcJS6xtGj1wAKMn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        0
      ],
      "id": "2d0b61d9-fc12-49b5-b8d5-e0eb6a7cf6ff",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "0cpoMZTJF39eN58b",
          "name": "800.com db"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "locations",
          "mode": "list",
          "cachedResultName": "locations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "refresh_token": "={{ $json.refresh_token }}",
            "token": "={{ $json.access_token }}",
            "id_location": "={{ $json.locationId }}"
          },
          "matchingColumns": [
            "id_location"
          ],
          "schema": [
            {
              "id": "id_location",
              "displayName": "id_location",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "token_800",
              "displayName": "token_800",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        660,
        0
      ],
      "id": "f15d450d-9e1d-422c-902f-c7783d81681b",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "0cpoMZTJF39eN58b",
          "name": "800.com db"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        12
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-25T13:33:16.574Z",
  "versionId": "61d40679-f75f-4118-89e9-7842b099f9fb"
}