ropoflow_workflows_backup2025/08/pniCGyFRwxLB07aA.json
{
  "active": true,
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Llamar workflow de ropofy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Dismerca",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Aburramotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow CentroMotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": " Workflow Credimotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Credimovil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Movimotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Motocredito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Motomovil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Motos del dariend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Moto racing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow SabanaMotos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Evg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Moldex",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Autecoblue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow proyecto inmobiliaria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow dos r",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow proyecto dosR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow marcali",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-01T17:19:38.676Z",
  "id": "pniCGyFRwxLB07aA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sincronizar contactos API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/config/contacts",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1620,
        1400
      ],
      "id": "93e254a6-5d0d-432a-b183-e28d6fb0f47e",
      "name": "Webhook1",
      "webhookId": "83487e01-c79b-4f70-ad24-cd6d1082f603"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "3YGgxqve6cABjE0KCjLs",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6b9839ec-00c2-4f00-bd49-bfefc29be510"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17258690-3881-4089-9457-1338bad879de",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "NQS1rz0YlFTvbXDBx74N",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fdf417e9-1942-41fa-b24f-e09204fea05e",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "znUbwYRqEjRvLx8ZqxLQ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3acccece-da62-4f8d-a9b0-1b9af870f1d6",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "8HL3cRXrHdfv3hyAhFEe",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b8af6cb-643a-4bba-bf2c-02369ad72b00",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "roX1ZpTw16PvN6jSQxGY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "005f9d1a-8a3b-4d5f-8ad5-4f66a1de1322",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "Wqi9fyYUjZI216QVbi2c",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94cdd05e-520d-4f11-aec4-d4d43086eaa5",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "6J8wEWyF2zFLR4Q64kCj",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "968beef7-8483-4281-addb-c956a249e7b0",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "qVpMdtE7WD1nK7gwZWEB",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2036f8f0-48a9-444a-a03d-6ea673a4edff",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "AhqSOjIFwuUWs3E1ikX7",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a38cb711-9514-4b7d-812b-9b87bc565e7b",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "nShm5z1fHOEAcUN0n7fS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0235cf05-cc52-41b6-a7a5-cf24e7534173",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "sEDLGnojxQ5ylRAhEtKr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06122622-5b00-468a-8faf-af26bf7aa3c4",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "Ffry84qYbqnjjBqByHvr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c81b5bf-8af2-415a-8f32-1589e70c8d62",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "7MILzH0XhlEZiyb1OVYN",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d0a00bf-2c6f-4336-93be-27ab1ac2c7bf",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "OLEfHKjZkezljsd63c48",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a28fab53-efd9-4e8c-81b2-16da3ae870ad",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "rJVQMiUdtLFfBO0aToyU",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9466c9e1-b606-4f63-ba96-95e4f8b2d859",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "=ygmZqFWWtWT2NrIe3Rtf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "edd536a3-143e-46c9-b148-af58eecf858b",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "y4xcJQV4laYTBejxivBn",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c06cc117-2be4-40e0-90da-25c49d19abd0",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "y4xcJQV4laYTBejxivBn",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d39e335f-56ef-4820-9f9a-5c751fefcd31",
                    "leftValue": "={{ $json.body.id_location }}",
                    "rightValue": "ID50GJ39dGHTTlrk77Hx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1260,
        1100
      ],
      "id": "0b49fb04-a502-456a-a35b-cc544ee1940c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "C3wQloRLGZ1NhYaK",
          "mode": "list",
          "cachedResultName": "Sincronizacion contactos ROPOFY"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        -300
      ],
      "id": "75525201-3892-4a8d-bdda-54a9d4573af7",
      "name": "Llamar workflow de ropofy"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zhMgG5BCtDLsnrJm",
          "mode": "list",
          "cachedResultName": "Sincronización Contactos Dismerca"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        -100
      ],
      "id": "fcf799f7-0ac9-4e67-aa91-f57334642afb",
      "name": "Workflow Dismerca"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PqKOiyPYslNiEY3f",
          "mode": "list",
          "cachedResultName": "Aburramotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        700
      ],
      "id": "7e044b0c-577c-4981-a741-f539aef51f52",
      "name": "Workflow Aburramotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GVlo8vf5XBYEttoZ",
          "mode": "list",
          "cachedResultName": "Sincronización Contactos CentroMontos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        100
      ],
      "id": "27a29ef9-e97c-4bd3-af39-b28bf6d508a3",
      "name": "Workflow CentroMotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "McFBrQXn137uWcQw",
          "mode": "list",
          "cachedResultName": "Credimotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        300
      ],
      "id": "396fbae8-f646-4066-af92-392d463b3fec",
      "name": " Workflow Credimotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IO2rv8hhnmhsBZCC",
          "mode": "list",
          "cachedResultName": "Credimovil"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        500
      ],
      "id": "f033615b-134f-40d4-bf96-5d4e5696602d",
      "name": "Workflow Credimovil"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "u6qN2uFpTHadiEmj",
          "mode": "list",
          "cachedResultName": "Movimotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        900
      ],
      "id": "22c36468-c7d8-4826-9f1e-3632480c9065",
      "name": "Workflow Movimotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OaTwKjSa0IjcxTnC",
          "mode": "list",
          "cachedResultName": "Motocredito"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        1100
      ],
      "id": "5d831724-8a65-480d-b1a4-015c6eb30241",
      "name": "Workflow Motocredito"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7rVFKstYvxS2FZG3",
          "mode": "list",
          "cachedResultName": "Motomovil"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        1300
      ],
      "id": "0dce75d3-b808-4871-b8b0-6525442a5013",
      "name": "Workflow Motomovil"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "k6Y7JgvsWqqZRoMO",
          "mode": "list",
          "cachedResultName": "Motos del dariend"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        1500
      ],
      "id": "c6487312-d57f-4851-8512-308c2b4a40e5",
      "name": "Workflow Motos del dariend"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AnroUJd5VncaC55A",
          "mode": "list",
          "cachedResultName": "Moto racing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        1700
      ],
      "id": "a5838b43-9b3f-45c8-8c45-0a30ba601940",
      "name": "Workflow Moto racing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Kdhq7iDsKEkJK9Zn",
          "mode": "list",
          "cachedResultName": "SabanaMotos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        1900
      ],
      "id": "e8c731bc-63ca-43dd-b647-af651c43a9bc",
      "name": "Workflow SabanaMotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KNNTK4ggeGoDkOPI",
          "mode": "list",
          "cachedResultName": "Sincronización Contactos Evg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        2300
      ],
      "id": "49c7f531-42fa-4904-80b5-cc94d5459550",
      "name": "Workflow Evg"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rn447Sgyak428KyX",
          "mode": "list",
          "cachedResultName": "Sincronización Contactos Moldex"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        2700
      ],
      "id": "07ef6875-4b93-4e20-ba49-4f4ea91369af",
      "name": "Workflow Moldex"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AyUXFl3jsCU9uNxN",
          "mode": "list",
          "cachedResultName": "Sincronización Contactos Autecoblue"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        2500
      ],
      "id": "05048f3e-9609-4528-aa6e-a74de20c9f40",
      "name": "Workflow Autecoblue"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OhQMZ7VoD6HVInmv",
          "mode": "list",
          "cachedResultName": "Sincronizacion contactos Proyecto inmobiliaria"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        2900
      ],
      "id": "475e0ad4-b464-4147-939a-01de39f5f9b9",
      "name": "Workflow proyecto inmobiliaria"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S7AYCh8pq6R9Di4L",
          "mode": "list",
          "cachedResultName": "sync contacts dosR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        2100
      ],
      "id": "d233fdaf-dc9c-4feb-b731-5f1dd87ae0c9",
      "name": "Workflow proyecto dosR"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S7AYCh8pq6R9Di4L",
          "mode": "list",
          "cachedResultName": "sync contacts dosR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        3100
      ],
      "id": "dcf97ad4-4b77-45b9-b81d-f9e76e7fa51e",
      "name": "Workflow dos r"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xyOvIc7As7Tzr53z",
          "mode": "list",
          "cachedResultName": "Cincronización Contactos Marcali"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -620,
        3320
      ],
      "id": "e6de24ed-8abd-410f-a8b0-a31836f7776d",
      "name": "Workflow marcali"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-17T15:01:46.195Z",
  "versionId": "4594839e-d68f-4f99-8865-bd08498c1c67"
}