ropoflow_workflows_backup2025/08/pydqzUrhgic3t6ao.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get cliente": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get solicitud": {
      "main": [
        [
          {
            "node": "Get cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-29T08:22:39.449Z",
  "id": "pydqzUrhgic3t6ao",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Notificación - Solicitud - Cambio de estado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3969e49f-afee-41fd-9a87-2a510e5a2a82",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "286ac6c7-99fa-401e-8b44-a4f99d76b320",
      "name": "Webhook",
      "webhookId": "3969e49f-afee-41fd-9a87-2a510e5a2a82"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://defaulte67529fc68be4f5baa27edbad4a44b.14.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/a1080fcc51754081b2c20c79d68e8c3a/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1_RMdKwEH4HagYvwkyPReyUPhuczsKyzO45lakiyFu0",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Edit Fields').item.json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        0
      ],
      "id": "6be9c3d0-641e-4b6a-9de1-faee7245df4e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"nombre\": \"{{ $('Get solicitud').item.json.name }}\",\n  \"url\": \"{{ $('Get solicitud').item.json.url }}\",\n  \"date_creado\": \"{{ $('Get solicitud').item.json.property_created_time }}\",\n  \"date_inicio\": \"{{ $('Get solicitud').item.json.property_fecha_de_inicio_fin.start }}\",\n  \"date_fin\": \"{{ $('Get solicitud').item.json.property_fecha_de_inicio_fin.end }}\",\n  \"status\": \"{{ $('Get solicitud').item.json.property_status }}\",\n  \"estimacion\": \"{{ $('Get solicitud').item.json.property_estimaci_n_horas }}\",\n  \"tipo\": \"{{ $('Get solicitud').item.json.property_tipo }}\",\n  \"cliente_nombre\": \"{{ $('Get cliente').item.json.name }}\",\n  \"cliente_img\": \"\",\n  \"solicitante_nombre\": \"{{ $('Webhook').item.json.body.data.properties.Solicitante.people[0].name }}\",\n  \"solicitante_img\": \"{{ $('Webhook').item.json.body.data.properties.Solicitante.people[0].avatar_url }}\",\n  \"solicitante_email\": \"{{ $('Webhook').item.json.body.data.properties.Solicitante.people[0].person.email }}\",\n  \"asignado_nombre\": \"{{ $('Webhook').item.json.body.data.properties['Assigned To'].people[0].name }}\",\n  \"asignado_img\": \"{{ $('Webhook').item.json.body.data.properties['Assigned To'].people[0].avatar_url }}\",\n  \"asignado_email\": \"{{ $('Webhook').item.json.body.data.properties['Assigned To'].people[0].person.email }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "8972ea42-f29c-463c-af5a-1e2ac7530817",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.property_cliente[0] }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "a88bb842-e35d-4a92-ab2d-40dc34d3f94b",
      "name": "Get cliente",
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.body.data.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "6bd92bca-e929-425e-9168-188ae632605b",
      "name": "Get solicitud",
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "NotionAutomation",
            "baggage": "sentry-environment=production,sentry-release=20250911.1656-6c89c78,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=d0ff33dc692840ec8b982b0a53562533",
            "max-forwards": "10",
            "traceparent": "00-2e6ca3a672d7784642bdc43cbd44fd1a-d5cc6bb67e8f7ede-00",
            "sentry-trace": "d0ff33dc692840ec8b982b0a53562533-91a6858c8ad0c8d9",
            "x-arr-log-id": "1a01dd40-070f-422f-a2ac-5cd3ad65a511",
            "client-ip": "35.95.200.202:17651",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 04, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "35.95.200.202:17651",
            "x-original-url": "/webhook/3969e49f-afee-41fd-9a87-2a510e5a2a82",
            "x-waws-unencoded-url": "/webhook/3969e49f-afee-41fd-9a87-2a510e5a2a82",
            "x-client-ip": "35.95.200.202",
            "x-client-port": "17651",
            "content-type": "application/json",
            "content-length": "2245"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "25e8ba98-4c4c-803c-b658-004dcfe7b8f3",
              "action_id": "25e8ba98-4c4c-8059-8221-005a2fbe8ffe",
              "event_id": "4746f9ae-5a39-4354-bd99-f1f5d6a6d32e",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "26a8ba98-4c4c-81d4-96a1-e71b57053c8b",
              "created_time": "2025-09-10T20:39:00.000Z",
              "last_edited_time": "2025-09-11T18:38:00.000Z",
              "created_by": {
                "object": "user",
                "id": "bef2122a-6925-400e-bc19-9e3e508bd37f"
              },
              "last_edited_by": {
                "object": "user",
                "id": "6cb448bb-c4cd-4e3b-a45b-82d27fffc790"
              },
              "cover": null,
              "icon": {
                "type": "emoji",
                "emoji": "🏣"
              },
              "parent": {
                "type": "database_id",
                "database_id": "25d8ba98-4c4c-802d-8025-d47b7c908521"
              },
              "archived": false,
              "in_trash": false,
              "properties": {
                "Assigned To": {
                  "id": "AAAh",
                  "type": "people",
                  "people": [
                    {
                      "object": "user",
                      "id": "242d872b-594c-817c-9474-0002aa91e472",
                      "name": "Erica Cupajita ",
                      "avatar_url": "https://s3-us-west-2.amazonaws.com/public.notion-static.com/400a98f7-b6ba-4bac-b12f-187a4324b179/FOTOS_ERICA_CUPAJITA_(4).png",
                      "type": "person",
                      "person": {
                        "email": "erica@ropofy.com"
                      }
                    }
                  ]
                },
                "Fecha de inicio - fin": {
                  "id": "IwRS",
                  "type": "date",
                  "date": {
                    "start": "2025-09-10",
                    "end": "2025-09-15",
                    "time_zone": null
                  }
                },
                "Status": {
                  "id": "Q%3AiW",
                  "type": "status",
                  "status": {
                    "id": "c85d85ad-60eb-4c7a-bcf0-cf11328df46e",
                    "name": "Solicitado",
                    "color": "gray"
                  }
                },
                "Estimación (horas)": {
                  "id": "S%7DQ%3D",
                  "type": "number",
                  "number": 7
                },
                "Esfuerzo real (horas)": {
                  "id": "t~%40d",
                  "type": "number",
                  "number": null
                },
                "Tipo": {
                  "id": "%7B%5EoP",
                  "type": "select",
                  "select": {
                    "id": "Ddfm",
                    "name": "Booster",
                    "color": "yellow"
                  }
                },
                "Solicitante": {
                  "id": "%7DWaP",
                  "type": "people",
                  "people": [
                    {
                      "object": "user",
                      "id": "6cb448bb-c4cd-4e3b-a45b-82d27fffc790",
                      "name": "Pipe",
                      "avatar_url": "https://s3-us-west-2.amazonaws.com/public.notion-static.com/8d563000-20a0-40d5-b25a-3c55522d98cc/perfil2.jpg",
                      "type": "person",
                      "person": {
                        "email": "felipe@bike2web.com"
                      }
                    }
                  ]
                },
                "Name": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "TEST TES TEST",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "TEST TES TEST",
                      "href": null
                    }
                  ]
                }
              },
              "url": "https://www.notion.so/TEST-TES-TEST-26a8ba984c4c81d496a1e71b57053c8b",
              "public_url": null,
              "request_id": "0c01b50b-59f2-4994-8c92-5d24c70bda3d"
            }
          },
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/3969e49f-afee-41fd-9a87-2a510e5a2a82",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-23T14:50:21.273Z",
  "versionId": "af30d99e-3fed-4a29-b33c-430f91ac43d0"
}