ropoflow_workflows_backup2025/08/zo6IeXSo9TKqqJfy.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Organizar Adjuntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create KIT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Ajuste Kit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create BOOSTER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create KIT": {
      "main": [
        []
      ]
    },
    "Organizar Adjuntos": {
      "main": [
        [
          {
            "node": "Organizar kit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizar kit": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cliente": {
      "main": [
        [
          {
            "node": "쮼xiste el cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear cliente": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쮼xiste el cliente?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create BOOSTER": {
      "main": [
        []
      ]
    },
    "Create Consulta": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Buscar cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-29T05:39:05.409Z",
  "id": "zo6IeXSo9TKqqJfy",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Nueva solicitud",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bf4d2713-e903-4b41-9f59-9429c735d8cb",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        40
      ],
      "id": "4138924f-6fe4-41a9-884c-30aa4ca88211",
      "name": "Webhook",
      "webhookId": "bf4d2713-e903-4b41-9f59-9429c735d8cb"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.customData.tipo }}",
                    "rightValue": "Kit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2826e0a6-a00a-481e-bdfc-c0d72957e1a8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Kit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c5f3a5b-91b1-47e0-abd6-2eb0d3580339",
                    "leftValue": "={{ $('Webhook').item.json.body.customData.tipo }}",
                    "rightValue": "Ajuste Kit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Ajuste Kit }}"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7ff639a-039c-48eb-8924-fc2bea7ad1e4",
                    "leftValue": "={{ $('Webhook').item.json.body.customData.tipo }}",
                    "rightValue": "Booster",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Booster"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b0ca816b-e65e-46c4-a35d-fb1460caabac",
                    "leftValue": "={{ $('Webhook').item.json.body.customData.tipo }}",
                    "rightValue": "Consulta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consulta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1420,
        -40
      ],
      "id": "560c603f-a698-48f4-83b9-3794a4497111",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "25d8ba98-4c4c-802d-8025-d47b7c908521",
          "mode": "list",
          "cachedResultName": "Operaciones",
          "cachedResultUrl": "https://www.notion.so/25d8ba984c4c802d8025d47b7c908521"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $('Webhook').item.json.body.Cliente }}"
            },
            {
              "key": "Tipo|select",
              "selectValue": "Kit"
            },
            {
              "key": "Solicitante|people",
              "peopleValue": "={{ $('Webhook').item.json.body.customData['id_solicitante notion'] }}"
            },
            {
              "key": "Cliente|relation",
              "relationValue": [
                "={{ $('Switch').item.json.id }}"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "Detalle de la solicitud"
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "游녻 Cliente:  ",
                    "annotationUi": {
                      "bold": true
                    }
                  },
                  {
                    "text": "={{ $('Webhook').item.json.body.Cliente }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "游닍 Kit: ",
                    "annotationUi": {
                      "bold": true
                    }
                  },
                  {
                    "text": "={{ $('Organizar kit').item.json.string_adjuntos }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "=游늹 Adjuntos:",
                    "annotationUi": {
                      "bold": false
                    }
                  }
                ]
              }
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $('Organizar Adjuntos').item.json.string_adjuntos }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "type": "heading_3",
              "textContent": "=Descripci칩n"
            },
            {
              "textContent": "={{ $('Webhook').item.json.body.customData.descripcion }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1740,
        -360
      ],
      "id": "be2c0987-71f9-408f-8d89-9501a37e1031",
      "name": "Create KIT",
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "25d8ba98-4c4c-802d-8025-d47b7c908521",
          "mode": "list",
          "cachedResultName": "Operaciones",
          "cachedResultUrl": "https://www.notion.so/25d8ba984c4c802d8025d47b7c908521"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $('Webhook').item.json.body.Asunto }}"
            },
            {
              "key": "Solicitante|people",
              "peopleValue": "={{$('Webhook').item.json.body.customData['id_solicitante notion'].length === 0 ? '88a789e9-d082-4c58-b2da-0346962dd01a' : $('Webhook').item.json.body.customData['id_solicitante notion']}}"
            },
            {
              "key": "Tipo|select",
              "selectValue": "=Booster"
            },
            {
              "key": "Cliente|relation",
              "relationValue": [
                "={{ $('Switch').item.json.id }}"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "Detalle de la solicitud"
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "游녻 Cliente:  ",
                    "annotationUi": {
                      "bold": true
                    }
                  },
                  {
                    "text": "={{ $('Webhook').item.json.body.Cliente }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "=游늹 Adjuntos:",
                    "annotationUi": {
                      "bold": false
                    }
                  }
                ]
              }
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $('Organizar Adjuntos').item.json.string_adjuntos }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "type": "heading_3",
              "textContent": "=Descripci칩n"
            },
            {
              "textContent": "={{ $('Webhook').item.json.body.customData.descripcion }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1740,
        40
      ],
      "id": "215854d8-d072-4e33-b4ed-d0319c0e3847",
      "name": "Create BOOSTER",
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "25d8ba98-4c4c-802d-8025-d47b7c908521",
          "mode": "list",
          "cachedResultName": "Operaciones",
          "cachedResultUrl": "https://www.notion.so/25d8ba984c4c802d8025d47b7c908521"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $('Webhook').item.json.body.Asunto }}"
            },
            {
              "key": "Solicitante|people",
              "peopleValue": "={{ $('Webhook').item.json.body.customData['id_solicitante notion'] }}"
            },
            {
              "key": "Tipo|select",
              "selectValue": "=Consulta"
            },
            {
              "key": "Status|status",
              "statusValue": "=Agendado"
            },
            {
              "key": "Cliente|relation",
              "relationValue": [
                "={{ $('Switch').item.json.id }}"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "Detalle de la solicitud"
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "游녻 Cliente:  ",
                    "annotationUi": {
                      "bold": true
                    }
                  },
                  {
                    "text": "={{ $('Webhook').item.json.body.Cliente }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "=游늹 Adjuntos:",
                    "annotationUi": {
                      "bold": false
                    }
                  }
                ]
              }
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $('Organizar Adjuntos').item.json.string_adjuntos }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "type": "heading_3",
              "textContent": "=Descripci칩n"
            },
            {
              "textContent": "={{ $('Webhook').item.json.body.customData.descripcion }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1740,
        240
      ],
      "id": "4c591861-dbac-40d1-8b92-4417b249dfd2",
      "name": "Create Consulta",
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener los adjuntos desde el input\nlet adjuntos = $input.first().json.body.Anexo;\n\n// Inicializamos el string de la lista\nlet string_adjuntos = '';\n\n// Validar que adjuntos exista y tenga al menos un elemento\nif (adjuntos && Array.isArray(adjuntos) && adjuntos.length > 0) {\n    // Recorremos cada item\n    adjuntos.forEach(item => {\n        // Si el item es v치lido lo agregamos\n        let url = item; // Cambiar \"item\" por item.url si corresponde\n        console.log(url);\n\n        if (url) {\n            string_adjuntos += `- ${url} \\n`;\n            //string_adjuntos += `- [${url}](${url}) \\n`;\n        }\n    });\n} else {\n    // Si no hay adjuntos, pod칠s definir un mensaje por defecto\n    string_adjuntos = 'No se encontraron adjuntos.';\n}\n\n// Retornamos el resultado\nreturn { \"json\": { string_adjuntos: string_adjuntos } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        40
      ],
      "id": "d805a8c5-9629-4472-9145-bad003868b8f",
      "name": "Organizar Adjuntos"
    },
    {
      "parameters": {
        "jsCode": "// Obtener los adjuntos desde el input\nlet adjuntos = $('Webhook').first().json.body.kits\n\n// Inicializamos el string de la lista\nlet string_adjuntos = '';\n\n// Validar que adjuntos exista y tenga al menos un elemento\nif (adjuntos && Array.isArray(adjuntos) && adjuntos.length > 0) {\n    // Recorremos cada item\n    adjuntos.forEach(item => {\n        // Si el item es v치lido lo agregamos\n        let url = item; // Cambiar \"item\" por item.url si corresponde\n        console.log(url);\n\n        if (url) {\n            string_adjuntos += `\\n - ${url}.`;\n            //string_adjuntos += `- [${url}](${url}) \\n`;\n        }\n    });\n} else {\n    // Si no hay adjuntos, pod칠s definir un mensaje por defecto\n    string_adjuntos = 'No se encontraron adjuntos.';\n}\n\n// Retornamos el resultado\nreturn { \"json\": { string_adjuntos: string_adjuntos } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        40
      ],
      "id": "d6416176-c1de-47c7-9afa-cf606c73f98a",
      "name": "Organizar kit"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2668ba98-4c4c-80ca-85e6-e58149118e95",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://www.notion.so/2668ba984c4c80ca85e6e58149118e95"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "ID Cliente|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $('Webhook').item.json.body.customData.id_cliente }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        800,
        -120
      ],
      "id": "5bee79f2-7d67-45f9-a90d-93c8e8c51d11",
      "name": "Buscar cliente",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2668ba98-4c4c-80ca-85e6-e58149118e95",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://www.notion.so/2668ba984c4c80ca85e6e58149118e95"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ID Cliente|rich_text",
              "textContent": "={{ $('Webhook').item.json.body.customData.id_cliente }}"
            },
            {
              "key": "Name|title",
              "title": "={{ $('Webhook').item.json.body.customData.cliente }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1220,
        180
      ],
      "id": "d65a3817-b1a4-4a1d-929f-fb2f236cc420",
      "name": "Crear cliente",
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "190c9392-8444-4e06-b33b-05f1ea090e1a",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        -120
      ],
      "id": "7ac6e8b1-eccc-45c1-ba02-b1c4528703e4",
      "name": "쮼xiste el cliente?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8872f86a-a552-4777-90a5-d5e0d123d33a",
              "leftValue": "={{ $('Webhook').item.json.body.customData.id_cliente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        580,
        40
      ],
      "id": "bab8414c-ee77-4a78-898f-ccd9a2c26fdc",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "25d8ba98-4c4c-802d-8025-d47b7c908521",
          "mode": "list",
          "cachedResultName": "Operaciones",
          "cachedResultUrl": "https://www.notion.so/25d8ba984c4c802d8025d47b7c908521"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "=Ajuste - {{ $('Webhook').item.json.body.Cliente }}"
            },
            {
              "key": "Solicitante|people",
              "peopleValue": "={{ $('Webhook').item.json.body.customData['id_solicitante notion'] }}"
            },
            {
              "key": "Tipo|select",
              "selectValue": "=Ajuste Kit"
            },
            {
              "key": "Cliente|relation",
              "relationValue": [
                "={{ $('Switch').item.json.id }}"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "Detalle de la solicitud"
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "游녻 Cliente:  ",
                    "annotationUi": {
                      "bold": true
                    }
                  },
                  {
                    "text": "={{ $('Webhook').item.json.body.Cliente }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "=游늹 Adjuntos:",
                    "annotationUi": {
                      "bold": false
                    }
                  }
                ]
              }
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $('Organizar Adjuntos').item.json.string_adjuntos }}",
                    "annotationUi": {}
                  }
                ]
              }
            },
            {
              "type": "heading_3",
              "textContent": "=Descripci칩n"
            },
            {
              "textContent": "={{ $('Webhook').item.json.body.customData.descripcion }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1740,
        -140
      ],
      "id": "cbd033ab-09ad-4fe1-b5f9-e304e0f09154",
      "name": "Create Ajuste Kit",
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "axios/1.7.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "max-forwards": "10",
            "traceparent": "00-d3e7b7422c8e753f066a01f2e44e0f9d-4d0bccc1928fbf70-00",
            "x-arr-log-id": "c9bf8b3b-b155-4fe9-8296-6310910f33d2",
            "client-ip": "35.184.156.195:35726",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 04, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "35.184.156.195:35726",
            "x-original-url": "/webhook/bf4d2713-e903-4b41-9f59-9429c735d8cb",
            "x-waws-unencoded-url": "/webhook/bf4d2713-e903-4b41-9f59-9429c735d8cb",
            "x-client-ip": "35.184.156.195",
            "x-client-port": "35726",
            "content-type": "application/json",
            "content-length": "9280"
          },
          "params": {},
          "query": {},
          "body": {
            "ACEPTA TERMINOS Y CONDICIONES": "",
            "Estado": "",
            "Lead Score": "",
            "Observaci칩n": "",
            "Ropofy es f치cil de usar": "",
            "Country_name": "",
            "File Upload 2gqp": "",
            "쮺u치les de estas necesidades tienes actualmente?": "",
            "Cuenta Paypal": "",
            "Marca": "",
            "Cu칠ntanos los detalles, industria y necesidades del cliente": "",
            "Tu opini칩n es muy importante para nosotros. Por favor d칠janos tus comentarios 游땕": "",
            "쯋tilizas actualmente o has utilizado alg칰n Software de Seguimiento Comercial?": "",
            "Ad_group": "",
            "4. An치lisis de Resultados": "",
            "Fecha": "",
            "3.\tEstoy satisfecho con el soporte recibido por el equipo de Ropofy.": "",
            "Tamano equipo Inmobiliarias": "",
            "Referido por": "",
            "쮼st치s buscando un software o aplicaci칩n que te ayude a gestionar una o varias 치reas de tu negocio?": "",
            "Evaluaci칩n consultor칤a inicial (aceleracion)": "",
            "Radio 326qd": "",
            "Referidos": "",
            "쮺uando quisieras implementar la herramienta/software/CRM que estas buscando?": "",
            "id_user_nps": "",
            "Score 2lip": "",
            "쮼st치s asistiendo a los talleres en vivo de los jueves?": "",
            "Asesor": "",
            "Anexo": "",
            "Pagina de origen": "",
            "6.\tEn funci칩n de tu experiencia con Ropofy hasta el momento, 쯤u칠 probabilidad hay de que nos recomiendes a un amigo, familiar o colega? Califica tu respuesta en una escala de 0 a 10, donde 0 significa 'Nada probable' y 10 'Totalmente probable'.": "",
            "1. Gesti칩n de la Reputaci칩n Online": "",
            "Plan activo": "",
            "쮺uentas con m치s de 3 personas en tu equipo comercial, o de atenci칩n a clientes?": "",
            "Uso de Plataformas Publicitarias": "",
            "M칠todo de pago": "",
            "Radio 33e6x": "",
            "N칰mero intentos llamada": "",
            "Plan pagado por el cliente": "",
            "Asunto": "Informe de BOT",
            "Client problems": "",
            "Nombre de la empresa del cliente referido": "",
            "lead muy calificado": "",
            "C칩digo referidor": "",
            "Certificaci칩n bancaria": "",
            "2.\t쯈u칠 tan probable es que recomiendes Ropofy a un familiar o amig@?": "",
            "쮺u치ndo quisieras implementar la herramienta/software/CRM  que est치s buscando?": "",
            "Radio 20q5x": "",
            "NPS": "",
            "Lead Score - Inmboliaria": "",
            "Element": "",
            "쮺칩mo te podemos apoyar para que puedas vender y referirnos exitosamente?": "",
            "Event time": "",
            "Reminders": "",
            "쮺칩mo te pareci칩 nuestro Master Class?": "",
            "Event date": "",
            "1. Captura de Datos de Contacto": "",
            "Radio 2526d": "",
            "3. Presupuesto Publicitario": "",
            "Errores": "",
            "1.\tEstoy satisfecho con el acompa침amiento y la capacitaci칩n brindados por el equipo de Ropofy. ": "",
            "RUT": "",
            "쮺uentas con un presupuesto superior a 500 mil pesos mensuales (130 usd/mes)  para invertir en herramientas o sistemas de marketing y ventas?": "",
            "Descripcion": "Se requiere un detalle de Leads de los 칰ltimos 3 meses, Cantidad de leads desbordados, nuevos desarrollos, Embudo de ventas del BOT",
            "Radio 23ek1": "",
            "4.\tRopofy ha tenido un impacto significativo en la optimizaci칩n de mis procesos empresariales.": "",
            "Acompa침amiento y capacitaci칩n": "",
            "쯊rabajas en empresa o eres independiente?": "",
            "쯊e gustar칤a recibir informaci칩n sobre otros productos y servicios de Ropofy?": "",
            "Observaciones set up (kit de implementaci칩n) de 1 a 3 estrellas": "",
            "El soporte t칠cnico es bueno y oportuno": "",
            "쮺on qu칠 frecuencia utilizas Ropofy?": "",
            "Cu칠ntanos tus dudas, inquietudes o temas que quisieras profundizar con nosotros": "",
            "쮺onsideras que Ropofy ha mejorado la forma en que realizas tus procesos?": "",
            "Evaluaci칩n tras estar en 칩rbita": "",
            "Single Line 37ke4": "",
            "o\tRopofy es un sistema estable (no se cae ni tiene errores)": "",
            "쯈u칠 volumen de conversaciones tienes al mes?": "",
            "General Source": "",
            "Alg칰n comentario adicional": "",
            "Ad_type": "",
            "Industria ": "",
            "Evaluaci칩n proceso comercial - Mariana": "",
            "Cu치l es tu cargo en la empresa": "",
            "Origen": "",
            "Evaluaci칩n sesi칩n de despegue": "",
            "Radio 18j8g": "",
            "Please enter any questions you may have below so we can address them during the webinar.": "",
            "Medium": "",
            "1. Frecuencia de Reactivaci칩n": "",
            "Observaciones proceso comercial (de 1 a 3 estrellas)": "",
            "Observaciones sesi칩n de conexiones (de 1 a 3 estrellas)": "",
            "Radio 315b6": "",
            "Pa칤s": "",
            "o\tEl soporte t칠cnico es bueno y oportuno.": "",
            "Observaciones tras estar en 칩rbita (de 1 a 3 estrellas)": "",
            "Evaluaci칩n sesi칩n de conexiones": "",
            "2. Organizaci칩n de la Base de Datos": "",
            "쮺u치ntos asesores comerciales tienes o cuantos usuarios necesitar칤as?": "",
            "Confirmo que mi cliente me autoriz칩 a entregar sus datos y a ser contactado para agendar demo con Ropofy.": "",
            "2.\tLa plataforma de Ropofy es intuitiva y f치cil de usar.": "",
            "Radio 29bao": "",
            "쮸 qu칠 industria pertenece tu compa침칤a?": "",
            "CRM usado - Inmobiliarias": "",
            "Ropofy carga r치pidamente.": "",
            "쮺u치nto dura en promedio el proceso de venta?": "",
            "Horas": "",
            "Join link": "",
            "Comentarios": "",
            "Observaciones sesi칩n despegue (de 1 a 3 estrellas)": "",
            "Tipo de solicitud": "Booster",
            "Nombre de la empresa del partner": "",
            "Rol en Ropofy": "",
            "Nombre completo del contacto principal del referido": "",
            "Partner": "",
            "2. Segmentaci칩n de Audiencias": "",
            "Certificado de c치mara de comercio": "",
            "UTM": "",
            "Rol": "",
            "쮺칩mo vas en estas primeras semanas como partner?": "",
            "쮺u치les son los temas a revisar?": "",
            "Intencion CRM Inmobiliarias": "",
            "Nombre sub-cuenta Ropofy": "",
            "Observaciones consultor칤a inicial  (aceleracion) (de 1 a 3 estrellas)": "",
            "Campaign": "",
            "Si eres de Colombia 쯊rabajas con empresa o independiente?": "",
            "Subindustria": "",
            "쮺u치nto presupuesto tienes para este software?": "",
            "campo_extra_nombre": "",
            "Comentarios NPS": "",
            "Single Line 44xgs": "",
            "Cuenta de PayPal - Los pagos de las comisiones son por este medio": "",
            "Miembro del Equipo": "",
            "Producto": "",
            "Radio 26wae": "",
            "쯋tilizas actualmente Ropofy?": "",
            "Cantidad de opciones P3": "",
            "쮿ay algo puntual que necesites de nosotros?": "",
            "Evaluaci칩n Set up (kits de implementaci칩n)": "",
            "Location Id account": "",
            "5.\t쯈u칠 funcionalidades adicionales te gustar칤a que Ropofy incorpore o mejore?": "",
            "Link referidor": "",
            "Detalles de Matias BOT": "",
            "Estoy de acuerdo con los T칠rminos y Condiciones de la Red Ropofy y con el tratamiento de datos de personales. (Encontrados en nuestro sitio web)": "",
            "GPT Detalles Matias BOT": "",
            "Usuario Activo Ropofy": "",
            "Industria o sector - Matias": "",
            "Asesores - Matias": "",
            "Implementacion - Matias": "",
            "Presupuesto - Matias": "",
            "Cargo": "",
            "Transcripci칩n": "",
            "Kit": "",
            "Cliente": "Dismerca",
            "Status Lead Score ": "",
            "ID Notion": "",
            "kits": "",
            "Cuando tiene pensado la compra": "",
            "Id Cliente": "NQS1rz0YlFTvbXDBx74N",
            "contact_id": "O538QH9kTVIpbtUJxJCA",
            "full_name": "",
            "email": "lortega@auteco.com",
            "tags": "",
            "country": "CA",
            "timezone": "America/Bogota",
            "date_created": "2025-09-22T16:38:07.000Z",
            "contact_source": "soporte it - nueva solicitud",
            "full_address": "",
            "contact_type": "lead",
            "location": {
              "name": "Ropofy",
              "address": "5500 N Service Rd #801",
              "city": "Burlington",
              "state": "Ontario",
              "country": "CA",
              "postalCode": "L7L 6W6",
              "fullAddress": "5500 N Service Rd #801, Burlington Ontario L7L 6W6",
              "id": "3YGgxqve6cABjE0KCjLs"
            },
            "workflow": {
              "id": "36920cb0-cf5a-4025-bd6f-3817f76e8105",
              "name": "Soporte IT - Nueva solicitud"
            },
            "triggerData": {},
            "contact": {
              "attributionSource": {
                "sessionSource": "Referral",
                "url": "https://web.ropofy.com/operaciones-solicitud?tipo_de_solicitud=Booster",
                "campaign": null,
                "utmSource": null,
                "utmMedium": null,
                "utmContent": null,
                "utmTerm": null,
                "utmKeyword": null,
                "utmMatchtype": null,
                "referrer": "https://statics.teams.cdn.office.net",
                "gclid": null,
                "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0",
                "ip": "181.143.58.10",
                "gaClientId": null,
                "gaSessionId": null,
                "medium": "form",
                "mediumId": "3yiYpgvnZ5OftIYgNrRx",
                "adName": null,
                "adGroupId": null,
                "adId": null,
                "gbraid": null,
                "wbraid": null
              },
              "lastAttributionSource": {
                "sessionSource": "Referral",
                "url": "https://web.ropofy.com/operaciones-solicitud?tipo_de_solicitud=Booster",
                "utmSource": null,
                "utmMedium": null,
                "utmContent": null,
                "utmTerm": null,
                "utmKeyword": null,
                "utmMatchtype": null,
                "referrer": "https://statics.teams.cdn.office.net",
                "gclid": null,
                "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0",
                "ip": "181.143.58.10",
                "gaClientId": null,
                "gaSessionId": null,
                "medium": "form",
                "mediumId": "3yiYpgvnZ5OftIYgNrRx",
                "adName": null,
                "adGroupId": null,
                "adId": null,
                "gbraid": null,
                "wbraid": null
              }
            },
            "attributionSource": {
              "sessionSource": "Referral",
              "url": "https://web.ropofy.com/operaciones-solicitud?tipo_de_solicitud=Booster",
              "campaign": null,
              "utmSource": null,
              "utmMedium": null,
              "utmContent": null,
              "utmTerm": null,
              "utmKeyword": null,
              "utmMatchtype": null,
              "referrer": "https://statics.teams.cdn.office.net",
              "gclid": null,
              "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0",
              "ip": "181.143.58.10",
              "gaClientId": null,
              "gaSessionId": null,
              "medium": "form",
              "mediumId": "3yiYpgvnZ5OftIYgNrRx",
              "adName": null,
              "adGroupId": null,
              "adId": null,
              "gbraid": null,
              "wbraid": null
            },
            "customData": {
              "solicitante_phone": "",
              "tipo": "Booster",
              "kit": "",
              "asunto": "Informe de BOT",
              "descripcion": "Se requiere un detalle de Leads de los 칰ltimos 3 meses, Cantidad de leads desbordados, nuevos desarrollos, Embudo de ventas del BOT",
              "anexo": "",
              "cliente": "Dismerca",
              "solicitante_id_notion": "",
              "id_cliente": "NQS1rz0YlFTvbXDBx74N",
              "id_solicitante notion": ""
            }
          },
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/bf4d2713-e903-4b41-9f59-9429c735d8cb",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-23T14:23:17.850Z",
  "versionId": "06fcc2c6-1092-465a-86c0-aab50f79d1e1"
}