ropoflow_workflows_backup2026/01/anAw5yML8axk16pO.json
{
  "active": true,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete table or rows1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "listar productos auteco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listar productos auteco": {
      "main": [
        [
          {
            "node": "por categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "por categoria": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sacar id_products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sacar id_products": {
      "main": [
        [
          {
            "node": "producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "producto": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "variation": {
      "main": [
        [
          {
            "node": "tvs?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Traer skus por product id": {
      "main": [
        [
          {
            "node": "variation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Traer skus por product id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "por categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "producto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        []
      ]
    },
    "obtener precio auteco": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "precio autecobase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tvs?": {
      "main": [
        [
          {
            "node": "obtener precio auteco",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "obtener precio mobility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener precio mobility": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "precio autecobase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "precio autecobase": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        []
      ]
    },
    "Execute Workflow2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Delete table or rows1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-19T14:40:31.066Z",
  "id": "anAw5yML8axk16pO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "API auteco -> DB [CRONJOB]",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        -60
      ],
      "id": "7d574894-ec97-46cd-a9e0-72a298cf0bd4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://autecomobility.vtexcommercestable.com.br/api/pricing/prices/98765",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-VTEX-API-AppKey",
              "value": "<APPKEY_MOBILITY>"
            },
            {
              "name": "X-VTEX-API-AppToken",
              "value": "<APPTOKEN_MOBILITY>"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        540
      ],
      "id": "9a224b0c-6803-4796-926d-0dac47bcdece",
      "name": "listar productos por id mobility"
    },
    {
      "parameters": {
        "url": "=https://auteco.vtexcommercestable.com.br/api/catalog_system/pvt/sku/stockkeepingunitByProductId/{{ $('producto').item.json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-VTEX-API-AppKey",
              "value": "vtexappkey-auteco-CHZDEF"
            },
            {
              "name": "X-VTEX-API-AppToken",
              "value": "AGFSFTJLCXODGQSTJLIOIRJFKLNPXJXDHFUOLSQRCKZEOVZEDDHOGGLIWZHTGUNSZKVBVDHQUQLXREROLILUCJXBULRLKXLIWHFDZYIAWQTPUNRSITHXITQQNUHJLVGX"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 300
            }
          },
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        -180
      ],
      "id": "2ae12555-a345-4778-a673-87b46aded8a6",
      "name": "Traer skus por product id",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = [\n  { id: 2, category_id: 8, name: \"Bicicletas Electricas\", active: 1 },\n  { id: 3, category_id: 344, name: \"Moto Carros\", active: 1 },\n  { id: 4, category_id: 153, name: \"Motos Electricas\", active: 1 },\n  { id: 5, category_id: 317, name: \"Patinetas Electricas\", active: 1 },\n  { id: 6, category_id: 95, name: \"Motos Urbanas\", active: 1 },\n  { id: 7, category_id: 92, name: \"Motos Alta Gama\", active: 1 },\n  { id: 8, category_id: 89, name: \"Motos Moped o Semiautomaticas\", active: 1 },\n  { id: 9, category_id: 88, name: \"Motos Deportivas\", active: 1 },\n  { id: 10, category_id: 87, name: \"Motos todo Terreno\", active: 1 },\n  { id: 11, category_id: 85, name: \"Motos Scooter - Automaticas\", active: 1 },\n  { id: 12, category_id: 408, name: \"Motos Touring\", active: 1 },\n  { id: 13, category_id: 84, name: \"Motos\", active: 1 },\n  { id: 492, category_id: 343, name: \"Vehiculos de carga\", active: 1 }\n];\n\n// 🔥 solo activos === 1\nreturn data\n  .filter(item => item.active === 1)\n  .map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        -60
      ],
      "id": "9f9b8a1e-fcd0-4f30-895c-4fc31ab4abdb",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "https://auteco.vtexcommercestable.com.br/api/catalog_system/pvt/products/GetProductAndSkuIds",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "_from",
              "value": "1"
            },
            {
              "name": "_to",
              "value": "200"
            },
            {
              "name": "categoryId",
              "value": "={{ $json.category_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-VTEX-API-AppKey",
              "value": "vtexappkey-auteco-CHZDEF"
            },
            {
              "name": "X-VTEX-API-AppToken",
              "value": "AGFSFTJLCXODGQSTJLIOIRJFKLNPXJXDHFUOLSQRCKZEOVZEDDHOGGLIWZHTGUNSZKVBVDHQUQLXREROLILUCJXBULRLKXLIWHFDZYIAWQTPUNRSITHXITQQNUHJLVGX"
            },
            {
              "name": "X-VTEX-API-AppToken",
              "value": "AGFSFTJLCXODGQSTJLIOIRJFKLNPXJXDHFUOLSQRCKZEOVZEDDHOGGLIWZHTGUNSZKVBVDHQUQLXREROLILUCJXBULRLKXLIWHFDZYIAWQTPUNRSITHXITQQNUHJLVGX"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "=_from",
                    "value": "={{$response.body.range.to}}"
                  },
                  {
                    "name": "_to",
                    "value": "={{$response.body.range.to + 200}}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.data.isEmpty() || ($response.body.range.total < $response.body.range.to)}}",
              "limitPagesFetched": true,
              "maxRequests": 10,
              "requestInterval": 300
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -60
      ],
      "id": "bdaf729e-8955-4186-940e-d9a2c69e1b17",
      "name": "listar productos auteco"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        -55
      ],
      "id": "92c7cb87-4815-47a7-add0-62c12b34e40e",
      "name": "por categoria"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data;\n\nconst result = Object.keys(data).map((key) => {\n  return {\n    item: {\n      id: Number(key)\n    }\n  };\n});\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        20
      ],
      "id": "902cdb78-95f3-4f82-9142-0d31151cf70b",
      "name": "sacar id_products"
    },
    {
      "parameters": {
        "url": "=https://auteco.vtexcommercestable.com.br/api/catalog/pvt/product/{{ $json.item.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-VTEX-API-AppKey",
              "value": "vtexappkey-auteco-CHZDEF"
            },
            {
              "name": "X-VTEX-API-AppToken",
              "value": "AGFSFTJLCXODGQSTJLIOIRJFKLNPXJXDHFUOLSQRCKZEOVZEDDHOGGLIWZHTGUNSZKVBVDHQUQLXREROLILUCJXBULRLKXLIWHFDZYIAWQTPUNRSITHXITQQNUHJLVGX"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 300
            }
          },
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        20
      ],
      "id": "cd496f7e-e54a-4d1a-a835-d66ef70d036e",
      "name": "producto",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://auteco.vtexcommercestable.com.br/api/catalog_system/pvt/sku/stockkeepingunitbyid/{{ $json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-VTEX-API-AppKey",
              "value": "vtexappkey-auteco-CHZDEF"
            },
            {
              "name": "X-VTEX-API-AppToken",
              "value": "AGFSFTJLCXODGQSTJLIOIRJFKLNPXJXDHFUOLSQRCKZEOVZEDDHOGGLIWZHTGUNSZKVBVDHQUQLXREROLILUCJXBULRLKXLIWHFDZYIAWQTPUNRSITHXITQQNUHJLVGX"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        -280
      ],
      "id": "72e67357-69a4-4a47-808a-838e55609083",
      "name": "variation",
      "retryOnFail": true,
      "notesInFlow": false,
      "onError": "continueErrorOutput",
      "notes": "test"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9d6330f-5bae-4111-858b-4639138d0cb7",
              "leftValue": "={{ $json.IsActive }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "5eed7c8c-34ab-4f22-a41c-0a6fe7077226",
              "leftValue": "={{ $json.IsVisible }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        -60
      ],
      "id": "a7ae82ff-9cf1-44ba-a485-07d5bcf9e615",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        -140
      ],
      "id": "2bcd8553-e022-4599-a61c-d07ccd6a0816",
      "name": "Code2"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4700,
        80
      ],
      "id": "d501df86-9d6f-432a-a9f3-7b865fed3567",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        4900,
        200
      ],
      "id": "1de5385f-dce8-41d4-b1c3-0589622358fc",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "=https://auteco.vtexcommercestable.com.br/api/catalog/pvt/product/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-VTEX-API-AppKey",
              "value": "vtexappkey-auteco-CHZDEF"
            },
            {
              "name": "X-VTEX-API-AppToken",
              "value": "AGFSFTJLCXODGQSTJLIOIRJFKLNPXJXDHFUOLSQRCKZEOVZEDDHOGGLIWZHTGUNSZKVBVDHQUQLXREROLILUCJXBULRLKXLIWHFDZYIAWQTPUNRSITHXITQQNUHJLVGX"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 300
            }
          },
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        -420
      ],
      "id": "8e11eaea-4073-4b69-a41f-8a48594eec8d",
      "name": "producto1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "let productsJuntos = $input.all();\nlet products = [];\n\nproductsJuntos.forEach((page) => {\n  Object.keys(page.json.data).forEach((id) => {\n    products.push({ id });\n  });\n});\n\nreturn products;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -420
      ],
      "id": "dd03a773-0ccd-47a5-93b0-7d52aeb182dd",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "conectar esto a listar prpductos para obtener todos los productos con su informacion, solo de prueba"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        -600
      ],
      "typeVersion": 1,
      "id": "bfbbbc98-055a-46f2-95a1-e2e89752df44",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst name = (item.NameComplete || \"\").toLowerCase();\n\nif (name.includes(\"tvs\")) {\n  return [\n    {\n      json: {\n        ...item,\n        api: \"mobility\"\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        ...item,\n        api: \"auteco\"\n      }\n    }\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        -580
      ],
      "id": "d3419b3a-9943-4b09-82d6-c60e16006c29",
      "name": "Code3"
    },
    {
      "parameters": {
        "url": "=https://autecosas.vtexcommercestable.com.br/api/pricing/prices/{{ $json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-VTEX-API-AppKey",
              "value": "vtexappkey-autecosas-TISABX"
            },
            {
              "name": "X-VTEX-API-AppToken",
              "value": "ZIEVBCVIYUTPLMKRNFPULYLGBARDAEKFFDBKHCWBUMPWHZCXDHXIBJSOFRSLCKPNDBQXYABMIEMZURDRHLTPUHKDKLJSTELUTYFCRZQCGNPCIGNRFJAREDCDHEFLHXDK"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        -460
      ],
      "id": "bd782d18-af95-4473-9bba-9c54a9edec39",
      "name": "obtener precio auteco",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "747d7f5b-49cd-43b4-976d-c07f76db331e",
              "leftValue": "={{ $json.BrandName }}",
              "rightValue": "TVS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        -300
      ],
      "id": "2e4ea75a-68eb-40bd-a26c-dc29c3f3cade",
      "name": "tvs?"
    },
    {
      "parameters": {
        "url": "=https://api.vtex.com/autecomobility/pricing/prices/{{ $json.Id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-VTEX-API-AppKey",
              "value": "vtexappkey-autecomobility-UFYEEF"
            },
            {
              "name": "X-VTEX-API-AppToken",
              "value": "PKNVCOVBYJBERKGPOLSVOWLKXQKCHBNATXCJFJNEURQUIEZTLTHRRNENSSBXFTOWWMCMGAHDURLKNOMMYTAOBQVXEFONLPASJOREXOTKSDXEXDWTSBXOTXBFXNTHKHBG"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        -240
      ],
      "id": "adca6ea8-4f8c-406c-ac92-240c945678fc",
      "name": "obtener precio mobility",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://auteco.vtexcommercestable.com.br/api/pricing/prices/{{ $json.itemId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-VTEX-API-AppKey",
              "value": "vtexappkey-auteco-CHZDEF"
            },
            {
              "name": "X-VTEX-API-AppToken",
              "value": "AGFSFTJLCXODGQSTJLIOIRJFKLNPXJXDHFUOLSQRCKZEOVZEDDHOGGLIWZHTGUNSZKVBVDHQUQLXREROLILUCJXBULRLKXLIWHFDZYIAWQTPUNRSITHXITQQNUHJLVGX"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3560,
        -500
      ],
      "id": "437143f2-83e2-461a-942a-37ca2ba41e9f",
      "name": "precio autecobase",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "h6gwQCntOpqS9PUd",
          "mode": "list",
          "cachedResultName": "Guardar productos [SUBWORKFLOW]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        -340
      ],
      "id": "40a5630e-6396-4b1f-8cb8-5c9e595cb8d8",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vJHloaHTnsGqG1rF",
          "mode": "list",
          "cachedResultName": "Guardar variaciones [SUBWORKFLOW]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4420,
        -220
      ],
      "id": "f7ca2792-9135-4005-bb14-f260866c9bcc",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9e02c57-945c-4b95-849d-2e27cce95904",
              "name": "=variation",
              "value": "={{ $('variation').item.json}}",
              "type": "object"
            },
            {
              "id": "75a7c6fb-b122-45a9-9191-6c72c342f07f",
              "name": "price",
              "value": "={{$json.basePrice}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4120,
        -220
      ],
      "id": "bbcce782-6c23-41a1-ac4d-1ce7f043d141",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "products_variations",
          "mode": "list",
          "cachedResultName": "products_variations"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -180,
        -300
      ],
      "id": "f70a36ea-f509-4a0b-8b64-d70e1385ff32",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "BvoUGHaG1IynNmiH",
          "name": "Ropoflow db"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "productos_auteco",
          "mode": "list",
          "cachedResultName": "productos_auteco"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -180,
        -500
      ],
      "id": "61990e4e-a92a-4647-bfe3-fbd8eac8efef",
      "name": "Delete table or rows1",
      "credentials": {
        "postgres": {
          "id": "BvoUGHaG1IynNmiH",
          "name": "Ropoflow db"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -740,
        -360
      ],
      "id": "ade6f94f-063a-4fe9-a286-6ea13b3d02eb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:e6054ca4534d482c986110809ae05204@thread.v2",
          "mode": "list",
          "cachedResultName": "Notificaciones Integraciones (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Ae6054ca4534d482c986110809ae05204%40thread.v2/0?tenantId=e67529fc-68be-4f5b-aa27-edbad4a44b14"
        },
        "message": "=Auteco --> DB (DONE)",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        900,
        -280
      ],
      "id": "660660af-b0fd-42df-8940-67a6b5358f94",
      "name": "Create chat message",
      "webhookId": "97173f2f-ef7d-44e2-9924-e530df7ac6d4",
      "executeOnce": true,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "ZN6rkGlpvuVkKKom",
          "name": "Microsoft Teams account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-10T20:00:01.460Z",
  "versionId": "0d16d03a-809e-47c3-9586-339cb9a30902"
}