ropoflow_workflows_backup2026/01/Hmt8p8UxWIyFG63V.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2026-01-09T13:47:16.506Z",
  "id": "Hmt8p8UxWIyFG63V",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Get SAS Locations - suscripción",
  "nodes": [
    {
      "parameters": {
        "path": "36de6883-b64f-42d9-bd4a-f163bcfc3687",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        -80
      ],
      "id": "3fab7109-4b61-428c-b3b9-adc79c9089a3",
      "name": "Webhook",
      "webhookId": "36de6883-b64f-42d9-bd4a-f163bcfc3687"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "system_ropofy_agencies",
          "mode": "list",
          "cachedResultName": "system_ropofy_agencies"
        },
        "where": {
          "values": [
            {
              "column": "company_id",
              "value": "1XnoZddSkArrsZCIiiZE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        180,
        -80
      ],
      "id": "591a28f7-a521-4868-8881-606e7a4610b4",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "tfjc18K49daMASdp",
          "name": "Base de datos APIS"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/saas-api/public-api/agency-plans/1XnoZddSkArrsZCIiiZE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Select rows from a table').first().json.token }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 500
            }
          },
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -80
      ],
      "id": "3ed49c26-15d4-4033-b063-f9b560013c64",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-09T16:42:17.395Z",
  "versionId": "e736b30c-f574-4a8e-bbe8-915ebc412e75"
}