ropoflow_workflows_backup2026/03/4zJOjFtf2l8mtPyE.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many database pages2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-26T21:39:58.066Z",
  "id": "4zJOjFtf2l8mtPyE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "API - GET Planes Kits",
  "nodes": [
    {
      "parameters": {
        "path": "planes-kits",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "37bc1ced-9b3e-4dd7-97dd-36d532c08c1b",
      "name": "Webhook",
      "webhookId": "aeea13d3-6eb9-4298-a246-baa7cf8abb6b"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "32f8ba98-4c4c-8073-a791-c554a50ed930",
          "mode": "list",
          "cachedResultName": "Plans Kits I+D",
          "cachedResultUrl": "https://www.notion.so/32f8ba984c4c8073a791c554a50ed930"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Kits - I+D|relation",
              "condition": "contains",
              "relationValue": "={{ $json.query.kit }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        -120
      ],
      "id": "a5ea0796-5ea6-4316-b925-7774d21d43bd",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Inicializamos el array que contendrá los kits\nlet elementos = [];\n\n// Recorremos todos los items que recibimos\nfor (let item of items) {\n    // Añadimos cada item tal como está a nuestro array 'kits'\n    elementos.push(item.json);\n}\n\n// Retornamos el array de kits unificado con todos los datos de cada item\nreturn [{ json: { elementos } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        -360
      ],
      "id": "683577a1-02ac-4f85-8a92-f3a4e8c94f21",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f77d1ced-d2c9-44a6-b82a-ccbed0a67787",
              "leftValue": "={{ $json.query.kit }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "5aa094cf-006e-4d88-8234-00c3971365ab",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Inicializamos el array que contendrá los kits\nlet elementos = [];\n\n// Recorremos todos los items que recibimos\nfor (let item of items) {\n    // Añadimos cada item tal como está a nuestro array 'kits'\n    elementos.push(item.json);\n}\n\n// Retornamos el array de kits unificado con todos los datos de cada item\nreturn [{ json: { elementos } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        80
      ],
      "id": "e312d09d-9dbb-42c5-a866-623152a33aae",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// Inicializamos el array que contendrá los kits\nlet elementos = [];\n\n// Recorremos todos los items que recibimos\nfor (let item of items) {\n    // Añadimos cada item tal como está a nuestro array 'kits'\n    elementos.push(item.json);\n}\n\n// Retornamos el array de kits unificado con todos los datos de cada item\nreturn [{ json: { elementos } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -120
      ],
      "id": "4d7bde30-4d2b-4420-a64d-8e70c5c665d9",
      "name": "Code2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "32f8ba98-4c4c-8073-a791-c554a50ed930",
          "mode": "list",
          "cachedResultName": "Plans Kits I+D",
          "cachedResultUrl": "https://www.notion.so/32f8ba984c4c8073a791c554a50ed930"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        80
      ],
      "id": "c00fb56a-7b20-422a-a96e-59731e6da39c",
      "name": "Get many database pages2",
      "credentials": {
        "notionApi": {
          "id": "Kipfztru4Y3rb4o1",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "*/*",
            "host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-CO,es;q=0.9,en-US;q=0.8,en;q=0.7,es-419;q=0.6",
            "if-none-match": "W/\"ac3-X7oI1G5zEVRE8Q//gO3d7r5Pi/o\"",
            "max-forwards": "10",
            "origin": "https://web.ropofy.com",
            "referer": "https://web.ropofy.com/",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Google Chrome\";v=\"145\", \"Chromium\";v=\"145\"",
            "sec-ch-ua-mobile": "?0",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "x-arr-log-id": "3277bb72-d7d6-44f7-9491-5b4880a30cd2",
            "client-ip": "190.68.198.39:53037",
            "disguised-host": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-site-deployment-id": "ropoflow",
            "was-default-hostname": "ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net",
            "x-forwarded-proto": "https",
            "x-appservice-proto": "https",
            "x-arr-ssl": "2048|256|CN=Microsoft Azure RSA TLS Issuing CA 04, O=Microsoft Corporation, C=US|CN=*.azurewebsites.net, O=Microsoft Corporation, L=Redmond, S=WA, C=US",
            "x-forwarded-tlsversion": "1.3",
            "x-forwarded-for": "190.68.198.39:53037",
            "x-original-url": "/webhook/solicitudes-elemntos_kit?kit=3268ba98-4c4c-80d6-b4cd-c9049e98ec54",
            "x-waws-unencoded-url": "/webhook/solicitudes-elemntos_kit?kit=3268ba98-4c4c-80d6-b4cd-c9049e98ec54",
            "x-client-ip": "190.68.198.39",
            "x-client-port": "53037"
          },
          "params": {},
          "query": {
            "kit": "3268ba98-4c4c-80d6-b4cd-c9049e98ec54"
          },
          "body": {},
          "webhookUrl": "https://ropoflow-c4acfzgsbqa5bfad.canadacentral-01.azurewebsites.net/webhook/solicitudes-elemntos_kit",
          "executionMode": "production"
        }
      }
    ]
  },
  "repo_name": "ropoflow_workflows_backup",
  "repo_owner": "sebastianOrtizRopofy",
  "repo_path": "ropoflow_workflows_backup",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-26T21:45:35.198Z",
  "versionId": "0122138a-3ef2-4a8f-a501-fdbf187fb3e8"
}